
<div class="lefter">
    <div class="logo"><img style="height: 40px" src="/admin/static/images/logo.png" alt="后台管理系统" /></div>
</div>
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
                <a class="button button-little bg-yellow" href="login.html">注销登录</a>
            </span>
            <ul class="nav nav-inline admin-nav">
                <li v-class="active:f.key == amenu"  v-repeat="f in func" >
                    <a href="#/{{f.key}}" class="{{f.class}}"> {{f.name}}</a>
                    <ul>
                        <li v-class="active:c.key==bmenu" v-repeat="c in f.child"><a href="#/{{f.key}}/{{c.key}}">{{c.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，管理员，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="#/{{bread1.key}}" class="{{bread1.class}}">&nbsp;{{bread1.name}}</a></li>
                <li class="{{bread2.class}}">&nbsp;
                    <template v-if="!bread3.name">
                            {{bread2.name}}
                    </template>
                    <template v-if="bread3.name">
                        <a href="#/{{bread1.key}}/{{bread2.key}}">
                            {{bread2.name}}
                        </a>
                    </template>
                </li>
                <li  class="{{bread3.class}}">&nbsp;{{bread3.name}}</li>
            </ul>
        </div>
    </div>
</div>
