@import url("./bootstrap.css");
body{ padding-top:90px;}
.footer { margin-top:36px;padding-top:18px;border-top:1px dotted #ccc; }
.box{
	background-color: #fbfbfb;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
.well{-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}

#main .items .item { padding:18px;border-bottom:1px solid #ccc;margin-bottom:-1px; }

#page-home .box{border: none;background: none;}
#page-home #functions .span4{ padding:18px 0; }
#page-home #functions .span4 h3 {margin-bottom:18px;}
#page-home #functions .span4 p {padding: 3em 1em;font-size:13px;color:#666;}
