<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item" :class="{'mui-active':view=='order'}" v-link="{path:'/order'}">
        <span class="mui-icon mui-icon-phone"></span>
        <span class="mui-tab-label" >订餐</span>
    </a>
    <a class="mui-tab-item" :class="{'mui-active':view=='list'}" v-link="{path:'/list'}">
        <span class="mui-icon mui-icon-compose"></span>
        <span class="mui-tab-label">订单</span>
    </a>
    <a class="mui-tab-item" :class="{'mui-active':view=='notice'}" v-link="{path:'/notice'}">
        <span class="mui-icon mui-icon-list"></span>
        <span class="mui-tab-label">公告</span>
    </a>
    <a class="mui-tab-item" :class="{'mui-active':view=='config'}" v-link="{path:'/config'}">
        <span class="mui-icon mui-icon-person"></span>
        <span class="mui-tab-label">我的</span>
    </a>
</nav>
