<header class="mui-bar-nav mui-bar">
    <h5 class="mui-title">订单列表</h5>
</header>
<div class="mui-content">

    <ul class="mui-table-view">
        <li style="text-align: center" v-show="count ==0">
            暂无订单
        </li>
        <li class="mui-table-view-cell mui-media" v-for="l in list.orders" v-if="l.state>0">
            <a class="mui-navigate-right" @click="goTo(l)">
                <div class="mui-media-body">
                    {{l.mdate}} {{l.mtime=="lunch"?"午餐":"晚餐"}}
                    <p class='mui-ellipsis'>{{l.table.no}}号桌({{l.table.type==0?"大厅":"包厢"}})  {{l.number}}人</p>
                </div>
                <span class="mui-badge mui-badge-primary" v-if="l.menu.length>0">已点餐</span>
            </a>
        </li>
    </ul>
</div>

<c-nav view="list"></c-nav>