<div>
    <div class="panel admin-panel">
        <div class="container-layout">
            <div class="line" style="text-align: center;background-color: #0062cc">
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
                <div class="x1">x1</div>
            </div>
        </div>
    </div>
</div>