<div class="page-food">
    <span class="mui-badge mui-badge-red"  id="badge" style="display: none;position: absolute;z-index: 1000">1</span>

    <header class="mui-bar mui-bar-nav" v-if="view=='menu'">
        <h5 class="mui-title ">
            结算:¥{{total}}
        </h5>
        <a class="mui-btn-link  mui-pull-right" v-show="mode!='all'" href="#picture">
            编辑
        </a>
        <a class="mui-btn-link  mui-pull-right" v-show="mode=='all'" href="#picture">
            取消订单
        </a>
        <a class="mui-icon mui-icon-back" v-link="{path:'/list/food'}" >
        </a>
    </header>
    <header class="mui-bar mui-bar-nav" v-if="view=='list'">
        <h5 class="mui-title ">
            结算:¥{{total}}
        </h5>

        <a class="mui-icon mui-icon-back" v-link="{path:'/list/food'}" >

        </a>
    </header>
    <div class="mui-content" v-show="view=='list'" >
        <div class="left-nav">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" v-for="t in types" :class="{'active':selectType==t.key}"  @click="onSelectType(t)">
                    {{t.value}}
                </li>
            </ul>
        </div>
        <div class="right-list">
            <div class="mui-loading" v-show="list.length==0">
                <div class="mui-spinner">
                    <div class="mui-spinner-indicator mui-spinner-indicator12"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator11"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator10"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator9"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator8"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator7"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator6"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator5"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator4"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator3"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator2"></div>
                    <div class="mui-spinner-indicator mui-spinner-indicator1"></div>
                </div>
            </div>
            <ul class="mui-table-view" id="menu-container" v-show="list.length>0">
                <li class="mui-table-view-cell mui-media" v-for="l in list" v-show="l.type == selectType"  track-by="$index" >
                    <template v-for="p in l.picture" >
                        <img class="mui-media-object mui-pull-left menu-img" data-lazyload={{'/data/image/'+p+'/60/60.json'}} data-preview-src="{{'/data/image/'+p+'/1000/1000.json'}}"  data-preview-group="{{l._id}}" v-if="$index==0">
                        <img class="mui-media-object mui-pull-left" style="display: none" src="" data-preview-src="{{'/data/image/'+p+'/1000/1000.json'}}" data-preview-group="{{l._id}}"    v-if="$index>0">
                    </template>
                    <div class="mui-media-body">
                        {{l.name}} <span class="dz"><img src="/order/static/images/dz.png" alt="">{{l.star}}</span>
                        <p class='mui-ellipsis-2'>{{l.cates.join(",")}}</p>
                    </div>
                    <p class="f-info">
                        <span class="f-price">¥{{l.price}}</span>/{{l.unit}}
                    <span class="mui-numbox mui-pull-right" v-show="!l.overtime">
                        <button class="mui-btn mui-numbox-btn-minus" type="button" :disabled="!l.number" @click="onMinusNum(l)" >-</button>
                        <input class="mui-numbox-input" type="number" :value="l.number" />
                        <button class="mui-btn mui-numbox-btn-plus" type="button" @click="onPlusNum(l,$event)">+</button>
                    </span>
                    <span class="mui-pull-right mui-badge" v-show="l.overtime">已过预定时间</span>
                    </p>
                </li>
            </ul>
        </div>
    </div >

    <div class="mui-content l-menu" v-show="view=='menu'">
        <div class="weui_cells weui_cells_access" style="margin-bottom: 10px;">
            <div class="weui_cell weui_cell_select weui_select_after">
                <div class="weui_cell_hd">
                    <label for="" class="weui_label">就餐人数</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select :disabled="mode!='all'" :style="{color:mode!='all'?'#8f8f94':'#000'}" class="weui_select"  style="padding: 0 30px 0 15px;margin-bottom: 0;" v-model="number">
                        <option v-for="r in 20" value="{{r+1}}">{{r+1}}人</option>
                    </select>
                </div>
            </div>
            <div class="weui_cell  ">
                <div class="weui_cell_hd"><label class="weui_label">上菜时间</label></div>
                <div class="weui_cell_bd weui_cell_primary" @click="onPickTime" >
                    <span class="weui_input" type="text" :style="{color:mode!='all'?'#8f8f94':'#000'}" v-text="remark||'请选择'" ></span>
                    <div class="weui_cell_ft" style="float: right">
                    </div>
                </div>
            </div>
        </div>

        <ul class="mui-table-view">
            <li class="mui-table-view-cell mui-media" v-for="l in list" v-show="l.number>0" >
                <template v-for="p in l.picture" >
                    <img class="mui-media-object mui-pull-left  menu-img" :src="'/data/image/'+p+'/60/60.json'" data-preview-src="{{'/data/image/'+p+'/1000/1000.json'}}" data-preview-group="{{'o_'+l._id}}"  v-if="$index==0">
                    <img class="mui-media-object mui-pull-left" style="display: none" src="" data-preview-src="{{'/data/image/'+p+'/1000/1000.json'}}"  data-preview-group="{{'o_'+l._id}}"    v-if="$index>0">
                </template>
                <div class="mui-media-body">
                    {{l.name}} <span class="dz"><img src="/order/static/images/dz.png" alt="">{{l.star}}</span><span class="mui-pull-right"  v-show="mode!='all'">{{l.number}} {{l.unit}}</span>
                    <p class='mui-ellipsis-2'>{{l.cates.join(",")}}</p>
                </div>
                <p class="f-info">
                    <span class="f-price">¥{{l.price}}</span>/{{l.unit}}

                    <span class="mui-numbox mui-pull-right" v-show="mode=='all'" v-if="!l.overtime">
                        <button class="mui-btn mui-numbox-btn-minus" type="button" :disabled="!l.number" @click="onMinusNum(l)" >-</button>
                        <input class="mui-numbox-input" type="number" :value="l.number" />
                        <button class="mui-btn mui-numbox-btn-plus" type="button" @click="onPlusNum(l,$event)">+</button>
                    </span>
                    <span class="mui-pull-right mui-badge" v-show="l.overtime">已过退订时间</span>
                </p>
                <p class="mui-ellipsis">
                    <input type="text" v-show="mode=='all'"  v-model="l.remark" placeholder="请填写备注信息,例如口味,要求。" style="margin-bottom: 0;margin-top: 5px;border: 1px solid rgba(0, 0, 0, 0.1)">
                    <span v-show="mode!='all'">{{l.remark}}</span>
                </p>
            </li>

            <li class="mui-table-view-divider" v-show="count==0"  @click="onChangeView('list')"  >
                请先点菜
            </li>

        </ul>
        <!--<div class="weui_cells_title">备注信息</div>-->
        <!--<div class="weui_cells weui_cells_form">-->
            <!--<div class="weui_cell">-->
                <!--<div class="weui_cell_bd weui_cell_primary">-->
                    <!--<textarea  style="padding: 0" v-model="remark" class="weui_textarea" placeholder="可以填写您的口味或其他需求" rows="3"></textarea>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="b-submit" >
           <div class="col-md-6">
               <button  class="mui-btn mui-btn-block mui-btn-success" :disabled="disabled" v-show="mode=='all'"  @click="onSubmit">
               提交订单
            </button>
           </div>
            <div class="col-md-6">
                <a  class="mui-btn mui-btn-block mui-btn-info" v-show="mode=='all'" v-link="{path:'/list'}">
                    返回订单
                </a>
            </div>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab"  >
        <a class="mui-tab-item"   :class="{'mui-active':view=='list'}" v-show="mode=='all'"  @click="onChangeView('list')" >
            <span class="mui-icon mui-icon-list"></span>
            <span class="mui-tab-label">菜单</span>
        </a>
        <a class="mui-tab-item"  :class="{'mui-active':view=='menu'}" @click="onChangeView('menu')" >
        <span id="dest" class="mui-icon mui-icon-compose">
            <span  class="mui-badge mui-badge-primary" transition="bounceIn" v-show="count>0">{{count}}</span>
        </span>
            <span class="mui-tab-label">已点</span>
        </a>
    </nav>


    <div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="javascript:;" @click="onEditAll">修改订单</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="javascript:;" @click="onCancel">取消订单</a>
            </li>
        </ul>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="#picture"><b>取消</b></a>
            </li>
        </ul>
    </div>

    <c-ok @ok-click="onOkClick" :content="ok.content"  transition="zoom" v-if="ok.show"></c-ok>
</div>