.page-food .left-nav {
  position: fixed;
  width: 80px;
  left: 0;
  top: 45px;
  bottom: 50px;
  overflow-y: auto;
  background-color: #FAFAFA;
}
.page-food .left-nav .mui-table-view .mui-table-view-cell {
  border-right: 1px solid #efefef;
  background-color: #FAFAFA;
  font-size: 14px;
}
.page-food .left-nav .mui-table-view .mui-table-view-cell.active {
  border-right: none;
  background-color: #fff;
}
.page-food .left-nav .mui-table-view .mui-table-view-cell:after {
  left: 0;
}
.page-food .right-list {
  margin-left: 80px;
  overflow-y: auto;
  padding-bottom: 50px;
}
.page-food .right-list .mui-table-view .mui-media-body {
  font-size: 15px;
}
.page-food .right-list .mui-table-view .mui-table-view-cell:after {
  left: 0;
}
.page-food .right-list .mui-table-view .f-info {
  margin-top: 10px;
}
.page-food .right-list .mui-table-view .f-info .f-price {
  font-size: 22px;
}
.page-food .right-list .mui-table-view .mui-numbox {
  height: 25px;
}
.page-food .right-list .mui-table-view .mui-media-body .dz {
  font-size: 14px;
  color: #8f8f94;
}
.page-food .right-list .mui-table-view .mui-media-body .dz img {
  height: 15px;
}
.page-food .l-menu {
  margin-left: 80px;
  overflow-y: auto;
  padding-bottom: 50px;
  margin-left: 0;
}
.page-food .l-menu .mui-table-view .mui-media-body {
  font-size: 15px;
}
.page-food .l-menu .mui-table-view .mui-table-view-cell:after {
  left: 0;
}
.page-food .l-menu .mui-table-view .f-info {
  margin-top: 10px;
}
.page-food .l-menu .mui-table-view .f-info .f-price {
  font-size: 22px;
}
.page-food .l-menu .mui-table-view .mui-numbox {
  height: 25px;
}
.page-food .l-menu .mui-table-view .mui-media-body .dz {
  font-size: 14px;
  color: #8f8f94;
}
.page-food .l-menu .mui-table-view .mui-media-body .dz img {
  height: 15px;
}
.page-food .l-menu .mui-table-view-divider {
  text-align: center;
}
.page-food .b-submit {
  padding: 20px 10px;
}
.page-food .b-submit .mui-btn {
  padding: 10px;
}
