<div class="page-food">
    <span class="mui-badge mui-badge-red"  id="badge" style="display: none;position: absolute;z-index: 1000">1</span>

    <header class="mui-bar mui-bar-nav" v-if="view=='menu'">
        <h5 class="mui-title ">
            结算:¥{{total}}
        </h5>
        <a class="mui-btn-link mui-pull-right" v-show="!expire"  @click="onRemoveAll">
            清空
        </a>
        <a class="mui-btn-link mui-pull-right" v-show="expire" >
            已过期
        </a>
        <a class="mui-icon mui-icon-back" v-link="{path:'/list'}" >
        </a>
    </header>
    <header class="mui-bar mui-bar-nav" v-if="view=='list'">
        <h5 class="mui-title ">
            结算:¥{{total}}
        </h5>
        <a class="mui-btn-link mui-pull-right" v-show="!expire"  @click="onCancel">
            取消订单
        </a>
        <a class="mui-icon mui-icon-back" v-link="{path:'/list'}" >

        </a>
    </header>
    <div class="mui-content" v-show="view=='list'" >


        <div class="left-nav">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" v-for="t in types" :class="{'active':selectType==t.key}"  @click="onSelectType(t)">
                    {{t.value}}
                </li>
            </ul>
        </div>
        <div class="right-list">
            <ul class="mui-table-view" id="menu-container">
                <li class="mui-table-view-cell mui-media" v-for="l in list" v-show="l.type == selectType" >
                    <template v-for="p in l.picture" >
                        <img class="mui-media-object mui-pull-left" data-lazyload={{'/data/image/'+p+'/60/60.json'}} data-preview-src="{{'/data/image/'+p+'.json'}}"  data-preview-group="{{l._id}}" v-if="$index==0">
                        <img class="mui-media-object mui-pull-left" style="display: none" src="" data-preview-src="{{'/data/image/'+p+'.json'}}" data-preview-group="{{l._id}}"    v-if="$index>0">
                    </template>
                    <div class="mui-media-body">
                        {{l.name}} <span class="dz"><img src="/order/static/images/dz.png" alt="">{{l.star}}</span>
                        <p class='mui-ellipsis'>{{l.cates.join(",")}}</p>
                    </div>
                    <p class="f-info">
                        <span class="f-price">¥{{l.price}}</span>/{{l.unit}}
                    <span class="mui-numbox mui-pull-right">
                        <button class="mui-btn mui-numbox-btn-minus" type="button" :disabled="!l.number" @click="onMinusNum(l)" >-</button>
                        <input class="mui-numbox-input" type="number" :value="l.number" />
                        <button class="mui-btn mui-numbox-btn-plus" type="button" @click="onPlusNum(l,$event)">+</button>
                    </span>

                    </p>
                </li>
            </ul>
        </div>
    </div >

    <div class="mui-content l-menu" v-if="view=='menu'">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell mui-media" v-for="l in list" v-if="l.number>0" >
                <template v-for="p in l.picture" >
                    <img class="mui-media-object mui-pull-left" :src="'/data/image/'+p+'/60/60.json'" data-preview-src="{{'/data/image/'+p+'.json'}}" data-preview-group="{{'o_'+l._id}}"  v-if="$index==0">
                    <img class="mui-media-object mui-pull-left" style="display: none" src="" data-preview-src="{{'/data/image/'+p+'.json'}}"  data-preview-group="{{'o_'+l._id}}"    v-if="$index>0">
                </template>
                <div class="mui-media-body">
                    {{l.name}} <span class="dz"><img src="/order/static/images/dz.png" alt="">{{l.star}}</span>
                    <p class='mui-ellipsis'>{{l.cates.join(",")}}</p>
                </div>
                <p class="f-info">
                    <span class="f-price">¥{{l.price}}</span>/{{l.unit}}
                    <span class="mui-numbox mui-pull-right" v-show="!expire">
                        <button class="mui-btn mui-numbox-btn-minus" type="button" :disabled="!l.number" @click="onMinusNum(l)" >-</button>
                        <input class="mui-numbox-input" type="number" :value="l.number" />
                        <button class="mui-btn mui-numbox-btn-plus" type="button" @click="onPlusNum(l,$event)">+</button>
                    </span>
                    <span v-show="expire" @click="onDz(l,$event)" class=" mui-pull-right"><img src="/order/static/images/dz.png" alt=""></span>
                </p>
            </li>

            <li class="mui-table-view-divider" v-show="count==0"  @click="onChangeView('list')"  >
                请先点菜
            </li>
        </ul>
        <div class="b-submit"  v-show="count>0">
            <button v-show="!expire"  class="mui-btn mui-btn-block mui-btn-success" :disabled="disabled" @click="onSubmit">
                提交
            </button>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab"  v-show="!expire"  >
        <a class="mui-tab-item"   :class="{'mui-active':view=='list'}"  @click="onChangeView('list')" >
            <span class="mui-icon mui-icon-list"></span>
            <span class="mui-tab-label">菜单</span>
        </a>
        <a class="mui-tab-item"  :class="{'mui-active':view=='menu'}" @click="onChangeView('menu')" >
        <span id="dest" class="mui-icon mui-icon-compose">
            <span  class="mui-badge mui-badge-primary" v-show="count>0">{{count}}</span>
        </span>
            <span class="mui-tab-label">已点</span>
        </a>
    </nav>
</div>