<div class="page-search" >
    <div class="mui-control-content mui-active">
        <header class="mui-bar-nav mui-bar">
            <h5 class="mui-title">
                班车查询
            </h5>
        </header>
        <div class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <h5 class="mui-content-padded">出发时间</h5>
                <div class="mui-card">
                    <form class="mui-input-group">
                        <div class="mui-input-row mui-radio" v-repeat="d in date" v-on="click:onSelectDate(d)">
                            <label>{{d.text}}</label>
                            <input name="radio1" type="radio" >
                        </div>
                    </form>
                </div>
                <h5 class="mui-content-padded">目的地</h5>
                <div class="mui-card">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell" v-on="click:onSearch('昌江')">
                            <a class="mui-navigate-right">
                                前往昌江
                            </a>
                        </li>
                        <li class="mui-table-view-cell" v-on="click:onSearch('海口')">
                            <a class="mui-navigate-right">
                                前往海口
                            </a>
                        </li>
                    </ul>
                </div>
                <h5 class="mui-content-padded">&nbsp;</h5>
            </div>
        </div>
    </div>
    <c-nav view="search">
    </c-nav>
</div>