<nav class="mui-bar mui-bar-tab"  >
    <a class="mui-tab-item" v-class="mui-active:view =='search'" v-on="click:onClick('#search')">
        <span class="mui-icon mui-icon-search"></span>
        <span class="mui-tab-label">搜索</span>
    </a>
    <a class="mui-tab-item" v-class="mui-active:view =='order'" v-on="click:onClick('#order')"  >
        <span class="mui-icon icon-font  mui-icon-phone"></span>
        <span class="mui-tab-label">订单</span>
    </a>
    <a class="mui-tab-item" v-class="mui-active:view =='validate'"  v-on="click:onClick('#validate')">
        <span class="mui-icon mui-icon-compose"></span>
        <span class="mui-tab-label">验票</span>
    </a>
    <a class="mui-tab-item" v-class="mui-active:view =='config'" v-on="click:onClick('#config')">
        <span class="mui-icon mui-icon-list"></span>
        <span class="mui-tab-label">服务</span>
    </a>
</nav>