<div class="page-service">
    <div class="mui-control-content mui-active">
        <header class="mui-bar-nav mui-bar">
            <h5 class="mui-title">
                验票
            </h5>
        </header>
        <div class="mui-content  mui-scroll-wrapper">
            <div class="mui-scroll">
                <h5 v-if="list.length==0" style="text-align: center;margin-top:100px;">注：出发前半小时开始验票</h5>

                <div v-repeat="l in list" v-show="list.length>0" class="mui-card twinkling" style="padding: 8px;margin-top:20px;">
                    <h5 style="text-align: right;padding-top: 5px;">
                        <span style="font-size: 16px;font-weight: bold;color: #000;float: left">{{l.user.name}}</span>
                        <span style="color: #666;">{{l.user.department}}{{l.user.unit}}</span>
                    </h5>
                    <div style="text-align: center;color: red;font-weight: bold;font-size: 25px;margin: 10px 0;font-weight: bold;">
                        {{l.bus.name}} {{l.seat.sn}}号座
                    </div>
                    <div >
                        <span>   {{l.bus.line}}</span><span style="float: right">{{l.bus.goff}} 开</span>
                    </div>
                    <div style="text-align: right">
                        <h5>{{l.date}} </h5>
                    </div>
                    <h5 style="text-align: center">

                    </h5>

                </div>
            </div>
        </div>

    </div>
    <c-nav view="validate"></c-nav>
</div>