<div class="page-food">
    <span class="mui-badge mui-badge-red"  id="badge" style="display: none;position: absolute;z-index: 1000">1</span>

    <header class="mui-bar mui-bar-nav" v-if="view=='menu'">
        <h5 class="mui-title ">
            结算:¥{{total}}
        </h5>
        <a class="mui-btn-link mui-pull-right" v-if="oid&&mode!='all'" href="#goods-sheet" >
            编辑
        </a>
        <a class="mui-icon mui-icon-back" v-link="{path:'/list/goods'}" >
        </a>
    </header>
    <header class="mui-bar mui-bar-nav" v-if="view=='list'">
        <h5 class="mui-title ">
            结算:¥{{total}}
        </h5>
        <a class="mui-btn-link mui-pull-right" v-if="oid"   @click="onCancel">
            取消订单
        </a>
        <a class="mui-icon mui-icon-back" v-link="{path:'/order'}" >

        </a>
    </header>
    <div class="mui-content" v-show="view=='list'" >

        <div class="left-nav">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" v-for="t in types" :class="{'active':selectType==t.key}"  @click="onSelectType(t)">
                    {{t.value}}
                </li>
            </ul>
        </div>
        <div class="right-list">
            <ul class="mui-table-view" id="menu-container">
                <li class="mui-table-view-cell mui-media" v-for="l in list" v-show="l.type == selectType" >
                    <template v-for="p in l.picture" >
                        <img class="mui-media-object mui-pull-left menu-img" data-lazyload={{'/data/image/'+p+'/60/60.json'}} data-preview-src="{{'/data/image/'+p+'/1000/1000.json'}}"  data-preview-group="{{l._id}}" v-show="$index==0">
                        <img class="mui-media-object mui-pull-left" style="display: none" src="" data-preview-src="{{'/data/image/'+p+'/1000/1000.json'}}" data-preview-group="{{l._id}}"    v-if="$index>0">
                    </template>
                    <div class="mui-media-body">
                        {{l.name}}
                    </div>
                    <p class="f-info">
                        <span class="f-price">¥{{l.price}}</span>/{{l.unit}}
                    <span class="mui-numbox mui-pull-right">
                        <button class="mui-btn mui-numbox-btn-minus" type="button" :disabled="!l.number" @click="onMinusNum(l)" >-</button>
                        <input class="mui-numbox-input" type="number" :value="l.number" />
                        <button class="mui-btn mui-numbox-btn-plus" type="button" @click="onPlusNum(l,$event)">+</button>
                    </span>

                    </p>
                </li>
            </ul>
        </div>
    </div >

    <div class="mui-content l-menu" v-if="view=='menu'">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell mui-media" v-for="l in list" v-if="l.number>0" >
                <template v-for="p in l.picture" >
                    <img class="mui-media-object mui-pull-left  menu-img" :src="'/data/image/'+p+'/60/60.json'" data-preview-src="{{'/data/image/'+p+'/1000/1000.json'}}" data-preview-group="{{'o_'+l._id}}"  v-if="$index==0">
                    <img class="mui-media-object mui-pull-left" style="display: none" src="" data-preview-src="{{'/data/image/'+p+'/1000/1000.json'}}"  data-preview-group="{{'o_'+l._id}}"    v-if="$index>0">
                </template>
                <div class="mui-media-body">
                    {{l.name}} <span v-if="mode!='all'" class="mui-pull-right">{{l.number}}{{l.unit}}</span>
                </div>
                <p class="f-info">
                    <span class="f-price">¥{{l.price}}</span>/{{l.unit}}
                    <span class="mui-numbox mui-pull-right"  v-show="mode=='all'">
                        <button class="mui-btn mui-numbox-btn-minus" type="button" :disabled="!l.number" @click="onMinusNum(l)" >-</button>
                        <input class="mui-numbox-input" type="number" :value="l.number" />
                        <button class="mui-btn mui-numbox-btn-plus" type="button" @click="onPlusNum(l,$event)">+</button>
                    </span>
                </p>
            </li>

            <li class="mui-table-view-divider" v-show="count==0"  @click="onChangeView('list')"  >
                没有货物预定
            </li>
        </ul>
        <div class="b-submit" v-if="mode=='all'"  v-show="count>0">
            <button  class="mui-btn mui-btn-block mui-btn-success" :disabled="disabled" @click="onSubmit">
                提交订单
            </button>
            <button  class="mui-btn mui-btn-block mui-btn-info"  @click="onBackList">
                返回列表
            </button>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab"  >
        <a class="mui-tab-item" v-show="mode=='all'"   :class="{'mui-active':view=='list'}"  @click="onChangeView('list')" >
            <span class="mui-icon mui-icon-list"></span>
            <span class="mui-tab-label">货单</span>
        </a>
        <a class="mui-tab-item"  :class="{'mui-active':view=='menu'}" @click="onChangeView('menu')" >
        <span id="dest" class="mui-icon mui-icon-compose">
            <span  class="mui-badge mui-badge-primary" v-show="count>0"  transition="bounceIn" >{{count}}</span>
        </span>
            <span class="mui-tab-label">已点</span>
        </a>
    </nav>


    <div id="goods-sheet" class="mui-popover mui-popover-action mui-popover-bottom">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="javascript:;" @click="onEditAll">修改订单</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="javascript:;" @click="onCancel">取消订单</a>
            </li>
        </ul>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="#goods-sheet"><b>取消</b></a>
            </li>
        </ul>
    </div>

    <c-ok v-if="ok.show" @ok-click="onOkClick" :content="ok.content" transition="zoom"></c-ok>
</div>