<div class="page-order">
    <div class="mui-control-content mui-active">
        <header class="mui-bar-nav mui-bar">
            <h5 class="mui-title">
                订单列表
            </h5>
            <a class="mui-icon mui-icon-refresh mui-pull-right" v-on="tap:reload"></a>
        </header>
        <div class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <h5 style="padding-left: 15px;">订单</h5>
                <ul class="mui-table-view mui-list">
                    <li class="mui-table-view-cell mui-media" v-repeat="o in order">
                        <img style="width: 42px;" class="mui-media-object mui-pull-left" v-attr="src:o.bus.src||'/admin/static/images/128.png'">
                        <div class="mui-media-body">
                            <h4>
                                {{o.bus.sn}} {{o.bus.destination}}
                            </h4>
                            <p>{{o.date}} {{o.bus.goff}} {{o.seat.sn}}号座位</p>
                        </div>
                        <button class="mui-btn mui-btn-positive mui-btn-outlined" v-on="tap:unSub(o)">
                            退订
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <c-nav view="order">
    </c-nav>
</div>