<div class="page-order">
    <div class="mui-control-content mui-active">
        <header class="mui-bar-nav mui-bar">
            <h5 class="mui-title">
                已选列表
            </h5>
            <a class="mui-icon mui-icon-refresh mui-pull-right" v-on="click:reload"></a>
        </header>
        <div class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view mui-list">
                    <div v-repeat="tickets in order">
                        <li class="mui-table-view-divider">{{tickets.date}}</li>
                        <li class="mui-table-view-cell mui-media" v-repeat="o in tickets.data">
                            <a>
                                <img style="width: 42px;" class="mui-media-object mui-pull-left" v-attr="src:o.bus.src||'/admin/static/images/128.png'">
                                <div class="mui-media-body">
                                    <h4 style="color: blue;font-weight: bold;font-size: 20px;"> {{o.bus.line}}</h4>
                                    <p class="mui-ellipsis">{{o.user.name}}<span v-show="o.source" class="mui-badge mui-badge-warning">代</span> {{o.bus.name}} {{o.seat.sn}}座 {{o.bus.goff}} 出发</p>
                                </div>
                                <button v-show="canRefund(o)" class="mui-btn mui-btn-negative mui-btn-outlined" v-on="click:unSub(o)">
                                    退订
                                </button>

                                <span v-show="!canRefund(o)" class="mui-badge">已过期</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <c-nav view="order">
    </c-nav>
</div>