@-webkit-keyframes slideInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-moz-keyframes slideInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes slideInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.slideInDown-transition {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

.slideInDown-enter {
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  animation-name: slideInDown; }

.slideInDown-leave {
  display: none; }
