<div class="mui-content">
    <div class="weui_cells_title"> {{order.mdate}} {{order.mtime=='dinner'?"晚餐":"午餐"}} {{order.table.no}}号座</div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media" v-for="m in order.menu">
            <img  v-if="m.picture.length>0" style="min-width: 42px;"  class="mui-media-object mui-pull-left" :src="'/data/image/'+m.picture[0]+'/60/60.json'" alt="">

            <!--<img  v-if="m.picture.length==0" class="mui-media-object mui-pull-left" src="/static/images/60x60.gif" alt="">-->

            <div class="mui-media-body">
                    {{m.name}}

                <a href="javascript:;" v-if="m.visible!=-1" class="mui-btn-link mui-pull-right" @click="onDz(m)">点赞</a>
                <p class="mui-ellipsis">
                    {{m.number}}/{{m.unit}}
                </p>
            </div>
        </li>
        <li class="mui-table-view" style="text-align: center" v-show="order.menu.length==0">
            您没有点菜
        </li>
    </ul>
</div>