<div class="page-menu">
    <div class="panel panel-default  content">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-left">
                <li role="presentation" :class="{active:view=='list'}" @click="changeView('list')"><a href="javascript:;">
                    菜品</a></li>
                <li role="presentation" :class="{active:view=='type'}" @click="changeView('type')"><a href="javascript:;">
                    分类</a></li>
            </ul>
            <a v-show="view=='list'" href="javascript:;" class="btn pull-right" @click="onAdd">
                <span class="glyphicon glyphicon-plus"></span>
                新增菜品
            </a>
            <a v-show="view=='type'" href="javascript:;" class="btn pull-right" @click="onAddType">
                <span class="glyphicon glyphicon-plus"></span>
                新增类型
            </a>
        </div>
        <div v-show="view=='list'" class="panel-body">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>
                        #
                    </th>
                    <th>图片
                    </th>
                    <th>
                        名称
                    </th>
                    <th>
                        分类
                    </th>
                    <th>
                        标签
                    </th>
                    <th>
                        价格
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                <tr v-for="m in menu" track-by="_id">
                    <td>
                        {{$index+1}}
                    </td>
                    <td>
                        <img v-for="p in m.picture" v-if="m.picture.length>0" :src="'/data/image/'+p+'/100/100.json'" class="img-rounded" style="width: 80px;height: 80px;">
                        <a href="javascript:;" class="btn btn-default btn-sm upfile">
                            <span class="glyphicon glyphicon-plus"></span>
                            <input type="file" value="浏览" @change="onAddPic(m,$event)" />
                        </a>
                    </td>
                    <td>
                        {{m.name}}
                    </td>
                    <td>
                        <span v-for="t in types.types" v-if="t.key==m.type">{{t.value}}</span>
                    </td>
                    <td>
                        <span class="label label-primary" v-for="c in m.cates">
                            {{c}}
                        </span>
                    </td>
                    <td>
                        ¥{{m.price}}
                    </td>
                    <td>
                        {{m.visible == 0?"禁用":"启用"}}
                    </td>
                    <td>
                        <a href="javascript:;" @click="onEditMenu(m)">编辑</a>
                        <a href="javascript:;" @click="onDelMenu(m)">删除</a>
                    </td>
                </tr>
                </tbody></table>
            <div class="c-pager">
                <p class="pull-left">共 {{menu.length}} 条记录，每页 10 条 1/1 </p>

                <ul  class="pagination pagination-sm">
                    <li>
                    </li>
                    <li>
                        <a href="#" aria-label="Previous">
                            <span class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-triangle-left"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-triangle-right"></span></a></li>

                    <li>
                        <a href="#" aria-label="Next">
                            <span class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div v-show="view=='type'" class="panel-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="t in types.types">
                        <td>{{t.key}}</td>
                        <td>{{t.value}}</td>
                        <td><a href="">编辑</a>
                      <a href="javascript:;" @click="onDelType(t)">删除</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <c-form :config="modal" @submit="onSubmit">
        <validator name="valid">
            <form class="form-horizontal" novalidate >
                <div class="form-group">
                    <label class="col-sm-2 control-label" :class="{'has-warning':$valid.name.invalid&&$valid.name.touched}">名称</label>
                    <div class="col-sm-10" :class="{'has-warning':$valid.name.invalid&&$valid.name.touched}">
                        <input type="text"  class="form-control" placeholder="必填" v-validate:name="['required']" v-model="model.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">分类</label>
                    <div class="col-sm-10">
                        <select class="form-control" v-model="model.type" number>
                            <option value="{{t.key}}" v-for="t in types.types">{{t.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label" :class="{'has-warning':$valid.price.invalid&&$valid.price.touched}" >价格(元)</label>
                    <div class="col-sm-10" :class="{'has-warning':$valid.price.invalid&&$valid.price.touched}">
                        <input type="number" class="form-control"  v-validate:price="['required']"  v-model="model.price" placeholder="必填" number>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" :class="{'has-warning':$valid.unit.invalid&&$valid.unit.touched}" >单位</label>
                    <div class="col-sm-10" :class="{'has-warning':$valid.unit.invalid&&$valid.unit.touched}">
                        <input type="text" class="form-control" v-model="model.unit" v-validate:unit="['required']" placeholder="必填(份/个/等等)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >标签</label>
                    <div class="col-sm-10">
                        <span class="label label-primary" style="margin-right: 10px;" v-for="c in model.cates">
                            {{c}}
                          <span class="glyphicon glyphicon-remove" @click="onRemoveCate(c)"></span>
                        </span>
                        <a href="javascript:;" class="btn btn-default" @click="onAddCate">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">状态</label>
                    <div class="col-sm-10">
                        <select class="form-control" v-model="model.visible" number>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </div>
            </form>
        </validator>
    </c-form>

    <c-form :config="typeModal" @submit="onSubmitType" >
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">值</label>
                <div class="col-sm-10" >
                    <input type="number"  class="form-control" v-model="type.key" placeholder="必填,请勿重复"  number>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10" >
                    <input type="text"  class="form-control" v-model="type.value" placeholder="必填" >
                </div>
            </div>
        </form>
    </c-form>
</div>
