@-webkit-keyframes twinkling{
  0%{
    background-color: yellow;
  }
  60%{
    background-color: #ccc;
  }
}

@keyframes twinkling{
0%{
  background-color: yellow;
}
60%{
  background-color: #ccc;
}
}

.twinkling {
  -webkit-animation: twinkling 2s infinite ease;
  animation: twinkling 2s infinite ease;
}