<div class="page-service">
    <div class="mui-control-content mui-active">
        <header class="mui-bar-nav mui-bar">
            <h5 class="mui-title">
                服务列表
            </h5>
        </header>
        <div class="mui-content">
            <ul class="mui-table-view mui-list">
                <i class=" mui-pull-left iconfont icon-tuangou"></i>
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">团购
                    </a>
                </li>
            </ul>

            <h5 style="text-align: center">更多应用，敬请期待。</h5>
        </div>

    </div>
    <c-nav view="service"></c-nav>
</div>