<div class="page-config">
    <div class="mui-control-content mui-active">
        <header class="mui-bar-nav mui-bar">
            <h5 class="mui-title">
                系统服务
            </h5>
        </header>
        <div class="mui-content">
            <ul class="mui-table-view mui-list">
                <i class=" mui-pull-left iconfont icon-user"></i>
                <li class="mui-table-view-cell">
                    <a >
                        {{mine.email}}
                        <!--<button v-on="click:unBind" class="mui-btn mui-btn-outlined mui-btn-negative">解绑</button>-->
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view mui-list" style="margin-top: 25px;">
                <i class=" mui-pull-left iconfont icon-users"></i>
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right" href="#relation">
                        委托用户
                    </a>
                </li>

            </ul>
        </div>


    </div>
   <c-nav view="config"></c-nav>
</div>