<div class="page-bus">
    <div class="panel admin-panel">
        <div class="panel-head">
            <strong>
                车辆列表
            </strong>
        </div>
        <div class="padding border-bottom">
            <input type="button" class="button button-small bg-main" data-mask="1" data-width="50%"  v-on="click:addBus" value="新增车辆" />
        </div>
        <table class="table table-hover">
            <tr><th width="120">车辆照片</th><th width="120">车辆名</th><th width="100">车牌号</th><th width="*">目的地</th><th width="100">发车时间</th><th width="100">状态</th><th width="200">操作</th></tr>
            <tr v-repeat="c in buses" >
                <td ><img width="64" height="64"  class="img-border radius-small" v-attr="src:c.src||'/admin/static/images/128.png'"></td>
                <td >{{c.name}}</td>
                <td >{{c.sn}}</td>
                <td >{{c.destination}}</td>
                <td >{{c.goff}}</td>
                <td >{{c.online == 0?"停用":"启用"}}</td>
                <td >
                    <a v-on="click:editBus(c)" class="button border-blue button-little" href="javascript:;">修改</a>
                    <a class="button border-yellow button-little" v-on="click:delBus(c._id)" href="javascript:;" onclick="{if(confirm('确认删除?')){return true;}return false;}">删除</a>
                    <a href="#/home/bus/{{c._id}}" class="button border-blue button-little" href="javascript:;">车位管理</a>
                </td>
            </tr>
        </table>

        <div class="panel-foot text-center">
            <ul class="pagination"><li><a href="javascript:;" v-on="click:prevPage">上一页</a></li></ul>
            <ul class="pagination pagination-group">
                <li v-on="click:toPage" v-repeat="parseInt(((count-1)/limit))+1" v-class="active:$index == (page)"><a href="javascript:;">{{$index+1}}</a></li>
            </ul>
            <ul class="pagination"><li><a href="javascript:;" v-on="click:nextPage">下一页</a></li></ul>
        </div>

        <div class="dialog-mask" style="display: none;"></div>
        <div id="bus-dialog" class="dialog-win" style="position: fixed; width: 50%; z-index: 11;display: none;">
            <div class="dialog open">
                <div class="dialog-head">
                    <span class="close" v-on="click:closeDialog"></span>
                    <strong>{{bus._type}}</strong>
                </div>
                <div class="dialog-body">
                    <div class="form-x">
                        <div class="form-group">
                            <div class="label">
                                车辆名
                            </div>
                            <div class="field">
                                <input type="text" class="input" v-model="bus.name" placeholder="请填写车辆名">
                                <div v-show="!validation.name" class="input-help  check-error"><ul><li>必填</li></ul></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                车牌号
                            </div>
                            <div class="field">
                                <input type="text" class="input" v-model="bus.sn" placeholder="请填写车牌号">
                                <div v-show="!validation.sn" class="input-help  check-error"><ul><li>必填</li></ul></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                目的地
                            </div>
                            <div class="field">
                                <input type="text" class="input" v-model="bus.destination" placeholder="请填写目的地">
                                <div v-show="!validation.destination" class="input-help  check-error"><ul><li>必填</li></ul></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                发出时间
                            </div>
                            <div class="field">
                                <input type="text" class="input" v-model="bus.goff" placeholder="请填写目的地">
                                <div v-show="!validation.goff" class="input-help  check-error"><ul><li>必填</li></ul></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                状态
                            </div>
                            <div class="field">
                                <select class="input" v-model="bus.online">
                                    <option value=0>停用</option>
                                    <option value=1>启用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                照片
                            </div>
                            <div class="field">
                                <a class="button bg-main input-file" href="javascript:void(0);">
                                    + 上传照片
                                    <input size="100" type="file" v-on="change:upLoadImg" accept="image/gif, image/jpeg, image/png" />
                                </a>
                                <img v-if="bus.src" v-attr="src:bus.src"  width="128" height="128" class="img-border radius-small" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="dialog-foot">
                    <button class="button dialog-close" v-on="click:closeDialog">取消</button>
                    <button class="button bg-green" v-disabled="isValid" v-on="click:postBus">确认</button>
                </div>
            </div>
        </div>

    </div>

</div>

