<div class="page-menu">
    <div class="panel panel-default  content">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-left">
                <li role="presentation" class="active"><a href="#">
                    订单</a></li>
            </ul>
            <a href="javascript:;" class="btn pull-right">
                <span class="glyphicon glyphicon-plus"></span>
                新增
            </a>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label>日期</label>
                    <input type="text" class="form-control" @click="onDateClick" v-model="query.mdate" placeholder="请选择">
                </div>
                <div class="form-group">
                    <label >餐次 </label>
                    <select class="form-control" v-model="query.mtime">
                        <option value="">全部</option>
                        <option value="lunch">午餐</option>
                        <option value="dinner">晚餐</option>
                    </select>
                </div>
                <button class="btn btn-default" @click="onQuery">
                    <span class="glyphicon glyphicon-search"></span>
                    查询</button>
            </div>
            <hr>
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        时间
                    </th>
                    <th>
                        餐次
                    </th>
                    <th>
                        下单人
                    </th>
                    <th>
                        人数
                    </th>
                    <th>
                        餐桌
                    </th>
                    <th>
                        菜单
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                <tr v-for="o in orders" track-by="_id">
                    <td>{{$index+1 + 10*query.page}}</td>
                    <td>{{o.mdate}}</td>
                    <td>{{o.mtime=="dinner"?"晚餐":"午餐"}}</td>
                    <td>{{o.user.name}}</td>
                    <td>{{o.number}}</td>
                    <td>{{o.table.no}}</td>
                    <td><a v-link="{path:'order/'+o._id}" >查看</a></td>
                    <td><a href="">取消订单</a></td>
                </tr>
                </tbody></table>
            <div class="c-pager">
                <p class="pull-left">共 {{count}} 条记录，每页 10 条 {{query.page+1}}/{{Math.ceil(count/10)}} </p>

                <ul  class="pagination pagination-sm">
                    <li>
                    </li>
                    <!--<li>-->
                        <!--<a href="#" aria-label="Previous">-->
                            <!--<span class="glyphicon glyphicon-step-backward"></span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li><a href="javascript:;" :disabled="query.page==0" @click="toPre"><span class="glyphicon glyphicon-triangle-left"></span></a></li>
                    <li><a href="javascript:;" @click="toNext"><span class="glyphicon glyphicon-triangle-right"></span></a></li>

                    <!--<li>-->
                        <!--<a href="#" aria-label="Next">-->
                            <!--<span class="glyphicon glyphicon-step-forward"></span>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>




</div>
