<div class="page-config" style="height: 100%">
    <div class="mui-control-content mui-active" style="height: 100%">
        <header class="mui-bar-nav mui-bar">
            <h5 class="mui-title">
                系统服务
            </h5>
        </header>
        <div class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view mui-list" style="margin-top: 20px;">
                    <i class=" mui-pull-left iconfont icon-user"></i>
                    <li class="mui-table-view-cell mui-media">
                        <a class="mui-navigate-right" >
                            <div class="mui-media-body">
                                {{mine.name}}
                                <p>{{mine.email}}</p>
                            </div>
                        </a>
                    </li>

                </ul>

                <ul class="mui-table-view mui-list" style="margin-top: 25px;">
                    <i class=" mui-pull-left iconfont icon-users"></i>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right" href="#relation">
                            代订座人维护
                        </a>
                    </li>

                    <i class=" mui-pull-left iconfont icon-tuangou"></i>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right" href="#company">合作单位订位查询
                        </a>
                    </li>

                    <i class=" mui-pull-left iconfont icon-tuangou"></i>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right" href="#approve">合作单位人员审批
                        </a>
                    </li>
                </ul>

                <h5 style="margin-top: 5px" class="mui-content-padded">其他应用</h5>
                <ul class="mui-table-view mui-list ">
                    <i class=" mui-pull-left iconfont icon-plane"></i>
                    <li class="mui-table-view-cell mui-media">
                        <a class="mui-navigate-right" href="http://m.ctrip.com/html5/flight/#&do_not_show_add_to_home_tip=1">
                            <div class="mui-media-body">
                                航班信息查询
                            </div>
                        </a>
                    </li>
                    <i class=" mui-pull-left iconfont icon-train"></i>
                    <li class="mui-table-view-cell mui-media">
                        <a class="mui-navigate-right" href="http://m.ctrip.com/webapp/train/">
                            <div class="mui-media-body">
                                火车信息查询
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="mui-table-view mui-list" style="margin-top: 25px;margin-bottom: 60px;">
                    <i class=" mui-pull-left iconfont icon-time"></i>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right" href="#history">
                            历史订单
                        </a>
                    </li>
                    <i class=" mui-pull-left iconfont icon-target"></i>
                    <li class="mui-table-view-cell mui-media">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzIxOTEwMDcwOQ==&mid=400376477&idx=1&sn=aaf861f22ac9ffc3a18bf13eaf858eb7&scene=18#wechat_redirect" class="mui-navigate-right" >
                            帮助文档
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <c-nav view="config"></c-nav>
</div>