.list-page .list {
  padding: 0;
  font-size: 0px;
  margin-top: 44px; }
  .list-page .list li {
    display: inline-block;
    list-style: none; }
    .list-page .list li a {
      display: block;
      height: 100%;
      background-color: #fff;
      border: 1px solid #DDDCDC;
      box-shadow: 1px 0px 1px #CCC; }
      .list-page .list li a .title {
        color: #4A4A49;
        font-size: 14px;
        margin-top: -5px;
        padding: 0 10px; }
      .list-page .list li a .status {
        color: #FE4C4C;
        font-size: 16px;
        padding: 0 10px;
        font-weight: bold; }
      .list-page .list li a h5 {
        height: 15px; }
        .list-page .list li a h5 .target {
          font-size: 12px;
          float: left;
          padding-left: 10px; }
        .list-page .list li a h5 .time {
          font-size: 12px;
          float: right;
          padding-right: 10px; }
    .list-page .list li img {
      width: 100%;
      height: auto; }
  .list-page .list li:nth-child(odd) {
    padding: 10px 5px 0px 10px; }
  .list-page .list li:nth-child(even) {
    padding: 10px 10px 0px 5px; }
