<div class="bind-container mui-content">
<header class="mui-bar-nav mui-bar">
    <h5 class="mui-title">
        用户绑定
    </h5>
</header>
   <div class="mui-content">
       <div class="mui-content-padded" style="text-align: center;padding: 20px 0;">
           <img src="/static/images/logo.png">
       </div>
       <h5 style="text-align: center;margin: 10px;">请输入您的姓名和手机号码进行绑定</h5>
       <div class="mui-card">

           <form class="mui-input-group">
              <div class="mui-input-row">
                  <label>姓名</label>
                  <input type="text" lass="mui-input-clear" placeholder="请输入姓名">
              </div>
              <div class="mui-input-row">
                  <label>手机</label>
                  <input type="text" class="mui-input-clear" placeholder="请输入手机号码">
              </div>
          </form>
       </div>
    <div style="padding: 15px">
        <a href="#" style="padding: 8px 0" class="mui-btn mui-btn-block mui-btn-blue">绑定</a>
    </div>
   </div>
</div>
