<div class="page-history">
    <div class="panel admin-panel">
        <div class="panel-head">
            <strong>
                登陆日志
            </strong>
        </div>

        <table class="table table-hover">
            <tr><th width="200">用户名</th><th width="*">操作</th><th width="200">时间</th></tr>
            <tr>
                <td>github@sina.com</td>
                <td>登陆</td>
                <td>2015-09-12 11:12</td>
            </tr>
        </table>

        <div class="panel-foot text-center">
            <ul class="pagination"><li><a href="javascript:;" >上一页</a></li></ul>
            <ul class="pagination pagination-group">
                <li   v-class="active"><a href="javascript:;">1</a></li>
            </ul>
            <ul class="pagination"><li><a href="javascript:;" >下一页</a></li></ul>
        </div>

    </div>

</div>