<div class="admin">
    <div class="line-big">
        <div class="xm3">
            <div class="panel border-back">
                <div class="panel-body text-center">
                    <img src="/admin/static/images/admin.jpg" width="120" class="radius-circle"><br>
                    管理员
                </div>
                <div class="panel-foot bg-back border-back">您好，管理员!</div>
            </div>
            <br>
            <div class="panel">
                <div class="panel-head"><strong>系统统计</strong></div>
                <ul class="list-group">
                    <li><span class="float-right badge bg-red">{{system.users}}</span><span class="icon-user"></span> 绑定用户</li>
                    <li><span class="float-right badge bg-main">{{system.buses}}</span><span class="icon-car"></span> 车辆</li>
                    <li><span class="float-right badge bg-main">{{system.seats}}</span><span class="icon-shopping-cart"></span> 车位</li>
                </ul>
            </div>
            <br>
        </div>
        <div class="xm9">
            <!--<div class="alert alert-green"><strong>注意：</strong>今日预定座位总数为123个。</div>-->

            <div class="panel">
                <table class="table">
                    <tbody><tr><th colspan="2">服务器信息</th></tr>
                    <tr><td width="110" align="right">操作系统：</td><td>{{system.os}}</td></tr>
                    <tr><td align="right">Web服务器：</td><td>{{system.web}}</td></tr>
                    <tr><td align="right">程序语言：</td><td>{{system.language}}</td></tr>
                    <tr><td align="right">数据库：</td><td>{{system.db}}</td></tr>
                    <tr><td align="right">当前状态：</td><td>{{system.status}}</td></tr>
                    <tr><td align="right">运行时间：</td><td>{{getTime}}</td></tr>
                    <tr><td align="right">内存使用：</td><td>{{system.memory/1048576}}MB</td></tr>
                    </tbody></table>
            </div>
        </div>
    </div>

    <br>
</div>