<div class="page-companyOrder container-layout">
    <div class="line">
        <div class="x9" style="padding-right: 5px;">
            <div class="panel admin-panel">

                <div class="padding border-bottom">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="label">
                                目的地：
                            </div>
                            <div class="field">
                                <select class="input">
                                    <option>请选择目的地</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                日期：
                            </div>
                            <div class="field">
                                <select class="input">
                                    <option>10月1日</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="button bg-main float-right" >查询</button>
                </div>
            </div>

        </div>
        <div class="x3">
            <div class="panel admin-panel">
                <div class="padding border-bottom">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="label">
                                承包商：
                            </div>
                            <div class="field">
                                <select class="input" v-model="selectCompany" options="companies">
                                    <option>请选择承包商</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>