
.page-company{
  .company-select{
    color:#60418c;position: absolute;top: 50%;right: 15px;display: inline-block;width: 120px;transform: translateY(-50%);font-size: 17px;
  }
  .mui-table-view-cell > a:not(.mui-btn).mui-active
  {
    background-color: #fff;
  }
  .table{
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th{
      border-bottom: 2px solid #ddd;
      vertical-align: bottom;
      text-align: center;
      padding: 8px;
      font-weight: bold;
    }
    td{
      border-top: 1px solid #ddd;
      padding: 8px;
      vertical-align: top;
      text-align: center;
      font-weight: normal;
    }
  }
}