.page-company .company-select {
  color: #60418c;
  position: absolute;
  top: 50%;
  right: 15px;
  display: inline-block;
  width: 120px;
  transform: translateY(-50%);
  font-size: 17px;
}
.page-company .mui-table-view-cell > a:not(.mui-btn).mui-active {
  background-color: #fff;
}
.page-company .table {
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.page-company .table th {
  border-bottom: 2px solid #ddd;
  vertical-align: bottom;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}
.page-company .table td {
  border-top: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
  text-align: center;
  font-weight: normal;
}
