<div class="page-user">
    <div class="panel admin-panel">
        <div class="panel-head">
            <strong>
                用户列表
            </strong>
        </div>
        <div class="padding border-bottom">
            <div class="form-inline">
                <div class="form-group">
                    <div class="label">
                        承包商：
                    </div>
                    <div class="field">
                        <select class="input" v-model="selected" options="companies">
                            <option value="0">
                                请选择条件筛选
                            </option>

                        </select>
                    </div>
                </div>
            </div>


            <input type="button" class="button button-small bg-main "  data-target="#user-dialog" style="float: right" data-mask="1" data-width="50%"  v-on="click:addUser" value="新增用户" />
        </div>
        <table class="table table-hover">
            <tr><th width="120">用户名</th><th width="*">承包商</th><th width="200">手机号码</th><th width="100">操作</th></tr>
            <tr v-repeat="c in users">
                <td>{{c.name}}</td>
                <td>{{c.company}}</td>
                <td>{{c.mobile}}</td>
                <td><a v-on="click:editUser(c)" class="button border-blue button-little" href="javascript:;">修改</a> <a class="button border-yellow button-little" v-on="click:delUser(c._id)" href="javascript:;" onclick="{if(confirm('确认删除?')){return true;}return false;}">删除</a> </td></tr>
        </table>

        <div class="panel-foot text-center">
            <ul class="pagination"><li><a href="javascript:;" v-on="click:prevPage">上一页</a></li></ul>
            <ul class="pagination pagination-group">
                <li v-on="click:toPage" v-repeat="parseInt(((count-1)/limit))+1" v-class="active:$index == (page)"><a href="javascript:;">{{$index+1}}</a></li>
            </ul>
            <ul class="pagination"><li><a href="javascript:;" v-on="click:nextPage">下一页</a></li></ul>
        </div>

        <div class="dialog-mask" style="display: none;"></div>
        <div id="company-dialog" class="dialog-win" style="position: fixed; width: 50%; z-index: 11;display: none;">
            <div class="dialog open">
                <div class="dialog-head">
                    <span class="close" v-on="click:closeDialog"></span>
                    <strong>{{user._type}}</strong>
                </div>
                <div class="dialog-body">
                    <div class="form-x">
                        <div class="form-group">
                            <div class="label">
                                用户名
                            </div>
                            <div class="field">
                                <input type="text" class="input" v-model="user.name" placeholder="请填写用户名">
                                <div v-show="!validation.name" class="input-help  check-error"><ul><li>必填</li></ul></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                承包商
                            </div>
                            <div class="field">
                                <input type="text" class="input" v-model="user.company" placeholder="请填写承包商名称">
                                <div v-show="!validation.company" class="input-help  check-error"><ul><li>必填</li></ul></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                手机号
                            </div>
                            <div class="field">
                                <input type="text" class="input" v-model="user.mobile" placeholder="请填写手机号">
                                <div v-show="!validation.mobile" class="input-help  check-error"><ul><li>请填写正确手机号码</li></ul></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-foot">
                    <button class="button dialog-close" v-on="click:closeDialog">取消</button>
                    <button class="button bg-green" v-disabled="isValid" v-on="click:postUser" >确认</button>
                </div>
            </div>
        </div>

    </div>

</div>