<div class="page-menu">
    <div class="panel panel-default  content">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-left">
                <li role="presentation" class="active"><a href="#">
                    订单</a></li>
            </ul>

        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label>日期</label>
                    <input id="mdate" type="text" class="form-control" @click="onDateClick" v-model="query.mdate" placeholder="请选择">
                </div>
                <a href="javascript:;" class="btn btn-default" @click="onQuery">
                    <span class="glyphicon glyphicon-search"></span>
                    查询</a>
            </div>
            <hr>
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        取货时间
                    </th>
                    <th>
                        下单人
                    </th>
                    <th>
                        下单时间
                    </th>
                    <th>
                        订单详情
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                <tr v-for="o in orders" track-by="_id">
                    <td>{{$index+1 + 10*query.page}}</td>
                    <td>{{o.mdate}}</td>
                    <td>{{o.user.name}}</td>
                    <td>{{(new Date(o.created)).Format("yyyy-MM-dd hh:mm")}}</td>
                    <td><a v-link="{path:'/order/goods/'+o._id}" >查看</a></td>
                    <td><a @click="onCancel(o)" href="javascript:;">取消订单</a></td>
                </tr>
                </tbody></table>
            <div class="c-pager">
                <p class="pull-left">共 {{count}} 条记录，每页 10 条 {{query.page+1}}/{{Math.ceil(count/10)}} </p>

                <ul  class="pagination pagination-sm">
                    <li>
                    </li>
                    <!--<li>-->
                    <!--<a href="#" aria-label="Previous">-->
                    <!--<span class="glyphicon glyphicon-step-backward"></span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li><a href="javascript:;" :disabled="query.page==0" @click="toPre"><span class="glyphicon glyphicon-triangle-left"></span></a></li>
                    <li><a href="javascript:;" @click="toNext"><span class="glyphicon glyphicon-triangle-right"></span></a></li>

                    <!--<li>-->
                    <!--<a href="#" aria-label="Next">-->
                    <!--<span class="glyphicon glyphicon-step-forward"></span>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>




</div>
