.page-bus{
  background-color: #fff;
  height: 100%;

  .bus-backDoor{
    position: absolute;
  }

  .user-bar{
    top:45px;
    background-color: #fff;
  }



  .mui-scroll-wrapper{
    background-color: #fff;

    .mui-scroll{
      padding-bottom: 50px;
    }
  }
  .mui-scroll{
    padding: 10px;
    background-color: #fff;
  }

  .mui-table-view-cell.mui-active
  {
    background-color: #fff;
  }

  .bus-header{
    text-align: center;
    font-size: 12px;
    .bus-driver{
      float: left;
      width: 12%;
      margin-left: 5%;
    }

    .bus-door{
      float:right;
      display: inline-block;
      width: 20px;
      margin-right: 5%;
      color: #fff;
      background-color: #B8BA98;
    }

    a{
      height: 15px;
      width: 15px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 5px;
    }
    .void{
      background-color: #007aff;
    }
    .order{
      background-color: #B8BA98;
    }
  }
  .bus-body{
    width: 100%;
    text-align: center;
    background-color: #fff;


    .bus-text{
      background-color: #B8BA98;
      float: right;
      padding: 4px;
      margin-right: 15px;
      a{
        color: #fff;
        font-size: 12px;
        font-weight: normal;
      }
    }

    td{
      padding: 4px 10px;

      .user-name{
        position: absolute;
        bottom: -12px;
        color: #000;
        width: 100%;
        padding: 0 10px;
        left: 0;
        font-size: 12px;
      }
    }

    @media screen and (max-width: 768px){
      a{
        display: block;
        height: 50px;
        color: #60418c;
        font-size: 16px;
        line-height: 38px;
        font-weight: bold;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

    }

    @media screen and (min-width: 768px){

      a{
        display: block;
        height: 100px;
        color: #60418c;
        font-size: 16px;
        line-height: 65px;
        font-weight: bold;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

    }

    td.icon-seat-void {
      width: inherit;
      a{
        background-image:url("/static/images/seat-void.png");
        width: 100%;
        color: #fff;
      }
    }

    td.icon-seat-order{
      width: inherit;
      a{
        background-image:url("/static/images/seat-order.png");
        width: 100%;
        color: #fff;
      }
    }

    td.icon-seat-select{
      width: inherit;
      a{
        background-image:url("/static/images/seat-select.png") !important;
        color: yellow;
        width: 100%;
      }
    }



  }

  .silder-nav{
    position: absolute;
    left: 0;
    width:15px;
    top:30px;
    font-size: 12px;

    li{
      height: 58px;
      padding: 0;
      line-height: 58px;
      text-align: center;
      border-right: 1px solid #666;
    }

    li:first-child{
      border-top: 1px solid #666;
    }
    li:last-child{
      border-bottom: 1px solid #666;
    }
  }


  .input-select{
    height: 21px;
    float: right;
    width: 80px;
  }
}

