<div class="page-detail">

    <div class="panel panel-default content" >
        <div class="panel-heading">
            <ul class="nav nav-pills pull-left">
                <li role="presentation" class="active"><a href="#">
                    货物详情</a></li>
            </ul>
            <a v-link="{path:'/gOrder'}" class="btn pull-right">
                <span class="glyphicon glyphicon-backward"></span>
                返回
            </a>
            <a href="javascript:;" class="btn pull-right" @click="onPrint">
                <span class="glyphicon glyphicon-print"></span>
                打印
            </a>
            <a href="javascript:;" :disabled="mode=='edit'"  class="btn pull-right" @click="onEdit">
                <span class="glyphicon glyphicon-edit"></span>
                编辑(开发中)</a>

        </div>
        <div class="panel-body" id="order-detail" >
            <h3 class="text-center">
               {{order.mdate}} {{order.user.name}}预定
            </h3>
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        货物名称
                    </th>
                    <th>
                        数量
                    </th>
                    <th>
                        单位
                    </th>
                    <th>
                        单价(元)
                    </th>
                    <th>
                        总价(元)
                    </th>
                    <th v-if="mode=='edit'">
                        编辑
                    </th>
                </tr>
                <tr v-for="m in order.items">
                    <td>{{$index+1}}</td>
                    <td>
                        <span v-if="mode=='detail'">{{m.name}}</span>
                        <span class="like-input" v-show="mode=='edit'"  @click="onSelectMenu(m)">{{m.name}}</span>
                    </td>
                    <td>
                        <span v-if="mode=='detail'">{{m.number}}</span>
                        <input type="number" v-if="mode=='edit'" v-model="m.number" number>
                    </td>
                    <td>{{m.unit}}</td>
                    <td>¥{{m.price}}</td>
                    <td>¥{{m.price * m.number}}</td>
                    <td v-if="mode=='edit'">
                        <a href="javascript:;">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>¥{{total}}</td>
                    <td v-if="mode=='edit'">
                        <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                    </td>
                </tr>
                </tbody></table>

        </div>

        <div class="panel-footer text-right" v-if="mode=='edit'">
            <button class="btn btn-primary">提交</button>
            <button CLASS="btn btn-default" @click="onCancel">取消</button>
        </div>
    </div>

    <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请选择菜品</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li role="presentation" v-for="t in types" :class="{active:selectType==t.key}"><a href="javascript:;" @click="onChangeType(t.key)">{{t.value}}</a></li>
                    </ul>

                    <div class="container-fluid" >
                        <div class="row">
                            <div class="col-md-2 menu-item" v-for="m in menus" v-if="m.type == selectType">
                                <div class="thumbnail">
                                    <img v-for="p in m.picture" v-if="m.picture.length>0&&$index==0" :src="'/data/image/'+p+'/100/100.json'" >
                                    <div class="caption">
                                        <h5>{{m.name}}</h5>
                                        <p>{{m.cates.join(",")}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
