<div class="page-history">
    <div class="panel admin-panel">
        <div class="panel-head">
            <strong>
                系统配置
            </strong>
        </div>

		<div class="padding border-bottom">

			<label>
				提前订座天数：
				<input type="text" class="input" number v-model="data.config.advance">
			</label>

			<label>
				订座截止时间[海口→昌江]（小时）：
				<input type="text" class="input" number v-model="data.config.end['昌江']">
			</label>

			<label>
				订座截止时间[昌江→海口]（小时）：
				<input type="text" class="input" number v-model="data.config.end['海口']">
			</label>

			昌江→海口<br/>
			周一<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['海口'][0].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['海口'][0].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['海口'][0].maximum">
					</label>

			昌江→海口<br/>
			周二<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['海口'][1].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['海口'][1].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['海口'][1].maximum">
					</label>
			
			昌江→海口<br/>
			周三<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['海口'][2].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['海口'][2].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['海口'][2].maximum">
					</label>
			
			昌江→海口<br/>
			周四<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['海口'][3].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['海口'][3].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['海口'][3].maximum">
					</label>
			
			昌江→海口<br/>
			周五<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['海口'][4].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['海口'][4].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['海口'][4].maximum">
					</label>
			
			昌江→海口<br/>
			周六<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['海口'][5].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['海口'][5].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['海口'][5].maximum">
					</label>
			
			昌江→海口<br/>
			周日<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['海口'][6].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['海口'][6].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['海口'][6].maximum">
					</label>
			
			

			海口→昌江<br/>
			周一<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['昌江'][0].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['昌江'][0].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['昌江'][0].maximum">
					</label>

			海口→昌江<br/>
			周二<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['昌江'][1].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['昌江'][1].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['昌江'][1].maximum">
					</label>
			
			海口→昌江<br/>
			周三<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['昌江'][2].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['昌江'][2].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['昌江'][2].maximum">
					</label>
			
			海口→昌江<br/>
			周四<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['昌江'][3].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['昌江'][3].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['昌江'][3].maximum">
					</label>
			
			海口→昌江<br/>
			周五<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['昌江'][4].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['昌江'][4].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['昌江'][4].maximum">
					</label>
			
			海口→昌江<br/>
			周六<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['昌江'][5].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['昌江'][5].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['昌江'][5].maximum">
					</label>
			
			海口→昌江<br/>
			周日<br/>
					<label>
						最初开启车辆数量：
						<input type="text" class="input" number v-model="data.quota['昌江'][6].least">
					</label>

					<label>
						开启下一辆上座率：
						<input type="text" class="input" number v-model="data.quota['昌江'][6].percentage">
					</label>

					<label>
						最大开启车辆台数：
						<input type="text" class="input" number v-model="data.quota['昌江'][6].maximum">
					</label>
			
			


             <button class="button" v-on="click:getContext">取消</button>
             <button class="button bg-green" v-disabled="isValid" v-on="click:putContext" >保存</button>
		</div>

    </div>
</div>