
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,code,em,strong,th{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
:focus{ outline: none !important; }

body { background-attachment: fixed; font-size: 12px;color: #333;line-height:1.5;font-family: microsoft yahei, simsun, arial; }
a{color:#333;text-decoration:none;}
a:hover { color:#ff6600;}

h1 {font-size:22px;}
h2 {font-size:18px;}
h3 {font-size:16px;}

.primary, .primary a {color:#62ab00;}
.secondary, .secondary a {color:#528e00;}
.featured, .featured a  {color:#ff6600;}
.normal,   .normal   a  {color:#333;}
.placeholder { color: #999; }
blockquote, blockquote a, .quote, .quote a {color:#888;}

label.error { color: #ff0000; }
label.valid { color: inherit; }

.bold { font-weight:bold; }
.deletion { text-decoration: line-through; color: #888;}

.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f22 { font-size: 22px; }
.f26 { font-size: 26px; }
.f36 { font-size: 36px; }

.l15 { line-height: 1.5; }
.l2  { line-height: 2;   }
.l25 { line-height: 2.5; }
.l3  { line-height: 3;   }
.l4  { line-height: 4;   }
.l5  { line-height: 5;   }
.l6  { line-height: 6;   }

.c-ptr { cursor: pointer; }
.c-def { cursor: default; }

i,.icon { display:inline-block; vertical-align: middle; background-repeat: no-repeat; background-position: 0 0;}
.icon-thumb { vertical-align:baseline; background-image: url(./images/icons/thumb.png); width:40px; height:50px; }
.icon-thumb-small { background-image: url(./images/icons/thumb-small.png); width:34px; height:43px; }
.icon-thumb-top { background-image: url(./images/icons/thumb-top.png); width:30px; height:40px; }
.icon-user { background-image: url(./images/icons/user.png); width:18px; height:20px; margin-bottom:-6px; }
.icon-dot  { background-image: url(./images/icons/dot.png); width:13px; height:13px;}
.icon-arrow-down  { background-image: url(./images/icons/arrow-down.png); width:12px; height:12px;}
.icon-arrow-right  { background-image: url(./images/icons/arrow-right.png); width:13px; height:13px;}
.icon-phone-large  { background-image: url(./images/icons/phone-large.png); width:30px; height:30px;}
.icon-phone-xlarge  { background-image: url(./images/icons/phone-xlarge.png); width:60px; height:60px;}
.icon-price-start  { background-image: url(./images/icons/price-start.png); width:15px; height:15px;}
.icon-price-average  { background-image: url(./images/icons/price-average.png); width:15px; height:15px;}
.icon-user-gray{ background-image: url(./images/icons/user-gray.png); width:20px; height:20px; }
.icon-user-white{ background-image: url(./images/icons/user-white.png); width:20px; height:20px; }
.icon-more-vertical { background-image: url(./images/icons/more-vertical.png); width:23px; height:70px; }
.icon-close { background-image: url(./images/icons/close.png); width:13px; height:13px; }
.icon-square { background-image: url(./images/icons/square.png); width:9px; height:9px; }
.icon-square-gray { background-image: url(./images/icons/square-gray.png); width:9px; height:9px; }
.icon-arrow-left-large { background-image: url(./images/icons/arrow-left-large.png); width:60px; height:90px; }
.icon-arrow-right-large { background-image: url(./images/icons/arrow-right-large.png); width:60px; height:90px; }
.icon-eye { background-image: url(./images/icons/eye.png); width:22px; height:11px; }
.icon-pop { background-image: url(./images/icons/pop.png); width:50px; height:20px; }
.icon-comment { background-image: url(./images/icons/comment.png); width:14px; height:14px; }
.icon-lock { background-image: url(./images/icons/lock.png); width:16px; height:20px; }
.icon-um120 { background-image: url(./images/icons/um120.png); width:120px; height:120px; }
.icon-um50 { background-image: url(./images/icons/um50.png); width:50px; height:50px; }
.icon-calculator { background-image: url(./images/icons/calculator.png); width:17px; height:18px; }

.submit {cursor:pointer;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

p{margin:0;}

/* Layouts */

.left-640-20 {float:left; width: 640px;}
.right-340   {margin-left: 660px; width: 340px;}

.left-490-10 {float:left; width:490px;}
.right-500   {margin-left:500px;width:500px;}

.triple-320-20 { float:left; width: 320px; margin-right: 20px; }
.triple-320-20-last { margin-right: 0; }

.left-670-30 { float:left; width:670px;}
.left-700    { float:left; width:700px;}
.right-300   { margin-left:700px; width:300px;}

.left-740-20 { float:left; width:740px;}
.right-240 { margin-left:760px; width:240px;}

.left-270-30  {float:left; width:270px;margin-right:30px;}
.middle-400   {float:left; width:400px;}
.right-270-30 {margin-left:730px; width: 270px; }

.left-238-12  { float: left; width: 238px; margin-right: 6px; padding-right: 6px; border-right: 1px dotted #ddd; }
.left-238-12-last { margin-right: 0; padding-right: 0; border-right: none; }

.left-400-30  {float:left; width: 400px;}
.right-570  {margin-left:430px; width: 570px;}

.left-610-30 { float:left; width:610px;}
.right-360 { margin-left:640px; width: 360px; }

.left-690-30 { float:left; width: 690px; }
.right-280   { margin-left: 720px; width: 280px; }

.left-600-40 { float:left; width: 600px; }
.right-360   { margin-left: 640px; width: 360px;}

/* Framework */
#top { font-size: 14px; height: 40px; line-height:40px; background-color:#f6f6f6; border-bottom: 1px solid #ddd;}
#top a{ color: #999;}
#top abbr{color:#ddd;}
#top .wrap{ width: 1000px; margin: 0 auto;}
#top ul li { height: 37px; float:left; width: 85px; text-align: center; border-bottom: 3px solid #f6f6f6;}
#top ul li.active { border-color: #62ab00;}
#top ul li.active a,
#top ul li.hover a{ color: #62ab00;}
#top .more { float:right; }

#top-static { font-size: 14px; height: 80px; line-height:80px; background-color:#62ab00; border-bottom: 1px solid #ddd;color: #fff;}
#top-static .logo {float:left; width:310px;}
#top-static .logo img { vertical-align: middle; }
#top-static .logo abbr { color: #ddd; font-weight:normal;}
#top-static a{ color: #fff;}
#top-static abbr{color:#ddd;}
#top-static .wrap{ width: 1000px; margin: 0 auto;}
#top-static ul li { float:left; width: 85px; text-align: center; border-bottom: 3px solid #f6f6f6;}
#top-static ul li.active { border-color: #62ab00;}
#top-static ul li.active a,
#top-static ul li.hover a{ color: #62ab00;}
#top-static .more { float:right; }


#hd {}
#bd {margin:0 auto;width:1000px;}

#ft {background-color:#f6f6f6; }
#ft .ft-main .wrap { padding: 30px 0; width: 1000px; margin: 0 auto; }

#ft .ft-main { line-height: 27px; border-top: 1px #ddd solid; border-bottom: 1px solid #ddd;} 
#ft .ft-main h1 { color: #62ab00; }

#ft .ft-main .ft-weixin { float:left; width: 400px; border-right: 1px dotted #ddd;}
#ft .ft-main .ft-weixin dt { float:left; } 
#ft .ft-main .ft-weixin dd { margin-left: 140px; } 
#ft .ft-main .ft-weixin dd h1 { margin-bottom: 12px; }

#ft .ft-main .ft-links { padding: 0 24px; float:left; width: 240px; border-right: 1px dotted #ddd;}
#ft .ft-main .ft-links h1 { margin-bottom: 12px; }

#ft .ft-main .ft-contact { padding: 0 24px; float:left; width: 240px; }
#ft .ft-main .ft-contact h1 { margin-bottom: 12px; }

#ft .ft-bottom { background-color: #fff; color:#999; text-align:center; padding: 12px 0;}

#ft a{color:#999;text-decoration:none;}

#brand {width:1000px;margin:0 auto;}
#brand .logo {float:left; margin-top: 26px;width:310px;}
#brand .logo img { vertical-align: top; }
#brand .logo abbr { color: #ddd; font-weight:normal;}
#brand .search {margin-left:330px;}
#brand .search .form{overflow:hidden;}
#brand .search form select { height: 36px; line-height: 36px; }
#brand .search form .area-search { width: 110px; }
#brand .search form .price-search { width: 110px; }
#brand .search form .usage-search { width: 80px; }
#brand .search form {margin-top:30px; }
#brand .search form dl dd select { border:none; height:24px;line-height:24px; padding: 6px 0;}
#brand .search form dl dt .select2-container--default .select2-selection--single { border: none; border-right: 1px solid #ddd; border-radius: 0;}
#brand .search form dl dt {width: 555px;float:left; border:1px solid #62ab00;border-right:none;height:36px;line-height:36px; }
#brand .search form dl dd {margin-left: 500px;}
#brand .search form input.submit {border:1px solid #62ab00;color:#fff;background:#62ab00 url('./images/search.png') right bottom no-repeat;height:38px;line-height:38px;font-size:18px;padding: 0 50px 0 26px;_padding: 0 25px 0 13px;;font-weight:bold;}
#brand .search form input.text {border: none; width:160px;height:16px;line-height:16px;padding:6px;}
#brand .search .quick-search{line-height:32px; margin-left: 6px; }
#brand .search .quick-search ul li{ float:left; margin-right:6px;}

#nav { height:50px;line-height:50px;background-color:#62ab00;}
#nav .wrap {width:1000px;margin:0 auto;}

#nav ul {display:block;}
#nav ul.menu li{float:left;padding:0 30px;}
#nav ul.menu li.active { background-color:#528e00; }
#nav ul.menu li.hover { background-color:#589a00; }
#nav ul.menu li a{color:#fff;font-size:18px; line-height:100%; vertical-align: middle;}

#nav ul.user {display:block;float:right;height:50px;overflow:hidden;}
#nav ul.user li{float:right;margin-right:6px;}
#nav ul.user li a{color:#fff;font-size:16px;}

/*Components*/
.pager { line-height: 72px; font-size: 13px; }
.pager li { display:inline-block; _zoom:1;_display:inline; height: 27px; line-height: 27px; text-align: center; padding: 0 10px; border: 1px solid #ddd; }
.pager li.text{border:none !important;}
.pager li.hover { color:#62ab00; border-color: #62ab00;}
.pager li.active { background-color: #62ab00; color: #fff; }
.pager li.hover a{ color:#62ab00; }
.pager li.active a { color:#fff; }

.pager li.disabled { color: #ddd; border-color: #ddd;cursor: default;}
.pager li.disabled a{ color: #ddd; }
.pager li.disabled a{cursor: default;}

.section { margin:30px 0; }
.section:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.section{*+height:1%;}

.block { padding:12px 20px; overflow:hidden;}
.block .hd{padding-bottom:6px;}
.block .hd .more { float: right; }
.block .ft { text-align: right; }

.block:after,
.block .hd:after,
.block .bd:after,
.block .ft:after{content:".";display:block;height:0;clear:both;visibility:hidden}

.block,
.block .hd,
.block .bd,
.block .ft{*+height:1%;}

.block-bordered{border:1px solid #ddd;}
.block-boundless{padding:0;}
.block-boundless .hd{padding-bottom:0;}

.block .hd h1{color:#62ab00;}
.block .hd h2{color:#62ab00;}
.block .hd h3{color:#62ab00;}

.block .hd-style-1 { border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd; line-height: 48px; font-size: 16px; color: #333;}
.block .hd-style-1 a { font-size: 16px; }
.block .hd-style-1 h1 { color: #333; }
.block .hd-style-2 { border-bottom: 1px solid #ddd; line-height: 48px; font-size: 16px; color: #333;}
.block .hd-style-2 a {font-size: 16px;}
.block .hd-style-2 h1 { color: #333; }
.block .hd-style-3 { line-height: 48px; font-size: 16px; color: #333;}
.block .hd-style-3 a {font-size: 16px;}
.block .hd-style-3 h1 { color: #333; }

.block .hd-bordered{ border-bottom:1px solid #62ab00; }

.block .hd-switch ul li { float:left; text-align:center; font-size:16px; width: 100px; border-bottom: 3px solid #fff;}
.block .hd-switch ul li.active   { border-color: #62ab00; }
.block .hd-switch ul li.hover  a { color: #62ab00; }
.block .hd-switch ul li.active a { color: #62ab00; }

.btn { font-size: 16px; display:inline-block; background-color:#62ab00; color:#fff; line-height:24px;text-align:center; width: 72px;}
.btn:hover { background-color:#528e00; color: #fff;}
.btn-small { font-size: 13px; width: 72px; line-height: 24px;}

.btn-featured {background-color: #ff6600;}
.btn-featured:hover{background-color: #ff6600;}

/*Pages*/

#page-index .categories { float:left; width:240px;height:334px; overflow:hidden; padding: 4px 20px 20px 20px; }
#page-index .categories .hd h1{font-weight:normal;}
#page-index .categories .bd{ margin:12px 0;}
#page-index .categories .category {padding-bottom: 6px;margin-bottom: 6px;border-bottom:1px solid #eee;}
#page-index .categories .category dt {color:#62ab00;font-weight:bold; line-height: 2;}

#page-index .pic-headlines { margin-left:300px; _margin-left:294px;}

#page-index .headlines {padding:0;}
#page-index .headlines .bd { height:160px;background: url(./images/index/headlines.png) no-repeat 0 0;padding-left:32px; }
#page-index .headlines .headline {margin-left: 12px;padding-bottom: 9px; margin-bottom:9px;}
#page-index .headlines .headline p{font-size:13px; height: 26px; line-height: 2; overflow: hidden;}
#page-index .headlines .first-headline {border-bottom:1px dotted #ccc;}
#page-index .headlines .headline h1{font-size: 30px; font-weight: bold; height: 45px; overflow:hidden; }

#page-index .focus {padding:0; border-top:1px solid #62ab00;margin-top: 24px;padding-top: 12px;}
#page-index .focus .hd { border-bottom:1px solid #ddd; }
#page-index .focus .hd h1 {font-weight:normal; width:120px;float:left;}
#page-index .focus .hd .cates {float:left;font-size: 16px;line-height: 33px;}
#page-index .focus .hd .more {font-size: 16px;line-height: 26px;}
#page-index .focus .bd { margin-top: 24px; }
#page-index .focus .bd .half-left { padding: 12px; width:318px; float:left; border-right: 1px dotted #ddd;}
#page-index .focus .bd .half-right { padding: 12px; margin-left:346px; padding-right: 0; }
#page-index .focus .bd .first-focus { margin-bottom: 12px; border-bottom: 1px dotted #ddd;}
#page-index .focus .bd .first-focus h2{font-size: 22px; height: 3em; overflow: hidden;}
#page-index .focus .bd .first-focus p { color:#999; padding:12px 0; height: 3em; overflow: hidden;}
#page-index .focus .bd ul li{ line-height: 30px; font-size:13px;}
#page-index .focus .bd ul li.group { font-size: 16px;font-weight:bold; margin-top:21px; height: 16px; line-height: 16px; overflow: hidden; margin-bottom: 8px;}

#page-index .groupbuys .bd { position:relative; background: url(./images/index/groupbuy.png) no-repeat 0 0; padding: 170px 20px 0 20px;}
#page-index .groupbuys .bd .numbered {color:#fff; font-size:15px; position:absolute; top:106px;left:80px;}
#page-index .groupbuys .bd .signup { background: url(./images/index/signup.png) 0 0 no-repeat; width: 69px; height: 87px; position: absolute; right: 10px; top: 80px;}
#page-index .groupbuys .bd .groupbuy {line-height: 36px;}
#page-index .groupbuys .bd .groupbuy dl dt { float:left; width:100px; font-size: 16px;}
#page-index .groupbuys .bd .groupbuy dl dd { margin-left: 110px; font-size: 16px;}
#page-index .groupbuys .bd .groupbuy dl dd button{ border: none; background-color: rgb(255, 204, 51); height: 24px;line-height: 24px;width: 60px;}
#page-index .groupbuys .bd .signup-by-phone { color: #62ab00; line-height:45px;}
#page-index .groupbuys .bd .signup-by-phone img{ vertical-align: bottom; }

#page-index .hykl { margin-top:20px; }

#page-index .datas { margin-top:20px; padding-top:20px;border-top: 1px solid #62ab00;} 
#page-index .datas .hd { border-bottom: 1px solid #ddd; overflow: hidden; padding-bottom: 6px;}
#page-index .datas .hd h2 { font-size: 21px; float: left;}
#page-index .datas .hd .data-selector { margin-top: 6px; text-align:center; cursor:pointer; color:#62ab00; border:1px solid #62ab00; width: 33px; margin-right:6px; height:24px; line-height: 24px; float: left;}
#page-index .datas .hd .data-selector:hover,
#page-index .datas .hd .data-selector-selected { width:35px; color:#fff;background-color:#62ab00; background: url(./images/index/data-selector-selected.png) 0 0 no-repeat; height: 30px; border:none;} 
#page-index .datas .hd .more {font-size: 16px;margin-top: 6px;}
#page-index .datas .bd { padding: 12px 0; line-height: 21px;}
#page-index .datas .bd .dataset { display:none; }
#page-index .datas .bd .dataset-selected { display: block; }

#page-index .m-groupbuys .hd { line-height:43px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#page-index .m-groupbuys .hd h1 { float:left;}
#page-index .m-groupbuys .hd ul {float:left; margin-left: 12px;}
#page-index .m-groupbuys .hd ul li {float:left; font-size: 16px;}
#page-index .m-groupbuys .hd .more { font-size: 16px;}
#page-index .m-groupbuys .bd { padding: 24px 0; }
#page-index .m-groupbuys .bd .groupbuy { width: 310px; margin-right: 35px; float:left; margin-bottom: 24px;padding-bottom: 12px; border-bottom: 1px dotted #ddd;}
#page-index .m-groupbuys .bd .groupbuy-last { margin-right: 0; } 
#page-index .m-groupbuys .bd .groupbuy h2 { line-height: 24px; }
#page-index .m-groupbuys .bd .groupbuy dl { margin-top: 12px; line-height: 18px;}
#page-index .m-groupbuys .bd .groupbuy dl dt { float: left;}
#page-index .m-groupbuys .bd .groupbuy dl dd { float: right;}
#page-index .m-groupbuys .bd .groupbuy .price { color: #ff6600; font-size: 16px; font-weight:bold; }
#page-index .m-groupbuys .bd .groupbuy .discount { color: #ff6600; font-size: 13px;} 
#page-index .m-groupbuys .bd .groupbuy .shape { margin-top: 4px; background: url(/images/index/shape.png) 0 0 no-repeat; width: 72px; height: 23px; line-height: 23px; text-align: center; color: #fff; font-size: 13px; }
#page-index .m-groupbuys .bd .groupbuy .phone { color: #62ab00; } 

#page-index .leaders .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#page-index .leaders .bd { padding: 18px 0; }
#page-index .leaders .bd ul li { line-height:30px; }
#page-index .leaders .bd ul li.pic { margin-bottom: 24px; }

#page-index .locals .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#page-index .locals .bd { padding: 18px 0; }
#page-index .locals .bd ul li { line-height:30px; }
#page-index .locals .bd ul li dl { margin-bottom: 24px; }
#page-index .locals .bd ul li dd { width: 150px; float:right; }
#page-index .locals .bd ul li dt { margin-right: 160px; }
#page-index .locals .bd ul li dt p{ color: #999; }

#page-index .soles .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#page-index .soles .bd { padding: 18px 0; }
#page-index .soles .bd ul li { line-height:30px; }
#page-index .soles .bd ul li.pic { margin-bottom: 24px; }

#page-index .deliveries .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#page-index .deliveries .bd { padding: 18px 0; }
#page-index .deliveries .bd ul li { line-height:30px; }
#page-index .deliveries .bd ul li .price { color: #62ab00; }
#page-index .deliveries .bd ul li dl { overflow:hidden; border-bottom: 1px solid #fff;}
#page-index .deliveries .bd ul li dl dt img { display: none; margin-bottom: 12px;}
#page-index .deliveries .bd ul li dd { float:right; }
#page-index .deliveries .bd ul li dt { margin-right: 120px; }
#page-index .deliveries .bd ul li dl.active { font-size: 15px; font-weight:bold; border-bottom: 1px solid #ddd;}
#page-index .deliveries .bd ul li dl.active dt img {display:block;}

#page-index .lands .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#page-index .lands .bd { padding: 18px 0; }
#page-index .lands .bd ul li { line-height:30px; }
#page-index .lands .bd ul li dl { margin-bottom: 24px; }
#page-index .lands .bd ul li dd { width: 150px; float:right; }
#page-index .lands .bd ul li dt { margin-right: 160px; }
#page-index .lands .bd ul li dt p{ color: #999; }

#page-index .opens .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#page-index .opens .bd { padding: 18px 0; }
#page-index .opens .bd ul li { line-height:30px; }
#page-index .opens .bd ul li dl { overflow:hidden; border-bottom: 1px solid #fff;}
#page-index .opens .bd ul li dl dt img { display:none; margin-bottom: 12px;}
#page-index .opens .bd ul li dd { float:right; }
#page-index .opens .bd ul li dt { margin-right: 120px; }
#page-index .opens .bd ul li dl.active { font-size: 15px; font-weight:bold; border-bottom: 1px solid #ddd;}
#page-index .opens .bd ul li dl.active dt img {display:block;}

#page-newhouse-index .block-areas .hd { height: 45px; line-height: 45px; border-top: 1px solid #62ab00; }
#page-newhouse-index .block-areas .hd h1 { float:left;}
#page-newhouse-index .block-areas .hd ul { float: left;margin-left: 48px;}
#page-newhouse-index .block-areas .hd ul li { float:left; font-size: 16px;}
#page-newhouse-index .block-areas .hd ul li { text-align:center; width: 80px; height: 42px; border-bottom: 3px solid #fff;}
#page-newhouse-index .block-areas .hd ul li.active { border-color: #62ab00; }
#page-newhouse-index .block-areas .hd ul li.hover  a,
#page-newhouse-index .block-areas .hd ul li.active a {color:#62ab00;}
#page-newhouse-index .block-areas .bd { border: 1px solid #ddd; padding: 20px; position: relative;}
#page-newhouse-index .block-areas .bd .images { float: left; margin-right: 16px;} 
#page-newhouse-index .block-areas .bd dl dt { float: left;}
#page-newhouse-index .block-areas .bd dl dd { float:right;} 
#page-newhouse-index .block-areas .bd .row1   { font-size: 13px; line-height: 30px; float: left; border-right: 1px dotted #ddd; width: 238px; padding-right: 20px;}
#page-newhouse-index .block-areas .bd .row2   { padding-left: 20px; font-size: 13px; line-height: 30px; float: left; }
#page-newhouse-index .block-areas .bd .more   { position:absolute;right:0;top:96px;}

#page-newhouse-index .block-selected .hd { line-height: 45px; height: 45px; border-bottom: 1px solid #ddd; }
#page-newhouse-index .block-selected .bd { padding: 24px 0; }
#page-newhouse-index .bd .item { font-size: 13px; line-height:30px; text-align: center; padding: 6px 0;border: 1px solid #ddd; width: 183px; float:left; margin-right: 18px; }
#page-newhouse-index .bd .item-last { margin-right: 0;}
#page-newhouse-index .bd .item.hover { border-color: #62ab00; }

#page-newhouse-list .block-selection { margin-bottom: 12px; height: 45px; line-height: 45px; background-color: #f6f6f6; border: 1px solid #ddd; padding: 0 24px; }
#page-newhouse-list .block-selection a.item { display: inline-block; background-color: #62ab00; line-height: 18px; color: #fff; padding: 3px;}

#page-newhouse-list .block-list { border-top: 1px dotted #ddd; }
#page-newhouse-list .block-list .item { padding: 24px 24px 24px 0; border-bottom: 1px dotted #ddd; }
#page-newhouse-list .block-list .item .image { float:left; width: 230px; }
#page-newhouse-list .block-list .item .description{ margin-left: 270px; }
#page-newhouse-list .block-list .item p { line-height: 30px; font-size: 13px; }
#page-newhouse-list .block-list .item dl { overflow:hidden; margin-bottom: 6px; }
#page-newhouse-list .block-list .item dl dt  {float:left;}
#page-newhouse-list .block-list .item dl dd  {float:right;}
#page-newhouse-list .block-list .item dt ul li  { text-align:center; color: #888; background-color: #fff; float: left; width: 72px; border: 1px solid #ddd; height: 21px; line-height: 21px; margin-right: 12px; }
#page-newhouse-list .block-list .item.hover { background-color:#f6f6f6; }

#page-news-index .block-news-focus .hd { height: 45px; line-height: 48px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd; }
#page-news-index .block-news-focus .bd h2 { margin:12px 0 12px 0; }
#page-news-index .block-news-focus .bd blockquote { padding-bottom: 24px; margin-bottom: 24px; border-bottom: 1px dotted #888; } 
#page-news-index .block-news-focus .bd ul li { line-height: 30px;}

#page-news-index .block-news-list .bd li{ padding-bottom: 13px; padding-right: 13px;}
#page-news-index .block-news-list .bd li.news { border-bottom: 1px dotted #ddd; }
#page-news-index .block-news-list .bd li.hover { background-color: #f6f6f6; }
#page-news-index .block-news-list .bd li.hover h1 a{ color: #62ab00; }
#page-news-index .block-news-list .bd li dl dt { float:left; width: 200px; }
#page-news-index .block-news-list .bd li dl dd { margin-left: 220px; }
#page-news-index .block-news-list .bd li blockquote { height: 56px; overflow:hidden; margin-bottom: 13px; }
#page-news-index .block-news-list .bd li abbr { color: #888; }
#page-news-index .block-news-list .bd li abbr a { color: #62ab00;}
#page-news-index .block-news-list .bd li abbr .left { float:left; } 
#page-news-index .block-news-list .bd li abbr .right { float:right; border-top: 1px solid #ddd; width: 80px; } 

#page-news-detail-index .right-280 .block { margin-top: 30px; }
#page-news-detail-index .right-280 .block .hd h1 { font-size: 18px; }
#page-news-detail-index .right-280 .block .hd .more a{font-size: 14px; color: #888;}
#page-news-detail-index .right-280 .block .bd dl { width: 130px; }
#page-news-detail-index .right-280 .block .bd dl dt img { width: 130px; height: 73px; }

#page-news-detail-index .block-news-detail { border: 1px solid #ddd; padding: 20px 40px; }
#page-news-detail-index .block-news-detail .bd .meta { border-bottom: 1px dotted #ddd; line-height: 48px;}
#page-news-detail-index .block-news-detail .bd .introduction { margin-top: 30px; font-size: 16px; padding: 20px; background-color: #f6f6f6; border-left: 10px solid #666; }
#page-news-detail-index .block-news-detail .bd .remark { padding: 20px 0;}
#page-news-detail-index .block-news-detail .bd .font-fixer a { color: #333; }
#page-news-detail-index .block-news-detail .bd .content { font-size: 16px; line-height: 2; padding: 30px 0 10px 0; }
#page-news-detail-index .block-news-detail .bd .tags { padding: 20px 0; border-bottom: 1px dotted #ddd; }
#page-news-detail-index .block-news-detail .bd .tags .tag { color: #62ab00; }

#page-news-detail-index .block-news-sole-single .bd {position:relative;}
#page-news-detail-index .block-news-sole-single .bd .mark{ line-height: 2;padding: 0 13px; color: #fff;background-color: #62ab00;position:absolute;top: 20px; right: 0; }
#page-news-detail-index .block-news-sole-single .bd blockquote { margin-top: 13px; }

.page-newhouse #brand .logo { width: auto;  }
.page-newhouse #brand .logo i.icon-pop { font-style: normal; line-height:20px; font-size: 16px; color: #fff; padding-left: 12px;}
.page-newhouse #brand .search { float:right; margin-left: auto; text-align:right; margin-top: 33px;}

#page-newhouse-introduction .block-newhouse-introduction .bd { padding: 30px; border: 1px solid #ddd; }
#page-newhouse-introduction .block-newhouse-introduction dl { line-height: 48px; }
#page-newhouse-introduction .block-newhouse-introduction dl dt { float:left; color: #999; width: 100px;}
#page-newhouse-introduction .block-newhouse-introduction dl dd { margin-left: 100px; }
#page-newhouse-introduction .block-newhouse-introduction .content { line-height: 30px; }

#page-newhouse-enviroment .block-newhouse-introduction .bd { padding: 30px; border: 1px solid #ddd; }
#page-newhouse-enviroment .block-newhouse-introduction p { padding: 15px 0;}
#page-newhouse-enviroment .block-newhouse-introduction dl { line-height: 48px; }
#page-newhouse-enviroment .block-newhouse-introduction dl dt { float:left; color: #999; width: 100px;}
#page-newhouse-enviroment .block-newhouse-introduction dl dd { margin-left: 100px; }
#page-newhouse-enviroment .block-newhouse-introduction .content { line-height: 30px; }

#page-newhouse-news .block-news-list .bd { padding: 30px; border: 1px solid #ddd; }
#page-newhouse-news .block-news-list .bd li{ padding-bottom: 13px; padding-right: 13px;}
#page-newhouse-news .block-news-list .bd li.news { border-bottom: 1px dotted #ddd; }
#page-newhouse-news .block-news-list .bd li blockquote { overflow:hidden; margin-bottom: 13px; }
#page-newhouse-news .block-news-list .bd li abbr { color: #888; }
#page-newhouse-news .block-news-list .bd li abbr a { color: #62ab00;}
#page-newhouse-news .block-news-list .bd li abbr .left { float:left; } 
#page-newhouse-news .block-news-list .bd li abbr .right { float:right; } 


#page-groupbuy-index .block-groupbuy-jumbotron { position: relative; overflow: visible; }
#page-groupbuy-index .block-groupbuy-jumbotron .icon-arrow-left-large{ position: absolute; left: -70px; top: 100px; }
#page-groupbuy-index .block-groupbuy-jumbotron .icon-arrow-right-large{ position: absolute; right: -70px; top: 100px; }
#page-groupbuy-index .block-groupbuy-jumbotron .bd { padding: 18px; border: 1px solid #ddd; }
#page-groupbuy-index .block-groupbuy-jumbotron .bd .image { width: 660px; float:left; } 
#page-groupbuy-index .block-groupbuy-jumbotron .bd .description { margin-left: 680px; }
#page-groupbuy-index .block-groupbuy-jumbotron .bd .description h3 { margin-bottom: 12px; border-bottom: 1px dotted #ddd; padding-bottom: 12px; }
#page-groupbuy-index .block-groupbuy-jumbotron .bd .description blockquote { color: #888; margin-bottom: 24px;}
#page-groupbuy-index .block-groupbuy-jumbotron .ft { text-align: center; height: 36px; line-height: 36px;}
#page-groupbuy-index .block-groupbuy-jumbotron .ft ul li { display:inline-block; _zoom:1;_display:inline; margin-right: 24px; }

#page-groupbuy-index .block-groupbuy-new .hd { line-height: 45px; } 
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy { float:left; padding: 10px; border: 1px solid #ddd; width: 298px; margin-right: 20px; margin-bottom: 20px; } 
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy-last { margin-right: 0; } 
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy .image { position: relative; height: 162px; }
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy .image .mark  { display:none; height: 24px; line-height: 24px; color: #fff; position:absolute;bottom: 0; left: 0; right: 0;}
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy .image .price { font-size: 16px; height: 24px; line-height: 24px; color: #fff; position:absolute;bottom: 0; left: 0; right: 0; }
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy .image .mask  { font-size: 16px; height: 24px; line-height: 24px; background-color: #ff6600; color: #fff; position:absolute;bottom: 0; left: 0; right: 0; filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; }
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy .description  {  }
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy .description dl dt { float: left;}
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy .description dl dd { float: right;}
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy .description .btn { font-size: 13px; }
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy.hover { border: 1px solid #ff6600;}
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy.hover .price { left:30px; top:60px;font-size: 26px; }
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy.hover .mark  { left:80px; top: 20px;font-size: 26px;display:block;}
#page-groupbuy-index .block-groupbuy-new .bd .groupbuy.hover .mask  { left:0; top:0; height: 100%; width: 100%;}

#page-newhouse-detail-index .block-newhouse-index { min-height:410px; _height:410px; border: 1px solid #ddd;}
#page-newhouse-detail-index .block-newhouse-index .left-490-10 { padding: 20px; position:relative;}
#page-newhouse-detail-index .block-newhouse-index .left-490-10 .prev {position:absolute;top:120px;left:20px;}
#page-newhouse-detail-index .block-newhouse-index .left-490-10 .next {position:absolute;top:120px;right:60px}
#page-newhouse-detail-index .block-newhouse-index .left-490-10 .pic { margin-bottom: 10px; }
#page-newhouse-detail-index .block-newhouse-index .left-490-10 .thumb img { border: 1px solid #fff; }
#page-newhouse-detail-index .block-newhouse-index .left-490-10 .thumb a.active img { border: 1px solid #62ab00; }
#page-newhouse-detail-index .block-newhouse-index .right-500 {padding:20px;}
#page-newhouse-detail-index .block-newhouse-index .right-500 dl { overflow: hidden; } 
#page-newhouse-detail-index .block-newhouse-index .right-500 dl dt {float:left; width:80px;}
#page-newhouse-detail-index .block-newhouse-index .right-500 dl dd {margin-left: 80px;}

#page-newhouse-detail-index .block-newhouse-intro .hd h1 { color: #333; }
#page-newhouse-detail-index .block-newhouse-intro .bd { border: 1px solid #ddd; padding: 20px;}
#page-newhouse-detail-index .block-newhouse-intro .right-500 dl { overflow: hidden; } 
#page-newhouse-detail-index .block-newhouse-intro .right-500 dl dt {float:left; width:80px;}
#page-newhouse-detail-index .block-newhouse-intro .right-500 dl dd {margin-left: 80px;}

#page-newhouse-detail-index .block-newhouse-pictures .hd h1 { color: #333; }
#page-newhouse-detail-index .block-newhouse-pictures .bd { border: 1px solid #ddd; padding: 20px;}
#page-newhouse-detail-index .block-newhouse-pictures .bd ul li { float:left; margin-right: 29px; margin-bottom: 20px; }
#page-newhouse-detail-index .block-newhouse-pictures .bd ul li.break { margin-right: 0; }
#page-newhouse-detail-index .block-newhouse-pictures .bd ul li p { text-align: center; } 

#page-newhouse-picture-index .block-newhouse-pictures .hd ul { float: left;}
#page-newhouse-picture-index .block-newhouse-pictures .hd ul li { float:left; font-size: 16px;}
#page-newhouse-picture-index .block-newhouse-pictures .hd ul li { text-align:center; width: 100px; height: 42px; border-bottom: 5px solid #fff;}
#page-newhouse-picture-index .block-newhouse-pictures .hd ul li.active { border-color: #62ab00; }
#page-newhouse-picture-index .block-newhouse-pictures .hd ul li.hover  a,
#page-newhouse-picture-index .block-newhouse-pictures .hd ul li.active a {color:#62ab00;}
#page-newhouse-picture-index .block-newhouse-pictures .bd { border: 1px solid #ddd; padding: 20px;}
#page-newhouse-picture-index .block-newhouse-pictures .bd .line { border-bottom: 1px solid #ddd; }
#page-newhouse-picture-index .block-newhouse-pictures .bd .more { float: right; }
#page-newhouse-picture-index .block-newhouse-pictures .bd dl dt { margin-bottom: 20px; }
#page-newhouse-picture-index .block-newhouse-pictures .bd ul li { float: left; margin-bottom: 25px; margin-right: 25px;}
#page-newhouse-picture-index .block-newhouse-pictures .bd ul li.last { margin-right: 0; }

#page-user-login #bd { padding: 80px auto; }
#page-user-login #login-error { line-height: 40px; height: 40px; color: #ff0000; }

#page-user-login .block-user-login { padding: 20px 50px; }
#page-user-login .block-user-login .hd h2 { color: #333; }
#page-user-login .block-user-login .bd { padding:20px 0; }
#page-user-login .block-user-login .bd dl { margin-bottom: 20px; }
#page-user-login .block-user-login .bd dl dt { line-height: 40px; text-align:center; height: 40px; width: 40px; float:left; background-color: #62ab00;}
#page-user-login .block-user-login .bd dl dd { float: left; border: 1px solid #ddd;}
#page-user-login .block-user-login .bd dl dd input[type=text],
#page-user-login .block-user-login .bd dl dd input[type=password] { width: 190px; border: none;display:block; float:left; padding: 0 13px; font-size: 16px; height: 38px; vertical-align: middle; }
#page-user-login .block-user-login .bd button { font-size: 16px; border:none; width: 260px; height: 40px; line-height:40px; color: #fff; background-color: #62ab00; }
#page-user-login .block-user-login .bd .remember { line-height: 32px; height: 32px;  }
#page-user-login .block-user-login .ft { margin-top: 20px; color: #999;}
#page-user-login .block-user-login .ft dl dt { float:left; }
#page-user-login .block-user-login .ft dl dd { float:right; }

#page-user-login .block-groupbuy-jumbotron { position: relative; overflow: visible; }
#page-user-login .block-groupbuy-jumbotron .icon-arrow-left-large{ position: absolute; left: 0; top: 100px; }
#page-user-login .block-groupbuy-jumbotron .icon-arrow-right-large{ position: absolute; right: 0; top: 100px; }
#page-user-login .block-groupbuy-jumbotron .ft { text-align: center; height: 36px; line-height: 36px;}
#page-user-login .block-groupbuy-jumbotron .ft ul li { display:inline-block; _zoom:1;_display:inline; margin-right: 24px; }

#page-user-register #bd { margin: 64px auto; }

#page-user-register .block-user-register .bd { border: 1px solid #ddd; padding: 64px;} 
#page-user-register .block-user-register .bd dl { line-height: 70px; font-size:16px; }
#page-user-register .block-user-register .bd dl dt { float:left; text-align:right; width: 90px; }
#page-user-register .block-user-register .bd dl dt { float:left; }
#page-user-register .block-user-register .bd dl dd.dd1 { float:left; margin-left: 25px; }
#page-user-register .block-user-register .bd dl dd.dd2 { float:left; color: #999; line-height: 20px; margin-top:13px; margin-left: 25px; width: 270px;}
#page-user-register .block-user-register .bd dl dd input[type=text],
#page-user-register .block-user-register .bd dl dd input[type=password] { border: 1px solid #ddd; height: 38px; line-height: 38px; padding: 0 13px; width: 330px;}
#page-user-register .block-user-register .bd dl dd input.validate-code { width: 120px; }
#page-user-register .block-user-register .bd dl dd button { font-size: 16px; color: #fff; background-color: #62ab00; border:none; height: 40px; line-height: 40px; width: 356px;}
#page-user-register .block-user-register .bd dl.hover dt { color: #62ab00; }
#page-user-register .block-user-register .bd dl.hover dt dd { color: #62ab00; }
#page-user-register .block-user-register .bd dl.hover dd input[type=text],
#page-user-register .block-user-register .bd dl.hover dd input[type=password] { border-color: #62ab00; }
#page-user-register .block-user-register .bd dl.hover dd label {color: #62ab00;}
#page-user-register .block-user-register .bd dl.hover dd label.error { color: #ff0000; }
#page-user-register .block-user-register .bd dl.hover dd label.valid { color: #62ab00; }
/*Blocks*/
#block-newhouse-focus .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#block-newhouse-focus .bd { padding: 18px 0 0 0; }
#block-newhouse-focus .bd ul li { line-height: 31px; }
#block-newhouse-focus .bd ul li .price { color: #62ab00; }
#block-newhouse-focus .bd ul li dl { overflow:hidden; border-bottom: 1px solid #fff;}
#block-newhouse-focus .bd ul li dt img { display:none; margin-bottom: 12px;}
#block-newhouse-focus .bd ul li dd { float:right; }
#block-newhouse-focus .bd ul li dl.active  { font-size: 15px; font-weight:bold; border-bottom: 1px solid #ddd;}
#block-newhouse-focus .bd ul li dl.active dt img{ display:block; }

#block-newhouse-recommends .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#block-newhouse-recommends .bd { padding: 18px 0 0 0; }
#block-newhouse-recommends .bd ul li { line-height: 31px; }
#block-newhouse-recommends .bd ul li .price { color: #62ab00; }
#block-newhouse-recommends .bd ul li dl { overflow:hidden; border-bottom: 1px solid #fff;}
#block-newhouse-recommends .bd ul li dt img { display:none; margin-bottom: 12px;}
#block-newhouse-recommends .bd ul li dd { float:right; }
#block-newhouse-recommends .bd ul li dl.active { font-size: 15px; font-weight:bold; border-bottom: 1px solid #ddd;}
#block-newhouse-recommends .bd ul li dl.active dt img{ display:block; }

#block-newhouse-deliveries .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#block-newhouse-deliveries .bd { padding: 18px 0 0 0; }
#block-newhouse-deliveries .bd ul li { line-height:30px; }
#block-newhouse-deliveries .bd ul li dl { overflow:hidden; border-bottom: 1px solid #fff;}
#block-newhouse-deliveries .bd ul li dt img { display:none; margin-bottom: 12px;}
#block-newhouse-deliveries .bd ul li dd { float:right; }
#block-newhouse-deliveries .bd ul li dl.active { font-size: 15px; font-weight:bold; border-bottom: 1px solid #ddd;}
#block-newhouse-recommends .bd ul li dl.active dt img { display:block; }

#block-newhouse-opens .hd { line-height: 45px; border-top: 1px solid #62ab00; border-bottom: 1px solid #ddd;}
#block-newhouse-opens .bd { padding: 18px 0 0 0; }
#block-newhouse-opens .bd ul li { line-height:30px; }
#block-newhouse-opens .bd ul li dl { overflow:hidden; border-bottom: 1px solid #fff;}
#block-newhouse-opens .bd ul li dt img { display:none; margin-bottom: 12px;}
#block-newhouse-opens .bd ul li dd { float:right; }
#block-newhouse-opens .bd ul li dl.active { font-size: 15px; font-weight:bold; border-bottom: 1px solid #ddd;}
#block-newhouse-opens .bd ul li dl.active dt img{ display:block; }

#block-links { padding: 12px 30px; }
#block-links .hd { border-bottom:1px solid #62ab00; }
#block-links .bd {padding: 0 12px;}
#block-links .bd ul{margin-top:12px;}
#block-links .bd ul li{line-height:24px;float:left;width:12.5%;}

#block-newhouse-quick-search .bd{ padding: 18px; border: 1px solid #ddd; line-height: 27px;}
#block-newhouse-quick-search dl dt { width: 48px; float: left; }
#block-newhouse-quick-search dl dd { margin-left: 48px; }
#block-newhouse-quick-search dl dd li a.active { color: #62ab00;}
#block-newhouse-quick-search dl dd li { float: left; margin-right: 12px;}
#block-newhouse-quick-search dl dd li a.selected { background: url(./images/icons/close-18x24.png) right center no-repeat; border: 1px solid #62ab00; height: 22px; line-height: 22px; padding-right: 20px; padding-left: 4px; display:inline-block; }
#block-newhouse-quick-search .letters { margin-top: 12px; }
#block-newhouse-quick-search .letters dt { background: url(/images/newhouse/letters.png) 0 0 no-repeat; color: #fff; width: 80px; text-align: center;}
#block-newhouse-quick-search .letters dd { margin-left: 75px; }
#block-newhouse-quick-search .letters li { margin-right: 3px; border: 1px solid #62ab00; width: 26px; text-align: center;}
#block-newhouse-quick-search .letters li a { color: #62ab00;}
#block-newhouse-quick-search .letters li.disabled { color: #ddd; border-color: #ddd; }
#block-newhouse-quick-search .letters li.disabled a{ color: #ddd; }
#block-newhouse-quick-search .letters li.hover { background-color: #62ab00;  }
#block-newhouse-quick-search .letters li.hover a{ color: #fff;  }
#block-newhouse-quick-search .letters li.active{ background-color: #62ab00; }
#block-newhouse-quick-search .letters li.active a{ color: #fff; }

#block-buyer-guide .hd { border-bottom: 1px solid #62ab00; margin-bottom: 24px;}
#block-buyer-guide .guide{ border: 1px solid #ddd; text-align:center; float: left; width: 120px; height: 140px; line-height: 2;}
#block-buyer-guide .guide{ margin: 0 16px 16px 0; }
#block-buyer-guide .guide-last { margin-right: 0; }
#block-buyer-guide .guide.hover{ border-color: #62ab00; }

#block-news-view .bd { margin-top: 20px;}
#block-news-view .bd dl { float: left; width:150px; margin-right: 20px;}
#block-news-view .bd dl.last { margin-right: 0; }

#block-news-leader .bd { margin-top: 20px;}
#block-news-leader .bd dl { float: left; width:150px; margin-right: 20px;}
#block-news-leader .bd dl.last { margin-right: 0; }

#block-news-special .bd { margin-top: 20px;}
#block-news-special .bd dl { float: left; width:150px; margin-right: 20px;}
#block-news-special .bd dl.last { margin-right: 0; }

#block-news-data .bd { margin-top: 20px;}
#block-news-data .bd dl { float: left; width:150px; margin-right: 20px;}
#block-news-data .bd dl.last { margin-right: 0; }

#block-news-sole .bd { margin-top: 20px;}
#block-news-sole .bd dl { float: left; width:150px; margin-right: 20px;}
#block-news-sole .bd dl.last { margin-right: 0; }

