/* nubix@qq.com */

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,code,em,strong,th{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}


body { font-size: 12px;color #212121;line-height:1.5;font-family: microsoft yahei, simsun, arial; }
a{color:#212121;text-decoration:none;}
a:hover { color:#ff6600;}

h1 {font-size:2em;font-weight:bold;}
h2 {font-size:1.5em;font-weight:bold;}
h3 {font-size:1.25em;font-weight:bold;}

.primary {color:#63ab00;}
.secondary{color:#528e00;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

p{margin:0;}

#hd {}
#bd {margin:0 auto;width:1000px;}
#ft {color:#666;border-top:1px solid #ccc;text-align:center;margin-top:0.5em;padding-top:0.5em;}
#ft a{color:#666;text-decoration:none;}

.block { padding:1.25em 2.5em; }
.block:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.block{*+height:1%;}
.block .hd{padding-bottom:0.5em;}

.block .hd h1{color:#528e00;}
.block .hd h2{color:#528e00;}
.block .hd h3{color:#528e00;}

.block-bordered{border:1px solid #eee;}
.hd-bordered{border-bottom:1px solid #63ab00;}

#brand {height:8em;width:1000px;margin:0 auto;}
#brand .logo{float:left;line-height:8em;}
#brand .search{float:right;}
#brand .search form {margin-top:2.5em;}
#brand .search form input[type=text] {float:left;border:1px solid #63ab00;width:36em;height:2em;padding:0.5em;}
#brand .search form input[type=submit] {float:left;border:1px solid #528e00;color:#fff;background-color:#528e00;height:2.1em;font-size:1.5em;padding:0 2em;}
#brand .search .quick-search{line-height:2em;}
#brand .search .quick-search ul li{ float:left;margin-right:0.5em; }


#nav { height:4em;line-height:3.75em;background-color:#63ab00;}
#nav .wrap {width:1000px;margin:0 auto;}

#nav ul {display:block;}
#nav ul.menu li{float:left;padding:0 2.5em;}
#nav ul.menu li.active { background-color:#528e00; }
#nav ul.menu li.hover { background-color:#528e00; }
#nav ul.menu li a{color:#fff;font-size:1.5em;}

#nav ul.user {display:block;float:right;}
#nav ul.user li{float:right;margin-right:1em;}
#nav ul.user li a{color:#fff;font-size:1.25em;font-weight:bold;}

#links .hd { border-bottom:1px solid #63ab00; }
#links .bd {padding: 0 1em;}
#links .bd ul{margin-top:1em;}
#links .bd ul li{line-height:2em;float:left;width:12.5%;}

/*Pages*/
.page-index {margin:1em 0;}
.page-index .categories { float:left; width:270px;height:360px; }
.page-index .categories .hd h1{font-weight:normal;}
.page-index .categories .bd{ margin:1em 0;}
.page-index .categories .category {padding-bottom:0.5em;margin-bottom:0.5em;border-bottom:1px solid #eee;}
.page-index .categories .category dt {color:#528e00;font-weight:bold;}
