<div >
    <div class="panel admin-panel">
        <div class="panel-head">
            <strong>
                车位管理
            </strong>
        </div>
        <div class="padding border-bottom">
            <button class="button win-back icon-arrow-left" style="float: right" onclick="javascript:window.history.go(-1)"> 后退</button>
            <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
            <input type="button" class="button button-small border-yellow" value="批量删除" />
        </div>

    </div>
</div>

