<!DOCTYPE html>
<html>
{{template "lib"}}
{{set . "HTMLComponent" "groupbuy"}}
{{set . "HTMLTitle" "团购"}}
{{template "head" .}}
<body id='page-groupbuy-index'>

	{{template "top" .}}
	
	<div id='hd'>
	
		{{template "brand" .}}
		
		<div id='nav'>
			<div class='wrap'>
				<ul class='menu'>
					<li class='hoverable clickable active'><a href='/groupbuy/'>团购首页</a></li>
					<li class='hoverable clickable'><a href='/user/groupbuy.html'>我的团购</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div>
		<div id='bd'>
			<div class='section'>
			
				<div class='block-groupbuy-jumbotron block block-boundless'>
				
					<a class='prev' href='javascript:void(0)'><i class='icon-arrow-left-large'></i></a>
					<a class='next' href='javascript:void(0)'><i class='icon-arrow-right-large'></i></a>
					
					<div class='bd clearfix'>
						{{range $i, $v := slice .GroupbuyRecommends 0 3}}
						<div class='clickable groupbuy clearfix' style='{{if gt $i 0 }}display:none;{{end}}'>
							<div class='image'>
								{{if and .Cover .Cover.Big }} <img width=660 height=371 src='{{.Cover.Big.Path}}' /> {{end}}
							</div>
							<div class='description'>
							
								<h1><a href='/newhouse/o{{.Id}}.html'><b>{{.Name}}</b></a></h1>
								<h3>
									{{if .Features}}{{join (slice .Features 0 3) "，"}}
									{{if gt (len .Features) 3}}...{{end}}
									{{end}}
								</h3>
								
								{{if .Brief}}
								<blockquote class='f13'>
									{{.Brief}}
								</blockquote>
								{{end}}
								
								<p class='featured f26'>{{.GroupDescription}}</p>
								<p class='f16 l3'>
									参团人数 <span class='featured'>{{.NGroup}}</span> 人
									&nbsp;&nbsp;<a class='btn btn-featured btn-small' style='font-size: 13px;'>立刻参加</a>
								</p>
								<p class='f16 l3'>
									团购截止
									<span class='f18 featured'> {{.SGroupRemain}}</span>
								</p>
							</div>
						</div>
						{{end}}
					</div>
					<div class='ft'>
						<ul>
							<li class='active' data-target='0'><a href='javascript:void(0)'><i class='icon-square'></i></a></li>
							<li data-target='1'><a href='javascript:void(0)'><i class='icon-square-gray'></i></a></li>
							<li data-target='2'><a href='javascript:void(0)'><i class='icon-square-gray'></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class='section'>
				<div class='block block-groupbuy-new block-boundless'>
					<div class='hd'>
						<h1 style='color: #000;'>最新团购</h1>
					</div>
					<div class='bd'>
					
						{{range $i, $v :=  slice .GroupbuyNewest 0 6}}
						<div class='groupbuy {{if eq (mod $i 3) 2}}groupbuy-last{{end}} hoverable clickable'>
							<div class='image'>
								{{if and .Cover .Cover.Palm }}<img width=298 height=162 src='{{.Cover.Palm.Path}}' />{{end}}
								<div class='mask'></div>
								<div class='mark'>房团网特惠</div>
								<div class='price'>
									&nbsp;&nbsp;&nbsp;&nbsp;均价{{.GroupPrice}}元/㎡
								</div>
							</div>
							
							<div class='description'>
							
								<dl class='clearfix l3'>
									<dt><h2><a href='/newhouse/o{{.Id}}.html'><b>{{.Name}}</b></a></h2></dt>
									<dd class='f16'>
										参团人数 <span class='featured'>{{.NGroup}}</span> 人
									</dd>
								</dl>
								
								<dl class='clearfix f14 l2'>
									<dt>市场价：{{.Price}} 元/㎡</dt>
									<dd class='f16'>
									</dd>
								</dl>
								
								<dl class='clearfix'>
									<dt class='f16 featured l2'>{{.GroupDescription}}</dt>
									<dd class='f16 l2'>
										<a class='btn btn-featured btn-small' href='javascript:void(0)'>立刻参加</a>
									</dd>
								</dl>
							</div>
						</div>
						{{end}}
						
						<!-- 
						<div class='groupbuy groupbuy-last hoverable'>
							<div class='image'>
								<img src='/images/groupbuy/sample-groupbuy.jpg' />
								<div class='mask'></div>
								<div class='mark'>房团网特惠</div>
								<div class='price'>
									&nbsp;&nbsp;&nbsp;&nbsp;均价5300元/㎡
								</div>
							</div>
							
							<div class='description'>
							
								<dl class='clearfix l3'>
									<dt><h2><a href='#'><b>万科·海上传奇</b></a></h2></dt>
									<dd class='f16'>
										参团人数 <span class='featured'>250</span> 人
									</dd>
								</dl>
								
								<dl class='clearfix f14 l2'>
									<dt>市场价：6268元/平</dt>
									<dd class='f16'>
									</dd>
								</dl>
								
								<dl class='clearfix'>
									<dt class='f16 featured l2'>5300元/㎡</dt>
									<dd class='f16 l2'>
										<a class='btn btn-featured btn-small' href='#'>立刻参加</a>
									</dd>
								</dl>
							</div>
						</div>
						 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{{template "ft" .}}
	<script type="text/javascript">
		$(function(){
			
			$(".block-groupbuy-jumbotron").each(function(){
				
				var that = this;
				
				$(that).find(".ft li").click(function(){
					
					$(that).find(".ft li i.icon-square").removeClass("icon-square").addClass("icon-square-gray")
					$(this).find("i").removeClass("icon-square-gray").addClass("icon-square")
					
					$(that).find(".ft li.active").removeClass("active");
					$(this).addClass("active");
					
					$(that).find(".groupbuy:visible").hide();
					$(that).find(".groupbuy").eq($(this).data("target")).show();
				})
				
				$(that).find(".prev").click(function(){
					
					var prev = $(that).find(".ft li.active").prev();
					
					if(prev.size() > 0){
						prev.click();
					}else{
						$(that).find(".ft li:last").click();
					}
					
				})
				
				$(that).find(".next").click(function(){
					
					var next = $(that).find(".ft li.active").next();
					
					if(next.size() > 0){
						next.click();
					}else{
						$(that).find(".ft li:first").click();
					}
					
				})
				
				var stopped = false
				
				$(that).hover(function(){
					stopped = true
				},function(){
					stopped = false
				})
				
				window.setInterval(function(){
					
					if(stopped || !$(that).is(":visible")){
					}else{
						$(that).find(".next").click();
					}
				}, 10000);
			})
		})
	</script>
</body>
</html>
