<!DOCTYPE html>
<html>

{{template "lib"}}

{{template "head" .}}
<body>

	<div id='hd'>

		<div id='brand' class='clearfix'>
			<div class='logo'><a href='/'><img src='/images/logo.png'/></a></div>
			<div class='search'>
				<div class='form clearfix'>
					<form action='/estate/list.html'>
						<input class='text' name='q' type='text' placeholder='输入楼盘名称、地址或开发商等' /> 
						<input class='submit' type='submit' value='搜索' />
					</form>
				</div>
				<div class='quick-search clearfix'>
					<ul>
						<li><a href='#'>嘉兴万达</a></li>
						<li><a href='#'>中港城</a></li>
						<li><a href='#'>旭辉广场</a></li>
						<li><a href='#'>南湖区</a></li>
						<li><a href='#'>江南摩尔</a></li>
						<li><a href='#'>嘉兴</a></li>
						<li><a href='#'>桐乡</a></li>
						<li><a href='#'>嘉善</a></li>
						<li><a href='#'>海宁</a></li>
						<li><a href='#'>平湖</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id='nav'>
			<div class='wrap'>
				<ul class='menu'>
					<li class='hoverable clickable active'><a href='/'>首页</a></li>
					<li class='hoverable clickable'><a href='/newhouse/'>新房</a></li>
					<li class='hoverable clickable'><a href='javascript:void(0)'>二手房</a></li>
					<li class='hoverable clickable'><a href='/news/'>资讯</a></li>
					<li class='hoverable clickable'><a href='#'>装修</a></li>
					<li class='hoverable clickable'><i class='icon-thumb'>&nbsp;</i><a href='/groupbuy/'>团购</a></li>
				</ul>
				<ul class='user'>
					<li class='hoverable clickable'><a href='/login.html'>登录</a></li>
					<li class='hoverable clickable padding'><a>|</a></li>
					<li class='hoverable clickable'><a href='/register.html'>注册</a></li>
					<li class='hoverable clickable'><i class='icon-user'></i></li>
				</ul>
			</div>
		</div>
	</div>

	<div id='bd'>{{ yield }}</div>
	
	{{template "ft"}}
	
</body>
</html>
