<div class='page-index'>
  <div class='clearfix'>
    <div class='categories block block-bordered'>
      <div class='hd hd-bordered'>
        <h1>全部分类</h1>
      </div>
      <div class='bd'>
        <div class='category'>
          <dl>
            <dt>区域</dt>
            <dd>
              <a href='#'>中心城区</a>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
            </dd>
          </dl>
        </div>
        <div class='category'>
          <dl>
            <dt>区域</dt>
            <dd>
              <a href='#'>中心城区</a>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
            </dd>
          </dl>
        </div>
        <div class='category'>
          <dl>
            <dt>区域</dt>
            <dd>
              <a href='#'>中心城区</a>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
            </dd>
          </dl>
        </div>
        <div class='category'>
          <dl>
            <dt>区域</dt>
            <dd>
              <a href='#'>中心城区</a>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
              <nobr>| <a href='#'>南湖新区</a></nobr>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  	<div class='pic-headlines'>
  		<img src='/images/sample.png' />
  	</div>
  </div>
</div>

<div id='links' class='block block-bordered clearfix'>

  <div class='hd'>
    <h3>友情链接</h3>
  </div>

  <div class='bd'>
    <ul>
      {{ range .Links}}
        <li><a target="_blank" href='{{.Link}}'>{{.Name}}</a></li>
      {{end}}
    </ul>
  </div>

</div>
