<!DOCTYPE html>
<html>
{{template "lib"}}
{{template "head" .}}
<body>

	<div id='hd'>

		{{ template "brand"}}

		<div id='nav'>
			<div class='wrap'>
				<ul class='menu'>
					<li class='hoverable clickable active'><a href='/'>首页</a></li>
					<li class='hoverable clickable'><a href='/newhouse/'>新房</a></li>
					<li class='hoverable clickable'><a href='javascript:void(0)'>二手房</a></li>
					<li class='hoverable clickable'><a href='/news/'>资讯</a></li>
					<li class='hoverable clickable'><a href='#'>装修</a></li>
					<li class='hoverable clickable'><i class='icon-thumb'>&nbsp;</i><a href='/groupbuy/'>团购</a></li>
				</ul>
				<ul class='user'>
					<li class='hoverable clickable'><a href='/register.html'>注册</a></li>
					<li class='hoverable clickable padding'><a>|</a></li>
					<li class='hoverable clickable'><a href='/login.html'>登录</a></li>
					<li class='hoverable clickable'><i class='icon-user'></i></li>
				</ul>
			</div>
		</div>
	</div>

	<div id='bd'>{{ yield }}</div>
	
	{{template "ft" .}}
	
	<script type="text/javascript">
	$(function(){
		
		$(".datas .data-selector").hover(function(){
			
			var that = this;
			$(".datas .data-selector.data-selector-selected").removeClass("data-selector-selected");
			$(that).addClass("data-selector-selected");
			
			setTimeout(function(){
				
				if($(that).hasClass("data-selector-selected")) {
					$(".datas").find(".dataset").hide();
					$(".datas").find($(that).attr("data-for")).fadeIn();
				}
			}, 200)
		}, function(){})
		
		$(".deliveries .bd ul li dl").hover(function(){
			$(".deliveries .bd ul li.pic img").attr("src", $(this).attr("data-cover"))
		})
		
		$(".opens .bd ul li dl").hover(function(){
			$(".opens .bd ul li.pic img").attr("src", $(this).attr("data-cover"))
		})
	})
	</script>
	
</body>
</html>
