<div id='page-index'>

  <div class='clearfix section'>
    <div class='categories block block-bordered'>
      <div class='hd hd-bordered'>
        <h1>全部分类</h1>
      </div>
      <div class='bd'>
        <div class='category'>
          <dl>
            <dt>区域</dt>
            <dd>
              {{ range $index, $area := .Areas }}
                {{ if gt $index 0 }}|{{end}}
                <nobr><a href='{{queryN "/newhouse/list.html" $.Query "area" .Id}}'>{{.Area}}</a></nobr>
              {{ end }}
            </dd>
          </dl>
        </div>
        <div class='category'>
          <dl>
            <dt>用途</dt>
            <dd>
              {{ range $index, $usage := .Tops.Usages }}
                {{ if gt $index 0 }}|{{end}}
                <nobr><a href='{{queryN "/newhouse/list.html" $.Query "usage" .Value}}'>{{.Name}}</a></nobr>
              {{ end }}
            </dd>
          </dl>
        </div>
        <div class='category'>
          <dl>
            <dt>价格</dt>
            <dd>
              {{ range $index, $price := .Tops.Prices }}
                {{ if gt $index 0 }}|{{end}}
                <nobr><a href='{{queryN "/newhouse/list.html" $.Query "price" .Value}}'>{{.Name}}</a></nobr>
              {{ end }}
            </dd>
          </dl>
        </div>
        <div class='category'>
          <dl>
            <dt>特色</dt>
            <dd>
              {{ range $index, $feature := .Tops.Features }}
                {{ if gt $index 0 }}|{{end}}
                <nobr><a href='{{queryN "/newhouse/list.html" $.Query "feature" .Value}}'>{{.Name}}</a></nobr>
              {{ end }}
            </dd>
          </dl>
        </div>
      </div>
    </div>
  	<div class='pic-headlines'>
  		<img src='/images/sample.png' />
  	</div>
  </div>
  
  <div class='section'>
  
  	<div class='left-670-30'>
	  	
	  	<div class='headlines block'>
	  		<div class='bd'>
	  			<div class='headline first-headline'>
		  			<h1><a href='#'>2015年究竟该不该买房？避免四大错误思维</a></h1>
		  			<p>市区铁路客运站迎退票高潮 “晚查找早购票”来捡 市区铁路客运站迎退票高潮 “晚查找早购票”来捡</p>
	  			</div>
	  			<div class='headline'>
		  			<h1>2015年究竟该不该买房？避免四大错误思维</h1>
		  			<p>市区铁路客运站迎退票高潮 “晚查找早购票”来捡 市区铁路客运站迎退票高潮 “晚查找早购票”来捡</p>
	  			</div>
	  		</div>
	  	</div>
  	
  		<div class='focus block'>
  			<div class='hd clearfix'>
  				<h1>要闻推荐</h1>
  				<div class='cates'>
	  				<a href='#'>成交数据</a>
	  				| <a href='#'>楼市周刊</a>
	  				| <a href='#'>土地播报</a>
  				</div>
  				<div class='more'>
  					<a href='#'>更多</a>
  				</div>
  			</div>
  			<div class='bd'>
  			
  				<div class='half-left'>
  				
  					<div class='first-focus'>
	  					<h2><a href='#'>2015年楼市高价地开局 房地产税今年或实现突破</a></h2>
	  					<p>
	  						逢2015年新春，各种高冷奇葩年终奖借着冷空气，在朋友圈里疯狂来袭。就在大家纷纷质疑还能不能好好的享...
	  					</p>
  					</div>
  					
  					<ul>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li class='group'><i class='icon-dot'></i> <a href='#'>2015年楼市高价地开局 房地产税今年</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  					</ul>
  				</div>
  				<div class='half-right'>
  					<div class='first-focus'>
	  					<h2><a href='#'>2015年楼市高价地开局 房地产税今年或实现突破</a></h2>
	  					<p>
	  						逢2015年新春，各种高冷奇葩年终奖借着冷空气，在朋友圈里疯狂来袭。就在大家纷纷质疑还能不能好好的享...
	  					</p>
  					</div>
  					
  					<ul>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li class='group'><i class='icon-dot'></i> <a href='#'>2015年楼市高价地开局 房地产税今年</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i><a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  						<li><i class='icon-dot'></i> <a href='#'>孩子该上幼儿园了吧？幼儿园有多少到底怎么样？</a></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  	
  	</div>
  	
  	<div class='right-300'>
  		<div class='groupbuys block block-boundless block-bordered'>
  			<div class='bd'>
  			
  				<div class='numbered'>已报名： 73990 人</div>
  				<div class='signup'></div>
  				
  				<div class='groupbuy'>
  					<dl>
  						<dt>
  							铂金府邸
  						</dt>
  						<dd>
  							1561人
  							&nbsp;
  							<button>求组团</button>
  						</dd>
  					</dl>
  				</div>
  				<div class='groupbuy'>
  					<dl>
  						<dt>
  							铂金府邸
  						</dt>
  						<dd>
  							1561人
  							&nbsp;
  							<button>求组团</button>
  						</dd>
  					</dl>
  				</div>
  				<div class='groupbuy'>
  					<dl>
  						<dt>
  							铂金府邸
  						</dt>
  						<dd>
  							1561人
  							&nbsp;
  							<button>求组团</button>
  						</dd>
  					</dl>
  				</div>
  				
  				<div class='signup-by-phone'>
  					报名热线
  					<img src='/images/index/phone.png' />
  					<span class='phone'>400-080-6666</span>
  				</div>
  			</div>
  		</div>
  		
  		<div class='hykl block block-boundless'>
  			<div class='bd'>
  				<img src='/images/index/hykl.png' />
  			</div>
  		</div>
  		
  		<div class='datas block block-boundless'>
  			<div class='hd clearfix'>
  			
  				<div class='data-selector'>日</div>
  				<div class='data-selector data-selector-selected'>周</div>
  				<div class='data-selector'>月</div>
  				
  				<h2>数据中心</h2>
  				
  				<div class='more'><a href='#'>更多</a></div>
  			</div>
  			<div class='bd'>
  				<p>
	  				周成交数据 （嘉兴 2014-12-29至2015-01-04）
	  			</p>
	  			<p>
					总套数：520套 总面积：61700㎡
  				</p>
  				<br/>
				<p>· <a href='#'>嘉兴2015年1月9日楼市成交备案55套</a></p>
				<p>· <a href='#'>嘉兴2015年1月8日楼市成交备案66套</a></p>
				<p>· <a href='#'>嘉兴2015年1月7日楼市成交备案57套</a></p>
				<p>· <a href='#'>嘉兴2015年1月6日楼市成交备案103套</a></p>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class='section'>
  	
  	<div class='m-groupbuys block block-boundless'>
  	
  		<div class='hd clearfix'>
  			<h1>电商团购 <i class="icon-thumb-small">&nbsp;</i></h1>
  			<ul>
  				<li><a href='#'>全部楼盘</a></li>
  				<li>&nbsp;| <a href='#'>住宅</a></li>
  				<li>&nbsp;| <a href='#'>别墅</a></li>
  				<li>&nbsp;| <a href='#'>商铺</a></li>
  				<li>&nbsp;| <a href='#'>写字楼</a></li>
  			</ul>
  			<div class='more'><a href='#'>更多</a></div>
  		</div>
  		
  		<div class='bd'>
  		
  			<div class='groupbuy'>
  			
  				<div><img src='/images/index/sample.jpg' /></div>
  				
  				<dl class='clearfix'>
  					<dt><h2>承安南湖壹品</h2></dt>
  					<dd><a class='btn' href='#'>我要团购</a></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt><h3>团购价： <span class='price'>7680</span>元/平米</h3></dt>
  					<dd><span class='deletion'>原价:7680元/平米</span></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt class='discount'><i class='icon-arrow-right'>&nbsp;</i> 平均优惠7万元/套</dt>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt>
  						<h2>
  							<i class='icon-phone-large'>&nbsp;</i> 
  							<span class='phone'>400-700-1234</span>
  							转 
  							<span class='phone'>6486</span>
  						</h2>
  					</dt>
  					<dd>
  						<div class='shape'>110人</div>
  					</dd>
  				</dl>
  			</div>
  			<div class='groupbuy'>
  			
  				<div><img src='/images/index/sample.jpg' /></div>
  				
  				<dl class='clearfix'>
  					<dt><h2>承安南湖壹品</h2></dt>
  					<dd><a class='btn' href='#'>我要团购</a></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt><h3>团购价： <span class='price'>7680</span>元/平米</h3></dt>
  					<dd><span class='deletion'>原价:7680元/平米</span></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt class='discount'><i class='icon-arrow-right'>&nbsp;</i> 平均优惠7万元/套</dt>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt>
  						<h2>
  							<i class='icon-phone-large'>&nbsp;</i> 
  							<span class='phone'>400-700-1234</span>
  							转 
  							<span class='phone'>6486</span>
  						</h2>
  					</dt>
  					<dd>
  						<div class='shape'>110人</div>
  					</dd>
  				</dl>
  			</div>
  			<div class='groupbuy groupbuy-last'>
  			
  				<div><img src='/images/index/sample.jpg' /></div>
  				
  				<dl class='clearfix'>
  					<dt><h2>承安南湖壹品</h2></dt>
  					<dd><a class='btn' href='#'>我要团购</a></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt><h3>团购价： <span class='price'>7680</span>元/平米</h3></dt>
  					<dd><span class='deletion'>原价:7680元/平米</span></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt class='discount'><i class='icon-arrow-right'>&nbsp;</i> 平均优惠7万元/套</dt>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt>
  						<h2>
  							<i class='icon-phone-large'>&nbsp;</i> 
  							<span class='phone'>400-700-1234</span>
  							转 
  							<span class='phone'>6486</span>
  						</h2>
  					</dt>
  					<dd>
  						<div class='shape'>110人</div>
  					</dd>
  				</dl>
  			</div>
  			<div class='groupbuy'>
  			
  				<div><img src='/images/index/sample.jpg' /></div>
  				
  				<dl class='clearfix'>
  					<dt><h2>承安南湖壹品</h2></dt>
  					<dd><a class='btn' href='#'>我要团购</a></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt><h3>团购价： <span class='price'>7680</span>元/平米</h3></dt>
  					<dd><span class='deletion'>原价:7680元/平米</span></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt class='discount'><i class='icon-arrow-right'>&nbsp;</i> 平均优惠7万元/套</dt>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt>
  						<h2>
  							<i class='icon-phone-large'>&nbsp;</i> 
  							<span class='phone'>400-700-1234</span>
  							转 
  							<span class='phone'>6486</span>
  						</h2>
  					</dt>
  					<dd>
  						<div class='shape'>110人</div>
  					</dd>
  				</dl>
  			</div>
  			<div class='groupbuy'>
  			
  				<div><img src='/images/index/sample.jpg' /></div>
  				
  				<dl class='clearfix'>
  					<dt><h2>承安南湖壹品</h2></dt>
  					<dd><a class='btn' href='#'>我要团购</a></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt><h3>团购价： <span class='price'>7680</span>元/平米</h3></dt>
  					<dd><span class='deletion'>原价:7680元/平米</span></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt class='discount'><i class='icon-arrow-right'>&nbsp;</i> 平均优惠7万元/套</dt>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt>
  						<h2>
  							<i class='icon-phone-large'>&nbsp;</i> 
  							<span class='phone'>400-700-1234</span>
  							转 
  							<span class='phone'>6486</span>
  						</h2>
  					</dt>
  					<dd>
  						<div class='shape'>110人</div>
  					</dd>
  				</dl>
  			</div>
  			<div class='groupbuy groupbuy-last'>
  			
  				<div><img src='/images/index/sample.jpg' /></div>
  				
  				<dl class='clearfix'>
  					<dt><h2>承安南湖壹品</h2></dt>
  					<dd><a class='btn' href='#'>我要团购</a></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt><h3>团购价： <span class='price'>7680</span>元/平米</h3></dt>
  					<dd><span class='deletion'>原价:7680元/平米</span></dd>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt class='discount'><i class='icon-arrow-right'>&nbsp;</i> 平均优惠7万元/套</dt>
  				</dl>
  				
  				<dl class='clearfix'>
  					<dt>
  						<h2>
  							<i class='icon-phone-large'>&nbsp;</i> 
  							<span class='phone'>400-700-1234</span>
  							转 
  							<span class='phone'>6486</span>
  						</h2>
  					</dt>
  					<dd>
  						<div class='shape'>110人</div>
  					</dd>
  				</dl>
  			</div>
  		</div>
  		
  	</div>
  </div>


  <div class='section'>
  	<div class='left-270-30'>
  		<div class='leaders block block-boundless'>
  			<div class='hd'>
  				<div class='more f16'><a href='#'>更多</a></div>
  				<h1>各界声音</h1>
  			</div>
  			<div class='bd f13'>
  				<ul>
  					<li class='pic'><a href='#'><img src='/images/index/sample-news.jpg' /></a></li>
  					<li><i class='icon-dot'></i> <a href='#'>专访国贸中心广场营销总监 周鉴川</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>金都·南德大院策划经理 庄景丰</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>嘉兴世合新农村有限公司常务董事巴达文</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>专访国贸中心广场营销总监 周鉴川</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>香港兴业国际市务助理总经理 林红</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>金都·南德大院策划经理 庄景丰</a></li>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<div class='middle-400'>
  		<div class='locals block block-boundless'>
  			<div class='hd'>
  				<div class='more f16'><a href='#'>更多</a></div>
  				<h1>本地楼市</h1>
  			</div>
  			<div class='bd'>
  				<ul>
  					<li>
  						<dl class='clearfix'>
  							<dd><img src='/images/index/sample-small.jpg' /></dd>
  							<dt>
  								<h2 class='bold'>春晚大牌空降金都，房团网每天2张门票免费送</h2>
  								<p style='line-height:1.25em;margin-top: 1em;'>2014年嘉兴共出让105宗地块，土地出让面积约278.96万方，同比去年下滑..</p>
  							</dt>
  						</dl>
  					</li>
  					<li><i class='icon-dot'></i> <a href='#'>关注| 佳源·优优花园一期多层电梯花园洋房结顶大吉</a>
  					<li><i class='icon-dot'></i> <a href='#'>关注| 佳源·优优花园一期多层电梯花园洋房结顶大吉</a>
  					<li><i class='icon-dot'></i> <a href='#'>关注| 佳源·优优花园一期多层电梯花园洋房结顶大吉</a>
  					<li><i class='icon-dot'></i> <a href='#'>关注| 佳源·优优花园一期多层电梯花园洋房结顶大吉</a>
  					<li><i class='icon-dot'></i> <a href='#'>关注| 佳源·优优花园一期多层电梯花园洋房结顶大吉</a>
  					<li><i class='icon-dot'></i> <a href='#'>关注| 佳源·优优花园一期多层电梯花园洋房结顶大吉</a>
  					<li><i class='icon-dot'></i> <a href='#'>关注| 佳源·优优花园一期多层电梯花园洋房结顶大吉</a>
  					<li><i class='icon-dot'></i> <a href='#'>关注| 佳源·优优花园一期多层电梯花园洋房结顶大吉</a>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<div class='right-270-30'>
  		<div class='soles block block-boundless'>
  			<div class='hd'>
  				<div class='more f16'><a href='#'>更多</a></div>
  				<h1>独家探盘</h1>
  			</div>
  			<div class='bd'>
  				<ul>
  					<li class='pic'><a href='#'><img src='/images/index/sample-sole.jpg' /></a></li>
  					<li><i class='icon-dot'></i> <a href='#'>专访国贸中心广场营销总监 周鉴川</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>金都·南德大院策划经理 庄景丰</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>嘉兴世合新农村有限公司常务董事巴达文</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>专访国贸中心广场营销总监 周鉴川</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>香港兴业国际市务助理总经理 林红</a></li>
  					<li><i class='icon-dot'></i> <a href='#'>金都·南德大院策划经理 庄景丰</a></li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class='section'>
  	<div class='left-270-30'>
  		<div class='deliveries block block-boundless'>
  			<div class='hd'>
  				<div class='more f16'><a href='#'>更多</a></div>
  				<h1>即将交付</h1>
  			</div>
  			<div class='bd f13'>
  				<ul>
  					<li class='pic'><a href='#'><img src='/images/index/sample-delivery.jpg' /></a></li>
  					<li>
  						<dl class='active clearfix'>
  							<dd class='price'>5200元/㎡ <i class='icon-price-start'></i></dd>
  							<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd class='price'>5888元/㎡ <i class='icon-price-average'></i></dd>
  							<dt><i class='icon-dot'></i> <a href='#'>金洋·紫金艺境</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<div class='middle-400'>
  		<div class='lands block block-boundless'>
  			<div class='hd'>
  				<div class='more f16'><a href='#'>更多</a></div>
  				<h1>土地资讯</h1>
  			</div>
  			<div class='bd'>
  				<ul>
  					<li>
  						<dl class='clearfix'>
  							<dd><img src='/images/index/sample-small.jpg' /></dd>
  							<dt>
  								<h2 class='bold'>12月嘉兴成功出让11宗地块 吸金4.63亿创近三年新低</h2>
  								<p style='line-height:1.25em;margin-top: 1em;'>2014年嘉兴共出让105宗地块，土地出让面积约278.96万方，同比去年下滑..</p>
  							</dt>
  						</dl>
  					</li>
  					<li class='f13'><i class='icon-dot'></i> <a href='#'>12月嘉兴成功出让11宗地块 吸金4.63亿创近三年新低</a>
  					<li class='f13'><i class='icon-dot'></i> <a href='#'>年末土地市场收官大捷 浙江铁投3.1亿首进国际商务区</a>
  					<li class='f13'><i class='icon-dot'></i> <a href='#'>【土地直播】年末土地收官战 万达南商住地花落谁家</a>
  					<li class='f13'><i class='icon-dot'></i> <a href='#'>2015年1月嘉兴拟出让8宗地块 市区8万方商住地挂牌</a>
  					<li class='f13'><i class='icon-dot'></i> <a href='#'>12月嘉兴成功出让11宗地块 吸金4.63亿创近三年新低</a>
  					<li class='f13'><i class='icon-dot'></i> <a href='#'>年末土地市场收官大捷 浙江铁投3.1亿首进国际商务区</a>
  					<li class='f13'><i class='icon-dot'></i> <a href='#'>【土地直播】年末土地收官战 万达南商住地花落谁家</a>
  					<li class='f13'><i class='icon-dot'></i> <a href='#'>2015年1月嘉兴拟出让8宗地块 市区8万方商住地挂牌</a>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<div class='right-270-30'>
		<div class='opens block block-boundless'>
  			<div class='hd'>
  				<div class='more f16'><a href='#'>更多</a></div>
  				<h1>最新开盘</h1>
  			</div>
  			<div class='bd f13'>
  				<ul>
  					<li class='pic'><a href='#'><img src='/images/index/sample-delivery.jpg' /></a></li>
  					<li>
  						<dl class='active clearfix'>
  							<dd>2015年1月18日</dd>
  							<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd>预计2015年1月</dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd>预计2015年1月</dd>
  							<dt><i class='icon-dot'></i> <a href='#'>麟湖·公元壹号</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd>预计2015年1月</dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd>预计2015年1月</dd>
  							<dt><i class='icon-dot'></i> <a href='#'>麟湖·公元壹号</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd>预计2015年1月</dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd>预计2015年1月</dd>
  							<dt><i class='icon-dot'></i> <a href='#'>麟湖·公元壹号</a></dt>
  						</dl>
  						<dl class='clearfix'>
  							<dd>预计2015年1月</dd>
  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
  						</dl>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </div>
  <div class='section'>
	{{template "block-links" .}}
  </div>
</div>

