{{define "head"}}
	<head>
		<title>{{if .HTMLTitle}}{{.HTMLTitle}} - {{end}}嘉兴房产团购网</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css.css?{{.CONTEXT.UPTIME}}" />
	</head>
{{end}}

{{define "top"}}
	<div id='top'>
		<div class='wrap'>
			<ul>
				<li class='hoverable clickable'><a href='/'>首页</a></li>
				<li class='hoverable clickable {{if .HTMLTitle}}{{if eq .HTMLTitle "新房"}}active{{end}}{{end}}'><a href='/newhouse/'>新房</a></li>
				<li class='hoverable clickable'><a href='#'>二手房</a></li>
				<li class='hoverable clickable {{if .HTMLTitle}}{{if eq .HTMLTitle "资讯"}}active{{end}}{{end}}'><a href='/news/'>资讯</a></li>
				<li class='hoverable clickable'><a href='#'>装修</a></li>
				<li class='hoverable clickable {{if .HTMLTitle}}{{if eq .HTMLTitle "团购"}}active{{end}}{{end}}'><a href='/groupbuy/'>团购<i class='icon-thumb-top'></i></a></li>
			</ul>
			<div class='more'>
				<i class='icon-user-gray'>&nbsp;</i>
				<a href='#'>登录</a>
				<abbr>|</abbr>
				<a href='#'>注册</a>
			</div>
		</div>
	</div>
{{end}}

{{define "brand" }}
<div id='brand' class='clearfix'>
		
	<div class='logo'>
		<a href='/'><img src='/images/logo.png'/></a>
		<span class='f22 primary'>&nbsp;{{if .HTMLTitle}}<abbr>|</abbr> {{.HTMLTitle}}{{end}}</span>
	</div>
	
	{{ template "newhouse-search" .}}
</div>
{{end}}

{{define "newhouse-search"}}
<div class='search'>
	<div class='form clearfix'>
		<form action='/estate/list.html'>
			<input class='submit' type='submit' value='搜索' />
			<input class='text' name='q' type='text' placeholder='输入楼盘名称、地址或开发商等' /> 
		</form>
	</div>
	<div class='quick-search clearfix'>
		<ul>
			<li><a href='#'>嘉兴万达</a></li>
			<li><a href='#'>中港城</a></li>
			<li><a href='#'>旭辉广场</a></li>
			<li><a href='#'>南湖区</a></li>
			<li><a href='#'>江南摩尔</a></li>
			<li><a href='#'>嘉兴</a></li>
			<li><a href='#'>桐乡</a></li>
			<li><a href='#'>嘉善</a></li>
			<li><a href='#'>海宁</a></li>
			<li><a href='#'>平湖</a></li>
		</ul>
	</div>
</div>
{{end}}

{{define "block-newhouse-quick-search"}}
<div id='block-newhouse-quick-search' class='block block-boundless f14'>
	<div class='bd'>
		<dl class='clearfix'>
			<dt>区域： </dt>
			<dd>
				<ul>
					<li><a href='#'>全部</a></li>
					<li><a href='#'>中心城区</a></li>
					<li><a href='#'>南湖新区</a></li>
					<li><a href='#'>秀洲新区</a></li>
					<li><a href='#'>城北区</a></li>
					<li><a class='active selected' href='#'>国际商务区</a></li>
					<li><a href='#'>湘家荡</a></li>
					<li><a href='javascript:void(0)'>五县</a></li>
					<li><a href='#'>嘉善</a></li>
					<li><a href='#'>海宁</a></li>
					<li><a href='#'>海盐</a></li>
					<li><a href='#'>平湖</a></li>
					<li><a href='#'>桐乡</a></li>
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>楼型： </dt>
			<dd>
				<ul>
					<li><a href='#'>全部</a></li>
					<li><a class='active selected' href='#'>低层</a></li>
					<li><a href='#'>多层</a></li>
					<li><a href='#'>小高层</a></li>
					<li><a href='#'>超高层</a></li>
					<li><a class='primary' href='#'>楼层介绍</a></li>
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>用途： </dt>
			<dd>
				<ul>
					<li><a class='active' href='#'>全部</a></li>
					<li><a href='#'>普通住宅</a></li>
					<li><a href='#'>大平层</a></li>
					<li><a href='#'>别墅</a></li>
					<li><a href='#'>单身公寓</a></li>
					<li><a href='#'>LOFT</a></li>
					<li><a href='#'>写字楼</a></li>
					<li><a href='#'>商铺</a></li>
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>价格： </dt>
			<dd>
				<ul>
					<li><a class='active' href='#'>全部</a></li>
					<li><a href='#'>6千元以下</a></li>
					<li><a href='#'>6千-7千元</a></li>
					<li><a href='#'>7千-8千元</a></li>
					<li><a href='#'>8千-9千元</a></li>
					<li><a href='#'>9千-1万元</a></li>
					<li><a href='#'>1万元以上</a></li>
					<li><a class='primary' href='#'>总价</a></li>
					<li><a class='primary' href='#'>价格待定</a></li>
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>特色： </dt>
			<dd>
				<ul>
					<li><a class='active' href='#'>全部</a></li>
					<li><a href='#'>刚需房</a></li>
					<li><a href='#'>改善房</a></li>
					<li><a href='#'>团购房</a></li>
					<li><a href='#'>学区房</a></li>
					<li><a href='#'>精装修</a></li>
					<li><a href='#'>现房</a></li>
					<li><a href='#'>养老地产</a></li>
					<li><a href='#'>投资地产</a></li>
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>状态： </dt>
			<dd>
				<ul>
					<li><a class='active' href='#'>全部</a></li>
					<li><a href='#'>待售</a></li>
					<li><a href='#'>期房</a></li>
					<li><a href='#'>现房</a></li>
					<li><a href='#'>尾房</a></li>
				</ul>
			</dd>
		</dl>
		
		<dl class='letters clearfix'>
			<dt>字母搜索</dt>
			<dd>
				<ul>
					<li class='hoverable clickable'><a href='#'>A</a></li>
					<li class='hoverable clickable'><a href='#'>B</a></li>
					<li class='hoverable clickable'><a href='#'>C</a></li>
					<li class='hoverable clickable'><a href='#'>D</a></li>
					<li class='hoverable clickable'><a href='#'>E</a></li>
					<li class='hoverable clickable'><a href='#'>F</a></li>
					<li class='hoverable clickable'><a href='#'>G</a></li>
					<li class='hoverable clickable'><a href='#'>H</a></li>
					<li class='hoverable clickable'><a href='#'>I</a></li>
					<li class='hoverable clickable'><a href='#'>J</a></li>
					<li class='hoverable clickable'><a href='#'>K</a></li>
					<li class='hoverable clickable'><a href='#'>L</a></li>
					<li class='hoverable clickable'><a href='#'>M</a></li>
					<li class='hoverable clickable'><a href='#'>N</a></li>
					<li class='hoverable clickable'><a href='#'>O</a></li>
					<li class='hoverable clickable'><a href='#'>P</a></li>
					<li class='hoverable clickable'><a href='#'>Q</a></li>
					<li class='hoverable clickable'><a href='#'>R</a></li>
					<li class='hoverable clickable'><a href='#'>S</a></li>
					<li class='hoverable clickable'><a href='#'>T</a></li>
					<li class='hoverable clickable'><a href='#'>U</a></li>
					<li class='hoverable clickable'><a href='#'>V</a></li>
					<li class='hoverable clickable'><a href='#'>W</a></li>
					<li class='hoverable clickable'><a href='#'>X</a></li>
					<li class='hoverable clickable'><a href='#'>Y</a></li>
					<li class='hoverable clickable'><a href='#'>Z</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</div>
{{end}}

{{define "block-newhouse-focus"}}
<div id='block-newhouse-focus' class='block block-boundless'>
	<div class='hd'>
		<div class='more f16'><a href='#'>更多</a></div>
		<h1>关注楼盘</h1>
	</div>
	<div class='bd f13'>
		<ul>
			<li class='pic'><a href='#'><img src='/images/index/sample-delivery.jpg' /></a></li>
			<li class='rankings'>
				<dl class='active clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-start'></i></dd>
					<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5888元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>金洋·紫金艺境</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
			</li>
		</ul>
	</div>
</div>
{{end}}

{{define "block-newhouse-recommends"}}
<div id='block-newhouse-recommends' class='block block-boundless'>
	<div class='hd'>
		<div class='more f16'><a href='#'>更多</a></div>
		<h1>推荐楼盘</h1>
	</div>
	<div class='bd f13'>
		<ul>
			<li class='pic'><a href='#'><img src='/images/index/sample-delivery.jpg' /></a></li>
			<li class='rankings'>
				<dl class='active clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-start'></i></dd>
					<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5888元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>金洋·紫金艺境</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
				<dl class='clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-average'></i></dd>
					<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
				</dl>
			</li>
		</ul>
	</div>
</div>
{{end}}

{{define "block-newhouse-deliveries"}}
	<div id='block-newhouse-deliveries' class='block block-boundless'>
		<div class='hd'>
			<div class='more f16'><a href='#'>更多</a></div>
			<h1>即将交房</h1>
		</div>
		<div class='bd f13'>
			<ul>
				<li class='pic'><a href='#'><img src='/images/index/sample-delivery.jpg' /></a></li>
				<li>
					{{ range $i, $o := .Deliveries }}
  						<dl class='{{if eq $i 0}}active{{end}} clearfix'>
  							<dd>{{if not (equals .DeliveryDate "")}}{{.DeliveryDate}}{{else}}{{.SDelivery}}{{end}}</dd>
  							<dt><i class='icon-dot'></i> <a href='/newhouse/o{{.Id}}.html'>{{.Name}}</a></dt>
  						</dl>
 					{{ end }}
 					<!-- 
					<dl class='active clearfix'>
						<dd>2015.01</dd>
						<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
					</dl>
					<dl class='clearfix'>
						<dd>2015.03</dd>
						<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>2015.04</dd>
						<dt><i class='icon-dot'></i> <a href='#'>麟湖·公元壹号</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>2015.03</dd>
						<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>2015.04</dd>
						<dt><i class='icon-dot'></i> <a href='#'>麟湖·公元壹号</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>2015.03</dd>
						<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>2015.04</dd>
						<dt><i class='icon-dot'></i> <a href='#'>麟湖·公元壹号</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>2015.03</dd>
						<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
					</dl>
					 -->
				</li>
			</ul>
		</div>
	</div>
{{end}}

{{define "block-newhouse-opens"}}
	<div id='block-newhouse-opens' class='block block-boundless'>
		<div class='hd'>
			<div class='more f16'><a href='#'>更多</a></div>
			<h1>最新开盘</h1>
		</div>
		<div class='bd f13'>
			<ul>
				<li class='pic'><a href='#'><img src='/images/index/sample-delivery.jpg' /></a></li>
				
				<li>
					{{ range $i, $o := .Opens }}
  						<dl class='{{if eq $i 0}}active{{end}} clearfix'>
  							<dd>{{if not (equals .OpenDate "")}}{{.OpenDate}}{{else}}{{.SOpen}}{{end}}</dd>
  							<dt><i class='icon-dot'></i> <a href='/newhouse/o{{.Id}}.html'>{{.Name}}</a></dt>
  						</dl>
 					{{ end }}
 					<!-- 
					<dl class='active clearfix'>
						<dd>2015.01.18</dd>
						<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
					</dl>
					<dl class='clearfix'>
						<dd>预计2015.03</dd>
						<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>预计2015.04</dd>
						<dt><i class='icon-dot'></i> <a href='#'>麟湖·公元壹号</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>预计2015.03</dd>
						<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>预计2015.04</dd>
						<dt><i class='icon-dot'></i> <a href='#'>麟湖·公元壹号</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>预计2015.03</dd>
						<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>预计2015.04</dd>
						<dt><i class='icon-dot'></i> <a href='#'>麟湖·公元壹号</a></dt>
					</dl>
					<dl class='clearfix'>
						<dd>预计2015.03</dd>
						<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
					</dl>
					 -->
				</li>
			</ul>
		</div>
	</div>
{{end}}

{{define "block-links"}}
	<div id='block-links' class='block block-bordered'>
	  <div class='hd'>
	    <h1>友情链接</h1>
	  </div>
	  <div class='bd'>
	    <ul>
	      {{ range .Links}}
	        <li>
	        	<a target="_blank" {{if .NoFollow}}rel="nofollow"{{end}} href='{{.Link}}'>{{.Name}}</a>
	        </li>
	      {{end}}
	    </ul>
	  </div>
	</div>
{{end}}

{{define "ft"}}
<div id='ft'>
	<div class='ft-main'>
		<div class='wrap clearfix'>
			<div class='ft-weixin'>
				<dl class='clearfix'>
					<dt>
						<img src='/images/weixin.png' />
					</dt>
					<dd>
						<h1>官方微信</h1>
						<p>官方微信每日推送房地产行业要闻</p>
						<p>扫描左侧二维码</p>
						<p>或搜索微信号jxtfw</p>
					</dd>
				</dl>
			</div>
			<div class='ft-links'>
				<h1>网站导航</h1>
				<p>
					关于我们 | 网站律师 | 联系方法 | 诚聘英才 | 
				</p>
				<p>
					友情链接 | 网站加盟 | 站点地图 | 每日资讯 | 
				</p>
				<p>
					免责声明 | 用户协议 | 使用帮助
				</p>
			</div>
			<div class='ft-contact'>
				<h1>联系我们</h1>
				<p>
					团购热线：0573-8333 5555 
				</p>
				<p>
					客服热线：0573-8333 5555 
				</p>
				<p>
					公司地址：嘉兴市富润北路108号
				</p>
			</div>
		</div>
	</div>
	<div class='ft-bottom'>
		<p>全国ICP证:B2-20130033 ICP证:浙B2-20100073 浙ICP备10026603号 版权所有 © 2015 嘉兴房产团购网 </p>
		<p>广播电视节目制作经营许可证(浙)字第1033号 商业特许经营备案号：1330302000900033</p>
	</div>
</div>

<script type="text/javascript" src="/lib.js?{{.CONTEXT.UPTIME}}"></script>
<script type="text/javascript" src="/js.js?{{.CONTEXT.UPTIME}}"></script>

{{end}}
