{{define "head"}}
	<head>
		{{with .HTMLTitle}}<title>{{.HTMLTitle}}</title>{{else}}<title>嘉兴房产团购网</title>{{end}}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css.css" />
	</head>
{{end}}

{{define "ft"}}
<div id='ft'>
	<div class='ft-main-wrap'>
		<div class='ft-main clearfix'>
			<div class='ft-weixin'>
				<dl class='clearfix'>
					<dt>
						<img src='/images/weixin.png' />
					</dt>
					<dd>
						<h1>官方微信</h1>
						<p>官方微信每日推送房地产行业要闻</p>
						<p>扫描左侧二维码</p>
						<p>或搜索微信号jxtfw</p>
					</dd>
				</dl>
			</div>
			<div class='ft-links'>
				<h1>网站导航</h1>
				<p>
					关于我们 | 网站律师 | 联系方法 | 诚聘英才 | 
				</p>
				<p>
					友情链接 | 网站加盟 | 站点地图 | 每日资讯 | 
				</p>
				<p>
					免责声明 | 用户协议 | 使用帮助
				</p>
			</div>
			<div class='ft-contact'>
				<h1>联系我们</h1>
				<p>
					团购热线：0573-8333 5555 
				</p>
				<p>
					客服热线：0573-8333 5555 
				</p>
				<p>
					公司地址：嘉兴市富润北路108号
				</p>
			</div>
		</div>
	</div>
	<div class='ft-bottom'>
		<p>全国ICP证:B2-20130033 ICP证:浙B2-20100073 浙ICP备10026603号 版权所有 © 2015 嘉兴房产团购网 </p>
		<p>广播电视节目制作经营许可证(浙)字第1033号 商业特许经营备案号：1330302000900033</p>
	</div>
</div>
{{end}}
