{{define "head"}}
	<head>
		<title>{{if .HTMLTitle}}{{.HTMLTitle}} - {{end}}嘉兴房产团购网</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css.css?{{.CONTEXT.UPTIME}}" />
	</head>
{{end}}

{{define "top"}}
	<div id='top'>
		<div class='wrap'>
			<ul>
				<li class='hoverable clickable'><a href='/'>首页</a></li>
				<li class='hoverable clickable {{if .HTMLComponent}}{{if eq .HTMLComponent "newhouse"}}active{{end}}{{end}}'><a href='/newhouse/'>新房</a></li>
				<li class='hoverable clickable'><a href='#'>二手房</a></li>
				<li class='hoverable clickable {{if .HTMLComponent}}{{if eq .HTMLComponent "news"}}active{{end}}{{end}}'><a href='/news/'>资讯</a></li>
				<li class='hoverable clickable'><a href='#'>装修</a></li>
				<li class='hoverable clickable {{if .HTMLComponent}}{{if eq .HTMLComponent "groupbuy"}}active{{end}}{{end}}'><a href='/groupbuy/'>团购<i class='icon-thumb-top'></i></a></li>
			</ul>
			<div class='more'>
				<i class='icon-user-gray'>&nbsp;</i>
				{{with $.CONTEXT.USER}}
					<a href='/user/'>{{.Name}}</a>
					<abbr>|</abbr>
					<a href='/logout.html'>退出</a>
				{{else}}
					<a href='/login.html'>登录</a>
					<abbr>|</abbr>
					<a href='/register.html'>注册</a>
				{{end}}
			</div>
		</div>
	</div>
{{end}}

{{define "top-static"}}
	<div id='top-static'>
		<div class='wrap'>
		
			<div class='logo'>
				<a href='/'><img src='/images/logo-transparent.png'/></a>
				<span class='f18'>&nbsp;&nbsp;{{if .HTMLTitle}}<abbr>|</abbr>&nbsp;&nbsp;{{.HTMLTitle}}{{end}}</span>
			</div>
		
			<div class='more'>
				<a href='/'>首页</a>
				&nbsp;&nbsp;&nbsp;&nbsp;<a href='/newhouse/'>新房</a>
				&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>二手房</a>
				&nbsp;&nbsp;&nbsp;&nbsp;<a href='/news/'>资讯</a>
				&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>装修</a>
				&nbsp;&nbsp;&nbsp;&nbsp;<a href='/groupbuy/'>团购</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<i class='icon-user-white'>&nbsp;</i>
				{{with $.CONTEXT.USER}}
					<a href='/user/'>{{.Name}}</a>
					<abbr>|</abbr>
					<a href='/logout.html'>退出</a>
				{{else}}
					<a href='/login.html'>登录</a>
					<abbr>|</abbr>
					<a href='/register.html'>注册</a>
				{{end}}
			</div>
		</div>
	</div>
{{end}}

{{define "pager"}}
	{{ if gt .Page.Last 1 }}
	<ul class='pager'>
		{{if eq .Page.Previous 0}}
		{{ else }}
			<li class='{{if eq .Page.Previous 0}}disabled{{end}} hoverable clickable'><a href='{{ queryN $.Page.URL "p" .Page.Previous }}{{if $.Page.Hash}}#{{$.Page.Hash}}{{end}}'>&lt;上一页</a></li>
		{{ end }}
		
		{{ range .Page.List }}
			{{ if eq . 0 }}
				<li class='text'>…</li>
			{{else}}
				<li class='{{if eq . $.Page.Current | not}}hoverable clickable{{end}} {{if eq . $.Page.Current}}active{{end}}'>
					{{if eq . $.Page.Current}}
						{{.}}
					{{else}}
						<a href='{{ queryN $.Page.URL "p" . }}{{if $.Page.Hash}}#{{$.Page.Hash}}{{end}}'>{{.}}</a>
					{{end}}
				</li>
			{{ end }}
		{{ end }}
		{{if eq .Page.Next 0}}
		{{ else }}
			<li class='{{if eq .Page.Next 0}}disabled{{end}} hoverable clickable'><a href='{{ queryN $.Page.URL "p" .Page.Next }}{{if $.Page.Hash}}#{{$.Page.Hash}}{{end}}'>下一页&gt;</a></li>
		{{ end }}
	</ul>
	{{ end }}
{{end}}

{{define "brand" }}
<div id='brand' class='clearfix'>
		
	<div class='logo'>
		<a href='/'><img src='/images/logo.png'/></a>
		<span class='f22 primary'>&nbsp;{{if .HTMLTitle}}<abbr>|</abbr> {{.HTMLTitle}}{{end}}</span>
	</div>
	
	{{ template "newhouse-search" .}}
</div>
{{end}}

{{define "newhouse-brand" }}
<div id='brand' class='clearfix'>
		
	<div class='search'>
			<h3>
				<i class='icon-phone-large'>&nbsp;</i> 
				免费咨询售楼处：
				<span class='f18'>
				{{ template "newhouse-phone".Newhouse }}
				</span>
			</h3>
	</div>
	
	<div class='logo'>
		{{if .Newhouse.Logo}}
			<a href='/'><img width=220 src='{{.Newhouse.Logo.Palm.Path}}'/></a>
		{{else}}
			<a href='/'><img src='/images/logo.png'/></a>
		{{end}}
		<span class='f22'>
			&nbsp;{{if .HTMLTitle}}<abbr>|</abbr> {{.HTMLTitle}}{{end}}
			{{ if .Newhouse.Schedule }}
			{{ if .Newhouse.Schedule | len }}
				{{range .CONTEXT.KVs.Schedule.Nodes }}
					{{if in $.Newhouse.Schedule .Value}}
						<i class='icon-pop'>{{.Name}}</i>
					{{end}}
				{{end}}
			{{ end }}
			{{ end }}
		</span>
	</div>
</div>
{{end}}

{{define "newhouse-phone"}}
	{{if equals .Order "" | not }}
		<span class='primary'>{{.Order}}</span>
		{{if .OrderExtension}}
			转 <span class='primary'>{{.OrderExtension}}</span>
		{{end}}
	{{else}}
		{{if len .Phone}}
			{{range slice .Phone 0 1}}
				<span class='primary'>{{.}}</span>
			{{end}}
		{{end}}
	{{end}}
{{end}}

{{define "newhouse-search"}}
<div class='search'>
	<div class='form clearfix'>
		<form action='/estate/list.html'>
			<input class='submit' type='submit' value='搜索' />
			<input class='text' name='q' type='text' placeholder='输入楼盘名称、地址或开发商等' /> 
		</form>
	</div>
	<div class='quick-search clearfix'>
		<ul>
			<li><a href='#'>嘉兴万达</a></li>
			<li><a href='#'>中港城</a></li>
			<li><a href='#'>旭辉广场</a></li>
			<li><a href='#'>南湖区</a></li>
			<li><a href='#'>江南摩尔</a></li>
			<li><a href='#'>嘉兴</a></li>
			<li><a href='#'>桐乡</a></li>
			<li><a href='#'>嘉善</a></li>
			<li><a href='#'>海宁</a></li>
			<li><a href='#'>平湖</a></li>
		</ul>
	</div>
</div>
{{end}}

{{define "block-newhouse-quick-search"}}
<div id='block-newhouse-quick-search' class='block block-boundless f14'>
	<div class='bd'>
		<dl class='clearfix'>
			<dt>区域： </dt>
			<dd>
				<ul>
					<li><a class='active' href='{{queryN $.NewhouseQuickSearchPath "area" nil "p" nil}}'>全部</a></li>
					{{range $.CONTEXT.KVs.Area.Nodes}}
						{{if queryE $.NewhouseQuickSearchPath "area" .Value}}
							<li><a class='active selected' href='{{queryN $.NewhouseQuickSearchPath "area" nil "p" nil}}'>{{.Name}}</a></li>
						{{else}}
							<li><a class='{{if queryE $.NewhouseQuickSearchPath "area" .Value}}active selected{{end}}' href='{{queryN $.NewhouseQuickSearchPath "area" .Value "p" nil}}'>{{.Name}}</a></li>
						{{end}}
					{{end}}
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>楼型： </dt>
			<dd>
				<ul>
					<li><a class='active' href='{{queryN $.NewhouseQuickSearchPath "floor" nil "p" nil}}'>全部</a></li>
					{{range $.CONTEXT.KVs.Floor.Nodes}}
						{{if queryE $.NewhouseQuickSearchPath "floor" .Value}}
							<li><a class='active selected' href='{{queryN $.NewhouseQuickSearchPath "floor" nil "p" nil}}'>{{.Name}}</a></li>
						{{else}}
							<li><a class='{{if queryE $.NewhouseQuickSearchPath "floor" .Value}}active selected{{end}}' href='{{queryN $.NewhouseQuickSearchPath "floor" .Value "p" nil}}'>{{.Name}}</a></li>
						{{end}}
					{{end}}
					<li><a class='primary' href='#'>楼层介绍</a></li>
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>用途：</dt>
			<dd>
				<ul>
					<li><a class='active' href='{{queryN $.NewhouseQuickSearchPath "usage" nil "p" nil}}'>全部</a></li>
					{{range $.CONTEXT.KVs.Usage.Nodes}}
						{{if queryE $.NewhouseQuickSearchPath "usage" .Value}}
							<li><a class='active selected' href='{{queryN $.NewhouseQuickSearchPath "usage" nil "p" nil}}'>{{.Name}}</a></li>
						{{else}}
							<li><a class='' href='{{queryN $.NewhouseQuickSearchPath "usage" .Value "p" nil}}'>{{.Name}}</a></li>
						{{end}}
					{{end}}
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>价格： </dt>
			<dd>
				<ul>
					<li><a class='active' href='{{queryN $.NewhouseQuickSearchPath "price" nil "p" nil}}'>全部</a></li>
					{{range $.CONTEXT.KVs.Price.Nodes}}
						{{if queryE $.NewhouseQuickSearchPath "price" .Value}}
							<li><a class='active selected' href='{{queryN $.NewhouseQuickSearchPath "price" nil "p" nil}}'>{{.Name}}</a></li>
						{{else}}
							<li><a class='' href='{{queryN $.NewhouseQuickSearchPath "price" .Value "p" nil}}'>{{.Name}}</a></li>
						{{end}}
					{{end}}
					<li><a class='primary' href='#'>总价</a></li>
					<li><a class='primary' href='{{queryN $.NewhouseQuickSearchPath "price" nil "pt" "-" "p" nil}}'>价格待定</a></li>
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>特色： </dt>
			<dd>
				<ul>
					<li><a class='active' href='{{queryN $.NewhouseQuickSearchPath "feature" nil "p" nil}}'>全部</a></li>
					{{range $.CONTEXT.KVs.Features.Nodes}}
						{{if queryE $.NewhouseQuickSearchPath "feature" .Value}}
							<li><a class='active selected' href='{{queryN $.NewhouseQuickSearchPath "feature" nil "p" nil}}'>{{.Name}}</a></li>
						{{else}}
							<li><a class='' href='{{queryN $.NewhouseQuickSearchPath "feature" .Value "p" nil}}'>{{.Name}}</a></li>
						{{end}}
					{{end}}
				</ul>
			</dd>
		</dl>
		<dl class='clearfix'>
			<dt>状态： </dt>
			<dd>
				<ul>
					<li><a class='active' href='{{queryN $.NewhouseQuickSearchPath "schedule" nil "p" nil}}'>全部</a></li>
					{{range $.CONTEXT.KVs.Schedule.Nodes}}
						{{if queryE $.NewhouseQuickSearchPath "schedule" .Value}}
							<li><a class='active selected' href='{{queryN $.NewhouseQuickSearchPath "schedule" nil "p" nil}}'>{{.Name}}</a></li>
						{{else}}
							<li><a class='' href='{{queryN $.NewhouseQuickSearchPath "schedule" .Value "p" nil}}'>{{.Name}}</a></li>
						{{end}}
					{{end}}
				</ul>
			</dd>
		</dl>
		
		<dl class='letters clearfix'>
			<dt>字母搜索</dt>
			<dd>
				<ul>
					{{range .Letters}}
						{{if queryE $.NewhouseQuickSearchPath "letter" .}}
							<li class='active selected hoverable clickable'><a href='{{queryN $.NewhouseQuickSearchPath "letter" . "p" nil}}'>{{upper .}}</a></li>
						{{else if in "UEIV" (upper .)}}
							<li class='disabled'>
								<a href='javascript:void(0)'>{{upper .}}</a>
							</li>
						{{else}}
							<li class='hoverable clickable'>
								<a href='{{queryN $.NewhouseQuickSearchPath "letter" . "p" nil}}'>{{upper .}}</a>
							</li>
						{{end}}
					{{end}}
				</ul>
			</dd>
		</dl>
	</div>
</div>
{{end}}

{{define "block-newhouse-focus"}}
<div id='block-newhouse-focus' class='block block-boundless'>
	<div class='hd'>
		<div class='more f16'><a href='#'>更多</a></div>
		<h1>关注楼盘</h1>
	</div>
	<div class='bd f13'>
		<ul>
			<li class='pic'>
				{{ range slice .NewhouseFocus 0 1}}
 					<a href='/newhouse/o{{.Id}}.html'><img width=270 height=151 src='{{.Cover.Palm.Path}}' /></a>
				{{end}}
			</li>
			<li class='rankings'>
				{{range $i,$v := .NewhouseFocus}}
					<dl data-cover="{{.Cover.Palm.Path}}" class='{{if eq $i 0}}active{{end}} hoverable clickable clearfix'>
						<dd class='price'>{{.Price}} 元/㎡ 
							{{if equals .PriceType 1 }}
								<i class='icon-price-start'></i>
							{{else if equals .PriceType 2 }}
								<i class='icon-price-average'></i>
							{{end}}
						</dd>
						<dt><i class='icon-dot'></i> <a href='/newhouse/o{{.Id}}.html'>{{.Name}}</a></dt>
					</dl>
				{{end}}
				<!-- 
				<dl class='active clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-start'></i></dd>
					<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
				</dl>
				 -->
			</li>
		</ul>
	</div>
</div>
{{end}}

{{define "block-newhouse-recommends"}}
<div id='block-newhouse-recommends' class='block block-boundless'>
	<div class='hd'>
		<div class='more f16'><a href='#'>更多</a></div>
		<h1>推荐楼盘</h1>
	</div>
	<div class='bd f13'>
		<ul>
			<li class='pic'>
				{{ range slice .NewhouseRecommends 0 1}}
 					<a href='/newhouse/o{{.Id}}.html'><img width=270 height=151 src='{{.Cover.Palm.Path}}' /></a>
				{{end}}
			</li>
			<li class='rankings'>
				{{range $i, $v := .NewhouseRecommends}}
					<dl data-cover="{{.Cover.Palm.Path}}" class='{{if eq $i 0}}active{{end}} hoverable clickable clearfix'>
						<dd class='price'>{{.Price}} 元/㎡ 
							{{if equals .PriceType 1 }}
								<i class='icon-price-start'></i>
							{{else if equals .PriceType 2 }}
								<i class='icon-price-average'></i>
							{{end}}
						</dd>
						<dt><i class='icon-dot'></i> <a href='/newhouse/o{{.Id}}.html'>{{.Name}}</a></dt>
					</dl>
				{{end}}
				<!-- 
				<dl class='active clearfix'>
					<dd class='price'>5200元/㎡ <i class='icon-price-start'></i></dd>
					<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
				</dl>
				 -->
			</li>
		</ul>
	</div>
</div>
{{end}}

{{define "block-newhouse-deliveries"}}
	<div id='block-newhouse-deliveries' class='block block-boundless'>
		<div class='hd'>
			<div class='more f16'><a href='#'>更多</a></div>
			<h1>即将交房</h1>
		</div>
		<div class='bd f13'>
			<ul>
				<li class='pic'>
					{{ range slice .NewhouseDeliveries 0 1}}
	 					<a href='/newhouse/o{{.Id}}.html'><img width=270 height=151 src='{{.Cover.Palm.Path}}' /></a>
					{{end}}
				</li>
				<li>
					{{ range $i, $o := .NewhouseDeliveries }}
					<dl data-cover="{{.Cover.Palm.Path}}" class='{{if eq $i 0}}active{{end}} hoverable clickable clearfix'>
  							<dd>{{if not (equals .DeliveryDate "")}}{{.DeliveryDate}}{{else}}{{.SDelivery}}{{end}}</dd>
  							<dt><i class='icon-dot'></i> <a href='/newhouse/o{{.Id}}.html'>{{.Name}}</a></dt>
  						</dl>
 					{{ end }}
 					<!-- 
					<dl class='active clearfix'>
						<dd>2015.01</dd>
						<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
					</dl>
					 -->
				</li>
			</ul>
		</div>
	</div>
{{end}}

{{define "block-newhouse-opens"}}
	<div id='block-newhouse-opens' class='block block-boundless'>
		<div class='hd'>
			<div class='more f16'><a href='#'>更多</a></div>
			<h1>最新开盘</h1>
		</div>
		<div class='bd f13'>
			<ul>
				<li class='pic'>
					{{ range slice .NewhouseOpens 0 1}}
	 					<a href='/newhouse/o{{.Id}}.html'><img width=270 height=151 src='{{.Cover.Palm.Path}}' /></a>
					{{end}}
				</li>
				
				<li>
					{{ range $i, $o := .NewhouseOpens }}
						<dl data-cover="{{.Cover.Palm.Path}}" class='{{if eq $i 0}}active{{end}} hoverable clickable clearfix'>
 							<dd>{{if not (equals .OpenDate "")}}{{.OpenDate}}{{else}}{{.SOpen}}{{end}}</dd>
 							<dt><i class='icon-dot'></i> <a href='/newhouse/o{{.Id}}.html'>{{.Name}}</a></dt>
 						</dl>
 					{{ end }}
 					<!-- 
					<dl class='active clearfix'>
						<dd>2015.01.18</dd>
						<dt><i class='icon-dot'></i> 经房·浅水湾</dt>
					</dl>
					 -->
				</li>
			</ul>
		</div>
	</div>
{{end}}


{{ define "block-news-view" }}
	<div id='block-news-view' class='block block-boundless'>
		<div class='hd hd-style-2'>
			<div class='more'>
				<a href='#'>更多</a>
			</div>
			<h1>慧眼看楼</h1>
		</div>
		
		<div class='bd f14'>
			
			<div class='clearfix'>
				{{range $i,$v := slice . 0 2}}
					<dl class='clickable l2 {{if eq (mod $i 2) 1}}last{{end}} '>
						{{if .Cover}}<dt><img src='{{.Cover.Palm.Path}}' width=170 height=84/></dt>{{end}}
						<dd><a href='{{.SURL}}'>{{.STitle}}</a></dd>
					</dl>
				{{end}}
			</div>
			
			<ul class='l2'>
				{{range slice . 2 7}}
				<li><a href='{{.SURL}}'><i class='icon-dot'></i> {{.STitle}}</a></li>
				{{end}}
			</ul>
		</div>
	</div>
{{ end }}

{{ define "block-news-data" }}
	<div id='block-news-data' class='block block-boundless'>
		<div class='hd hd-style-2'>
			<div class='more'>
				<a href='#'>更多</a>
			</div>
			<h1>成交数据</h1>
		</div>
		
		<div class='bd f14'>
			
			<div class='clearfix'>
				{{range $i,$v := slice . 0 2}}
					<dl class='clickable l2 {{if eq (mod $i 2) 1}}last{{end}} '>
						{{if .Cover}}<dt><img src='{{.Cover.Palm.Path}}' width=170 height=84/></dt>{{end}}
						<dd><a href='{{.SURL}}'>{{.STitle}}</a></dd>
					</dl>
				{{end}}
			</div>
			
			<ul class='l2'>
				{{range slice . 2 7}}
				<li><a href='{{.SURL}}'><i class='icon-dot'></i> {{.STitle}}</a></li>
				{{end}}
			</ul>
		</div>
	</div>
{{ end }}

{{ define "block-news-special" }}
	<div id='block-news-special' class='block block-boundless'>
		<div class='hd hd-style-2'>
			<div class='more'>
				<a href='#'>更多</a>
			</div>
			<h1>专题报道</h1>
		</div>
		
		<div class='bd f14'>
			
			<div class='clearfix'>
				{{range $i,$v := slice . 0 2}}
					<dl class='clickable l2 {{if eq (mod $i 2) 1}}last{{end}} '>
						{{if .Cover}}<dt><img src='{{.Cover.Palm.Path}}' width=170 height=84/></dt>{{end}}
						<dd><a href='{{.SURL}}'>{{.STitle}}</a></dd>
					</dl>
				{{end}}
			</div>
			
			<ul class='l2'>
				{{range slice . 2 7}}
				<li><a href='{{.SURL}}'><i class='icon-dot'></i> {{.STitle}}</a></li>
				{{end}}
			</ul>
		</div>
	</div>
{{ end }}

{{ define "block-news-leader" }}
	<div id='block-news-leader' class='block block-boundless'>
		<div class='hd hd-style-2'>
			<div class='more'>
				<a href='#'>更多</a>
			</div>
			<h1>各界声音</h1>
		</div>
		
		<div class='bd f14'>
			
			<div class='clearfix'>
				{{range $i,$v := slice . 0 2}}
					<dl class='clickable l2 {{if eq (mod $i 2) 1}}last{{end}} '>
						{{if .Cover}}<dt><img src='{{.Cover.Palm.Path}}' width=170 height=84/></dt>{{end}}
						<dd><a href='{{.SURL}}'>{{.STitle}}</a></dd>
					</dl>
				{{end}}
			</div>
			
			<ul class='l2'>
				{{range slice . 2 7}}
				<li><a href='{{.SURL}}'><i class='icon-dot'></i> {{.STitle}}</a></li>
				{{end}}
			</ul>
		</div>
	</div>
{{ end }}

{{ define "block-news-sole" }}
	<div id='block-news-sole' class='block block-boundless'>
		<div class='hd hd-style-2'>
			<div class='more'>
				<a href='#'>更多</a>
			</div>
			<h1>独家探盘</h1>
		</div>
		
		<div class='bd f14'>
			
			<div class='clearfix'>
				{{range $i,$v := slice . 0 2}}
					<dl class='clickable l2 {{if eq (mod $i 2) 1}}last{{end}} '>
						{{if .Cover}}<dt><img src='{{.Cover.Palm.Path}}' width=170 height=84/></dt>{{end}}
						<dd><a href='{{.SURL}}'>{{.STitle}}</a></dd>
					</dl>
				{{end}}
			</div>
			
			<ul class='l2'>
				{{range slice . 2 7}}
				<li><a href='{{.SURL}}'><i class='icon-dot'></i> {{.STitle}}</a></li>
				{{end}}
			</ul>
		</div>
	</div>
{{ end }}

{{define "block-links"}}
	<div id='block-links' class='block block-bordered'>
	  <div class='hd'>
	    <h1>友情链接</h1>
	  </div>
	  <div class='bd'>
	    <ul>
	      {{ range .Links}}
	        <li>
	        	<a target="_blank" {{if .NoFollow}}rel="nofollow"{{end}} href='{{.Link}}'>{{.Name}}</a>
	        </li>
	      {{end}}
	    </ul>
	  </div>
	</div>
{{end}}

{{define "ft"}}
<div id='ft'>
	<div class='ft-main'>
		<div class='wrap clearfix'>
			<div class='ft-weixin'>
				<dl class='clearfix'>
					<dt>
						<img src='/images/weixin.png' />
					</dt>
					<dd>
						<h1>官方微信</h1>
						<p>官方微信每日推送房地产行业要闻</p>
						<p>扫描左侧二维码</p>
						<p>或搜索微信号jxtfw</p>
					</dd>
				</dl>
			</div>
			<div class='ft-links'>
				<h1>网站导航</h1>
				<p>
					关于我们 | 网站律师 | 联系方法 | 诚聘英才 | 
				</p>
				<p>
					友情链接 | 网站加盟 | 站点地图 | 每日资讯 | 
				</p>
				<p>
					免责声明 | 用户协议 | 使用帮助
				</p>
			</div>
			<div class='ft-contact'>
				<h1>联系我们</h1>
				<p>
					团购热线：0573-8333 5555 
				</p>
				<p>
					客服热线：0573-8333 5555 
				</p>
				<p>
					公司地址：嘉兴市富润北路108号
				</p>
			</div>
		</div>
	</div>
	<div class='ft-bottom'>
		<p>COPY RIGHT ©2015 www.jxfangtuan.com ALL RIGHTS RESERVED ICP号：<a href='http://www.miitbeian.gov.cn/'>浙B2-20090008</a></p>
		<p>客服热线：400-620-9008 邮箱：service@jxfangtuan.com</p>
	</div>
</div>

<script type="text/javascript" src="/lib.js?{{.CONTEXT.UPTIME}}"></script>
<script type="text/javascript" src="/js.js?{{.CONTEXT.UPTIME}}"></script>
{{"<!--[if (gte IE 6)&(lte IE 8)]>" | safe }}
  <script type="text/javascript" src="/selectivizr-min.js"></script>
{{"<![endif]-->" | safe }}
{{end}}
