<!-- BEGIN PAGE CONTENT-->
<div class="portlet">
	<div class="portlet-title">
		
		<div class="caption">
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="/manage/index.html">管理首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="/manage/real-estate/index.html">新房管理</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="/manage/real-estate/index.html">新房楼盘</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="portlet-body">
	</div>
</div>
<div class="row">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tab_general" data-toggle="tab">
			楼盘资料 </a>
		</li>
		<li class="">
			<a href="#tab_meta" data-toggle="tab">
			楼盘图库 </a>
		</li>
		<li class="">
			<a href="#tab_images" data-toggle="tab">
			户型图库 </a>
		</li>
		<li class="">
			<a href="#tab_reviews" data-toggle="tab">
			楼盘评价
			</a>
		</li>
		<li>
			<a href="#tab_history" data-toggle="tab">
			历史价格 </a>
		</li>
	</ul>
	<div class='tab-content no-space'>
		<div class="tab-pane active col-md-12" id='tab-general'>
		<form class='form-horizontal' id='form-real-estate'>
			<input type='hidden' name='Id' value='{{if .RealEstate}}{{.RealEstate.Id}}{{end}}' />
			<input type='hidden' name='MTime[Created]:number' value='{{if .RealEstate}}{{.RealEstate.MTime.Created}}{{end}}' />
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<td class='col-md-1'>
							<label class='control-label'>区域<span class='required' aria-required='true'>*</span></label>
						</td>
						<td class='col-md-4'>
							<div class='row'>
								<div class='col-md-4'>
									<select class='form-control' name='Area[Id]'>
										{{if .Areas}}
											{{if len .Areas}}
												{{range .Areas}}
													<option {{if $.RealEstate}}{{if equals $.RealEstate.Area.Id .Id}}selected{{end}}{{end}} value='{{.Id}}'>{{.Area}}</option>
												{{end}}
											{{end}}
										{{end}}
									</select>
								</div>
							</div>
						</td>
						<td class='col-md-1'><label class='control-label'>板块</label></td>
						<td class='col-md-4'>
							<div class='row'>
								<div class='col-md-4'>
									<!-- <input type='class' class='form-control' /> -->
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>楼盘名称<span class='required' aria-required='true'>*</span></label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input type='text' name='Name' value="{{if .RealEstate}}{{.RealEstate.Name}}{{end}}" class='form-control required'/>
								</div>
							</div>
						</td>
						<td><label class='control-label'>首字母<span class='required' aria-required='true'>*</span></label></td>
						<td>
							<div class='row'>
								<div class='col-md-2'>
									<input type='text' name='Captions' value="{{if .RealEstate}}{{.RealEstate.Caption}}{{end}}" class='form-control required'/>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>物业类型<span class='required' aria-required='true'>*</span></label></td>
						<td>
							<div class='row'>
								{{range $k, $v := .CONTEXT.KVs.Usage.Nodes}}
									<div class='col-md-4'>
										<label class='control-label'>
											<input class='form-control' {{with $.RealEstate}}{{if in $.RealEstate.Usage $v.Value}}checked{{end}}{{end}} type='checkbox' name='Usage[]:number' value='{{$v.Value}}' /> {{$v.Name}}
										</label>
									</div>
								{{end}}
							</div>
						</td>
						<td><label class='control-label'>楼盘状态<span class='required' aria-required='true'>*</span></label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									{{range $k, $v := .CONTEXT.KVs.Schedule.Nodes}}
										<div class='col-md-4'>
											<label class='control-label'>
												<input class='form-control' {{with $.RealEstate}}{{if in $.RealEstate.Schedule $v.Value}}checked{{end}}{{end}} type='checkbox' name='Schedule[]:number' value='{{$v.Value}}' /> {{$v.Name}}
											</label>
										</div>
									{{end}}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>楼型<span class='required' aria-required='true'>*</span></label></td>
						<td>
							<div class='row'>
								{{range $k, $v := .CONTEXT.KVs.Floor.Nodes}}
									<div class='col-md-4'>
										<label class='control-label'>
											<input class='form-control' {{with $.RealEstate}}{{if in $.RealEstate.Floor $v.Value}}checked{{end}}{{end}} type='checkbox' name='Floor[]:number' value='{{$v.Value}}' /> {{$v.Name}}
										</label>
									</div>
								{{end}}
							</div>
						</td>
						<td><label class='control-label'>价格</label></td>
						<td>
							<div class='row'>
								<div class='col-md-6'>
									<input class='form-control' type='text' name='Price:number' value='{{if .RealEstate.Price}}{{.RealEstate.Price}}{{end}}' />
								</div>
								<div class='col-md-3'>
									<select name='PriceType:number' class='form-control required'>
										{{range $k, $v := .CONTEXT.KVs.PriceType.Nodes}}
											<option {{with $.RealEstate}}{{if equals $.RealEstate.PriceType $v.Value}}selected{{end}}{{end}} value='{{$v.Value}}'>{{$v.Name}}</option>
										{{end}}
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>开盘日期</label></td>
						<td>
							<div class='row'>
								<div class='col-md-6'>
									<div class="input-group date form-datetime">
										<input readonly type='class' class='form-control' name='Open' value="{{if .RealEstate}}{{if .RealEstate.Open}}{{.RealEstate.SOpen}}{{end}}{{end}}" />
										<span class="input-group-btn">
											<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
								</div>
							</div>
						</td>
						<td><label class='control-label'>开盘日期<br/>（说明）</label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input class='form-control' type='text' name='OpenDate:string' value='{{if .RealEstate.OpenDate}}{{.RealEstate.OpenDate}}{{end}}' />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>交房日期</label></td>
						<td>
							<div class='row'>
								<div class='col-md-6'>
									<div class="input-group date form-datetime">
										<input readonly type='class' class='form-control' name='Delivery' value="{{if .RealEstate}}{{if .RealEstate.Delivery}}{{.RealEstate.SDelivery}}{{end}}{{end}}" />
										<span class="input-group-btn">
											<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
								</div>
							</div>
						</td>
						<td><label class='control-label'>交房日期<br/>（说明）</label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input class='form-control' type='text' name='DeliveryDate:string' value='{{if .RealEstate.DeliveryDate}}{{.RealEstate.DeliveryDate}}{{end}}' />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>团购截止</label></td>
						<td>
							<div class='row'>
								<div class='col-md-6'>
									<div class="input-group date form-datetime">
										<input readonly type='class' class='form-control' name='GroupClose' value="{{if .RealEstate}}{{if .RealEstate.GroupClose}}{{.RealEstate.SGroupClose}}{{end}}{{end}}" />
										<span class="input-group-btn">
											<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
										</span>
									</div>
								</div>
							</div>
						</td>
						<td><label class='control-label'>团购价格</label></td>
						<td>
							<div class='row'>
								<div class='col-md-6'>
									<input class='form-control' type='text' name='GroupPrice:number' value='{{if .RealEstate.GroupPrice}}{{.RealEstate.GroupPrice}}{{end}}' />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>团购说明</label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input class='form-control' placeHolder="例如：房团独家优惠5万/套" type='text' name='GroupDescription:string' value='{{if .RealEstate.GroupDescription}}{{.RealEstate.GroupDescription}}{{end}}' />
								</div>
							</div>
						</td>
						<td><label class='control-label'>楼盘特色</label></td>
						<td>
							<div class='row'>
								<div class='col-md-12'>
									<input class='form-control' type='text' placeHolder='特色间逗号分隔，例如 "刚需房,改善房,团购房"' name="Features:string" value='{{if .RealEstate}}{{.RealEstate.Feature}}{{end}}' />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>楼盘地址<span class='required' aria-required='true'>*</span></label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input type='text' name='Address' value='{{if .RealEstate}}{{.RealEstate.Address}}{{end}}' class='form-control required'/>
								</div>
							</div>
						</td>
						<td><label class='control-label'>学区</label></td>
						<td>
							<label class='control-label'>小学</label>
							<label class='control-label'>中学</label>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>房产公司</label></td>
						<td></td>
						<td><label class='control-label'>发展商</label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input type='text' name='Developer' class='form-control'/>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>销售代理</label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input type='text' name='Agency' class='form-control'/>
								</div>
							</div>
						</td>
						<td><label class='control-label'>策划公司</label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input type='text' name='Machinate' class='form-control'/>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>售楼热线<span class='required' aria-required='true'>*</span></label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input type='text' name='Phone[]' value="{{if .RealEstate}}{{if len .RealEstate.Phone}}{{index .RealEstate.Phone 0}}{{end}}{{end}}" class='form-control required'/>
								</div>
							</div>
						</td>
						<td><label class='control-label'>售楼地址<span class='required' aria-required='true'>*</span></label></td>
						<td>
							<div class='row'>
								<div class='col-md-8'>
									<input type='text' name='SellAddress[]' value="{{if .RealEstate}}{{if len .RealEstate.SellAddress}}{{index .RealEstate.SellAddress 0}}{{end}}{{end}}" class='form-control required'/>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>400电话</label></td>
						<td>
							<div class='row'>
								<div class='col-md-4'>
									<input type='text' name='Order' value="{{if .RealEstate}}{{.RealEstate.Order}}{{end}}" class='form-control'/>
								</div>
								<div class='col-md-1' style='text-align: center;'>
									<label class='control-label'>转</label>
								</div>
								<div class='col-md-4'>
									<input type='text' name='OrderExtension:string' value="{{if .RealEstate}}{{.RealEstate.OrderExtension}}{{end}}" class='form-control number' />
								</div>
							</div>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><label class='control-label'>物业公司</label></td>
						<td></td>
						<td><label class='control-label'>物业费</label></td>
						<td></td>
					</tr>
					<tr>
						<td><label class='control-label'>交通状况</label></td>
						<td></td>
						<td><label class='control-label'>车库（车位）</label></td>
						<td></td>
					</tr>
					<tr>
						<td><label class='control-label'>车位价格</label></td>
						<td></td>
						<td><label class='control-label'>车位租金</label></td>
						<td></td>
					</tr>
					<tr>
						<td><label class='control-label'>公交路线</label></td>
						<td></td>
						<td><label class='control-label'>轨道交通</label></td>
						<td></td>
					</tr>
					<tr>
						<td><label class='control-label'>高架</label></td>
						<td></td>
						<td><label class='control-label'>高速</label></td>
						<td></td>
					</tr>
					<tr>
						<td><label class='control-label'>火车站</label></td>
						<td></td>
						<td><label class='control-label'>汽车站</label></td>
						<td></td>
					</tr>
					<tr>
						<td><label class='control-label'>机场</label></td>
						<td colspan=3></td>
					</tr>
					<tr>
						<td><label class='control-label'>总户数</label></td>
						<td></td>
						<td><label class='control-label'>房屋结构</label></td>
						<td></td>
					</tr>
					<tr>
						<td><label class='control-label'>道路名</label></td>
						<td colspan=3></td>
					</tr>
					<tr>
						<td><label class='control-label'>楼盘别名</label></td>
						<td colspan=3></td>
					</tr>
					<tr>
						<td><label class='control-label'>其他备注</label></td>
						<td colspan=3></td>
					</tr>
					<tr>
						<td><label class='control-label'>楼盘广告语</label></td>
						<td></td>
						<td><label class='control-label'>楼盘特点</label></td>
						<td></td>
					</tr>
					<tr>
						<td><label class='control-label'>楼盘介绍</label></td>
						<td colspan=3>
							<textarea name='Remark' class='ckeditor'>{{.RealEstate.Remark}}</textarea>
						</td>
					</tr>
					
					<tr>
						<td></td>
						<td colspan=3>
							<input type='submit' class='btn btn-success' value='保存' />
							<a class='btn' href='./index.html'>取消</a>
						</td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>
	</div>
</div>

<!-- END PAGE CONTENT-->

<!-- BEGIN CURRENT CONTEXT -->
<script type="text/javascript">

var PageLogical = function () {
	
	function FormInits(){
		
		$(".form-datetime").datepicker({
            autoclose: true,
            format: "yyyy-mm-dd",
            pickerPosition: "bottom-left"
        });
		
		$("#form-real-estate").submit(function(){
			
			CKEDITOR.instances['Remark'].updateElement();

			if(!$(this).valid()){
				
				$(this).find("input.error, select.error").first().focus();
				return false; 
			}
			
			var vals = $(this).serializeJSON()
			
			if(vals.Captions){
				vals.Captions = vals.Captions.toUpperCase().split("");
			}else{
				delete vals.Open;
			}
			
			if(vals.Open){
				vals.Open = new Date(vals.Open) / 1000;
			}else{
				delete vals.Open;
			}
			
			if(vals.Features && vals.Features.length > 0) {
				
				var a = vals.Features.split(",");
				var b = []
				for(var i=0;i<a.length;i++){
					a[i] = a[i].trim()
					if(a[i].length > 0){
						b.push(a[i])
					}
				}
				
				if(b.length > 0){
					vals.Features = b
				}else{
					delete vals.Features
				}
			}else {
				delete vals.Features
			}
			
			if(vals.Delivery){
				vals.Delivery = new Date(vals.Delivery) / 1000;
			}else{
				delete vals.Delivery;
			}
			
			if(vals.GroupClose){
				vals.GroupClose = new Date(vals.GroupClose) / 1000;
			}else{
				delete vals.GroupClose
			}
			
			$("#form-real-estate")
			
			JWS("/manage/real-estate/upsert.json", vals).success(function(data){
				
				window.location.href = "./index.html";
			})
			
			return false;
		})
	}
	
    return {
    	
        init: function () {
        	
        	FormInits();
        }
    };
}();
</script>
<!-- END   CURRENT CONTEXT -->