<!-- BEGIN PAGE CONTENT-->
<div class="portlet">
	<div class="portlet-title">
		
		<div class="caption">
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="/manage/index.html">管理首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="/manage/news/index.html">资讯管理</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="/manage/news/index.html">资讯管理</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="portlet-body">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	<form class='form-horizontal' id='form-news'>
		<input type='hidden' name='Id' value='{{if .News}}{{.News.Id}}{{end}}' />
		<input type='hidden' name='City' value='{{if .News}}{{.News.City}}{{else}}嘉兴{{end}}' />
		<input type='hidden' name='MTime[Created]:number' value='{{if .News}}{{.News.MTime.Created}}{{end}}' />
		<table class="table table-striped table-bordered table-hover">
			<tbody>
				<tr>
					<td class='col-md-1'>
						<label class='control-label'>原创标志<span class='required' aria-required='true'>*</span></label>
					</td>
					<td class='col-md-4'>
						<div class='row'>
							<div class='col-md-4'>
								<select class='form-control required' name='Source:number'>
									<option value="">请选择</option>
									<option value="1" {{if.News}}{{if eq (.News.Source | html) "1"}}selected{{end}}{{end}}>原创</option>
									<option value="2" {{if.News}}{{if eq (.News.Source | html) "2"}}selected{{end}}{{end}}>伪原创</option>
									<option value="3" {{if.News}}{{if eq (.News.Source | html) "3"}}selected{{end}}{{end}}>转载</option>
									<option value="4" {{if.News}}{{if eq (.News.Source | html) "4"}}selected{{end}}{{end}}>通稿</option>
									<option value="5" {{if.News}}{{if eq (.News.Source | html) "5"}}selected{{end}}{{end}}>简讯</option>
									<option value="6" {{if.News}}{{if eq (.News.Source | html) "6"}}selected{{end}}{{end}}>专题</option>
								</select>
							</div>
						</div>
					</td>
					<td class='col-md-1'>
						<label class='control-label'>发布时间<span class='required' aria-required='true'>*</span></label>
					</td>
					<td class='col-md-4'>
						<div class='row'>
							<div class='col-md-6'>
								<div class="input-group date form-datetime">
									<input readonly type='class' class='form-control required' name='Time' value="{{if .News}}{{if .News.Time}}{{.News.STime}}{{end}}{{end}}" />
									<span class="input-group-btn">
										<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><label class='control-label'>正标题<span class='required' aria-required='true'>*</span></label></td>
					<td>
						<div class='row'>
							<div class='col-md-12'>
								<input type='text' name='Title' value="{{if .News}}{{.News.Title}}{{end}}" class='sp-long-line form-control required'/>
							</div>
						</div>
					</td>
					<td><label class='control-label'>副标题</label></td>
					<td>
						<div class='row'>
							<div class='col-md-12'>
								<input type='text' name='Subtitle' value="{{if .News}}{{.News.Subtitle}}{{end}}" class='form-control'/>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><label class='control-label'>短标题<span class='required' aria-required='true'>*</span></label></td>
					<td>
						<div class='row'>
							<div class='col-md-12'>
								<input type='text' name='Slug' value="{{if .News}}{{.News.Slug}}{{end}}" class='sp-long-line form-control required'/>
							</div>
						</div>
					</td>
					<td><label class='control-label'>来源</label></td>
					<td>
						<div class='row'>
							<div class='col-md-12'>
								<input type='text' name='Author' value="{{if .News}}{{.News.Author}}{{end}}" class='form-control'/>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><label class='control-label'>资讯分类</label></td>
					<td>
						<div class='row'>
							<a id='append-category' class='form-control-static pull-right' href='javascript:void(0)'>增加</a>
							<div class='col-md-4 category-selector'>
							
								{{ if .News.Category }}
									{{range $c := .News.Category}}
										{{if $.Categories}}
											<select name="Category[][Id]" class='form-control'>
												<option value="">选择分类</option>
												{{range $.Categories}}
													<option {{if equals .Name $c.Name}}selected{{end}} value="{{.Id}}">{{.Name}}</option>
												{{end}}
											</select>
										{{end}}
									{{end}}
								{{else}}
									{{if $.Categories}}
										<select name="Category[][Id]" class='form-control'>
											<option value="">选择分类</option>
											{{range $.Categories}}
												<option value="{{.Id}}">{{.Name}}</option>
											{{end}}
										</select>
									{{end}}
								{{end}}
								
							</div>
						</div>
					</td>
					<td><label class='control-label'>资讯标签</label></td>
					<td>
						<div class='row'>
							<div class='col-md-12'>
								<input type='text' name='Tag' value='{{if .News}}{{join .News.Tag ","}}{{end}}' class='form-control'/>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><label class='control-label'>URL</label></td>
					<td colspan=3>
						<div class='row'>
							<div class='col-md-12'>
								<input type='text' name='URL' value="{{if .News}}{{.News.URL}}{{end}}" class='form-control'/>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><label class='control-label'>资讯摘要<span class='required' aria-required='true'>*</span></label></td>
					<td colspan=3>
						<textarea class='required form-control' name='Brief' style='height: 5em;'>{{if .News.Brief}}{{.News.Brief}}{{end}}</textarea>
					</td>
				</tr>
				<tr>
					<td><label class='control-label'>封面<span class='required' aria-required='true'>*</span></label></td>
					<td colspan=3>
					
						<input type='file' class='form-control' id='file-cover' value="浏览图片" />
						<input type='text' class='form-control' name='Cover[Id]' style='display:none;'/>
						
						{{if and .News (.News.Cover) }}
							<img id='pic-preview' src='{{.News.Cover.Palm.Path}}' />
						{{else}}
							<img id='pic-preview' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII=' />
						{{end}}
					</td>
				</tr>
				<tr>
					<td><label class='control-label'>资讯导读</label></td>
					<td colspan=3>
						<textarea class='required form-control' name='Introduction' style='height: 5em;'>{{if .News.Introduction}}{{.News.Introduction}}{{end}}</textarea>
					</td>
				</tr>
				<tr>
					<td><label class='control-label'>资讯正文</label></td>
					<td colspan=3>
						<textarea name='Content' class='ckeditor'>{{.News.Content}}</textarea>
					</td>
				</tr>
				
				<tr>
					<td></td>
					<td colspan=3>
						<input type='submit' class='btn btn-success' value='保存' />
						<a href='javascript:(window.history.go(-1))'>取消</a>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>

<!-- END PAGE CONTENT-->

<!-- BEGIN CURRENT CONTEXT -->
<script type="text/javascript">

var PageLogical = function () {
	
	function FormInits(){

		$("#file-cover").upload({
			
			buttonText: "浏览图片",
			fileTypeDesc : '图片文件',
			fileTypeExts : '*.gif; *.jpg; *.png',
			fileSizeLimit: 2048,
			queueSizeLimit: 1,
			multi: false,
			uploader:"/manage/upload.json",
			uploadScript: "/manage/upload.json",
			success: function(file ,data){
				
				var o = JSON.parse(data);
				
				JWS("/manage/picture/upsert.json", {
					Resource : {
						Id: o.Id
					},
					Type: 100
				}).success(function(data){
					
					var form = $("#form-news");
					form.find('input[name="Cover[Id]"]').val(data.Id)
					$('#pic-preview').attr("src", o.Path)
				})
				
			}
		});
		
		$("#append-category").click(function(){
			$(".category-selector").first().clone().appendTo($(this).parent());
		})
		
		$(".form-datetime").datetimepicker({
            autoclose: true,
            format: "yyyy-mm-dd hh:ii",
            pickerPosition: "bottom-left"
        });
		
		$("#form-news").submit(function(){
			
			CKEDITOR.instances['Content'].updateElement();

			if(!$(this).valid()){
				
				$(this).find("textarea.erorr, input.error, select.error").first().focus();
				return false; 
			}
			
			var vals = $(this).serializeJSON()
			if(vals.Time){
				vals.Time = new Date(vals.Time) / 1000;
			}
			
			if(vals.Tag){
				vals.Tag = tags(vals.Tag);
			}else{
				delete vals.Tag;
			}
			
			if(!vals.Cover.Id){
				delete vals.Cover.Id;
				delete vals.Cover;
			}
			
			JWS("/manage/news/upsert.json", vals).success(function(data){
				
				window.location.href = "./index.html";
			})
			
			return false;
		})
	}
	
    return {
    	
        init: function () {
        	
        	FormInits();
        }
    };
}();
</script>
<!-- END   CURRENT CONTEXT -->