<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-title">
				
				<div class="caption">
					<div class='pull-right'>
						<a href='/manage/real-estate/form.html' class='btn btn-small blue'>
							<i class='fa fa-plus-square'></i> 新建楼盘
						</a>
					</div>
					<div class="page-bar">
						<ul class="page-breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								<a href="/manage/index.html">管理首页</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								<a href="/manage/real-estate.html">新房管理</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								<a href="/manage/real-estate/index.html">新房楼盘</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="portlet-body">
			
				<div class='row' style='margin-bottom:15px;'>
					<div class='form-group'>
					
						<div class="col-sm-4">
							<input id='search-name' type='text' class='form-control' placeholder='楼盘名称关键字'/>
						</div>
						
						<div class='col-sm-1 '>
							<input id='button-search' type='submit' value='搜索' class='btn btn-info col-sm-offset-1' />
						</div>
						
					</div>
				</div>
				
				<div class="table-container">
					<div class="table-actions-wrapper">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">批量操作</option>
							<option value="delete">批量删除</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit red-stripe">确认</button>
						<button class="btn btn-sm red filter-cancel"><i class="fa fa-refresh"></i></button>
						<div class="btn-group">
							<a title='导出' class="btn btn-sm default yellow-stripe" href="#" data-toggle="dropdown"><i class='fa fa-external-link-square'></i></a>
							<ul class="dropdown-menu pull-right">
								<li>
									<a href="#">导出到<b>EXCEL</b></a>
								</li>
								<li>
									<a href="#">导出到<b>CSV</b></a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">打印页面</a>
								</li>
							</ul>
						</div>
					</div>
					<table class="table table-striped table-bordered table-hover" id="datatable">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END PAGE CONTENT-->

<!-- BEGIN CURRENT CONTEXT -->
<script type="text/javascript">

var PageLogical = function () {

    var handleLinks = function() {

        grid = new Datatable();
        
        grid.init({
        	
            src: $("#datatable"),
            loadingMessage: '加载中...',
            dataTable: { 
                "lengthMenu": [
                    [20, 50, 100, 150],
                    [20, 50, 100, 150] 
                ],
                "pageLength": 20,
                "ajax": {
                    "url": "/manage/real-estate/list.json",
                },
                "ordering": false,
                "columns": [
                	{ "name": "","data": "Id","class":"table-checkbox","title":'<input type="checkbox" class="group-checkable" />', "targets": 1, "width": 24, "render": function(data){
                		return "<input type='checkbox' value='"+ data +"' />"
                	}},
                	{ "data": "Area.Area", "title":"区域", "targets": 1 , "width":120},
                	{ "data": "Name", "title":"楼盘名称", "targets": 2,"defaultContent": "", "width":160},
                	{ "data": "", "title":"楼盘标志", "targets": 3,"defaultContent": "", "width":80},
                	{ "data": "Stats.Groupon", "title":"团购数", "targets": 4,"defaultContent": "", "width":80},
                	{ "data": "MTime.Created", "title":"付费状态 ", "targets": 5,"defaultContent": "", "width":90, "render": t2d},
                	{ "data": "MTime.Changed", "title":"更新时间", "targets": 6,"defaultContent": "", "width":90, "render": t2d},
                	{ "title":"通过", "defaultContent": "", "targets": 5, "width": 40},
                	{ "data": "", "title":"操作", "width":90 , "targets": 7, "defaultContent": "<button class='edit'>编辑</button> <button class='delete'>删除</button>"},
                ]
            }
        });
        
        $("#button-add").click(function(){
        	
        	$("#modal-form form").first().each(function(){
        		
        		this.reset();
        		$(this).validate().resetForm();
        	})
        });
        
        $("#button-search").click(function(){
        	
        	var title = $("#search-name").val().trim();
            grid.setAjaxParam("name", title);
            grid.getDataTable().ajax.reload();
            grid.clearAjaxParams();
        });
        
        $("#button-save").click(function(){
        	
        	if(!$("#modal-form form").valid()){
        		return;
        	}
        	
        	var obj = $("#modal-form form").serializeJSON();
        	
        	$.ajax({
        		
        		"url": "/manage/real-estate/upsert.json",
        		"method": "POST",
        		"dataType":"JSON",
        		"contentType":"application/json",
        		"data": JSON.stringify(obj)
        	}).success(function(){
        		
        		$("#modal-form").modal("hide");
        		grid.getDataTable().ajax.reload();
        		
        		Metronic.alert({
                    type: 'success',
                    icon: 'check',
                    message: '更新成功...',
                    container: grid.getTableWrapper(),
                    place: 'prepend',
                    closeInSeconds: 3
                });
        		
        	}).fail(function(){
        		
        		$("#modal-form").modal("hide");
        		Metronic.alert({
                    type: 'danger',
                    icon: 'danger',
                    message: '更新失败...',
                    container: grid.getTableWrapper(),
                    place: 'prepend'
                });
        	})
        });
        
        grid.getTableWrapper().on('click', '.edit', function(e){
        	
        	$(this).parents("table").first().find(".selected").removeClass("selected");
        	$(this).parents("tr").first().addClass("selected");
			
        	$("#modal-form form").first().each(function(){
        		
        		this.reset();
        		$(this).validate().resetForm();
        	})
        	var row = grid.getDataTable().row(".selected").data();
        	window.location.href = "./form.html?Id=" + row.Id;
        });
        
        grid.getTableWrapper().on('click', '.delete', function(e){
        	
        	var that = this;
        	
        	bootbox.confirm("是否确认删除?", function(ok) {
        		
        		if(!ok) return;
        		
	        	$(that).parents('tr').first().find("input[type=checkbox]").trigger("click")
	        	grid.setAjaxParam("action", "delete");
	            grid.setAjaxParam("id", grid.getSelectedRows());
	            grid.getDataTable().ajax.reload();
	            grid.clearAjaxParams();
            }); 
        })
        
        grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
        	
            e.preventDefault();
            
            var action = $(".table-group-action-input", grid.getTableWrapper());
            if (action.val() != "" && grid.getSelectedRowsCount() > 0) {
            	
            	bootbox.confirm("是否确认删除?", function(ok) {
            		
            		if(!ok) return;
            		
	                grid.setAjaxParam("action", action.val());
	                grid.setAjaxParam("id", grid.getSelectedRows());
	                grid.getDataTable().ajax.reload();
	                grid.clearAjaxParams();
            	});
            } else if (action.val() == "") {
            	
                Metronic.alert({
                    type: 'warning',
                    icon: 'warning',
                    message: '请选择一种操作...',
                    container: grid.getTableWrapper(),
                    place: 'prepend'
                });
            } else if (grid.getSelectedRowsCount() === 0) {
            	
                Metronic.alert({
                    type: 'warning',
                    icon: 'warning',
                    message:'未选中任何数据...',
                    container: grid.getTableWrapper(),
                    place: 'prepend'
                });
            }
        });
    }

    return {
        init: function () {
            handleLinks();
        }
    };
}();
</script>
<!-- END   CURRENT CONTEXT -->