<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-title">
				
				<div class="caption">
					<div class='pull-right'>
						<a data-toggle='modal' href='#modal-form' id='button-add' class='btn btn-small blue'>
							<i class='fa fa-plus-square'></i> 新建房产公司
						</a>
					</div>
					<div class="page-bar">
						<ul class="page-breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								<a href="/manage/index.html">后台管理</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								<a href="/manage/basic.html">基础资料</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								<a href="/manage/real-estate-company/index.html">房产公司</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="portlet-body">
			
				<div class='row' style='margin-bottom:15px;'>
					<div class='form-group'>
					
						<div class="col-sm-4">
							<input id='search-title' type='text' class='form-control' placeholder='房产公司名称关键字'/>
						</div>
						
						<div class='col-sm-1 '>
							<input id='button-search' type='submit' value='搜索' class='btn btn-info col-sm-offset-1' />
						</div>
						
					</div>
				</div>
				
				<div class="table-container">
					<div class="table-actions-wrapper">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">批量操作</option>
							<option value="delete">批量删除</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit red-stripe">确认</button>
						<button class="btn btn-sm red filter-cancel"><i class="fa fa-refresh"></i></button>
						<div class="btn-group">
							<a title='导出' class="btn btn-sm default yellow-stripe" href="#" data-toggle="dropdown"><i class='fa fa-external-link-square'></i></a>
							<ul class="dropdown-menu pull-right">
								<li>
									<a href="#">导出到<b>EXCEL</b></a>
								</li>
								<li>
									<a href="#">导出到<b>CSV</b></a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">打印页面</a>
								</li>
							</ul>
						</div>
					</div>
					<table class="table table-striped table-bordered table-hover" id="datatable">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal-form" class="modal fade" tabindex="-1" aria-hidden="true">

	<div class="modal-dialog" style='width:1000px;'>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">房产公司</h4>
			</div>
			<div class="modal-body">
				<div class="scroller" style="height:450px" data-always-visible="1" data-rail-visible1="1">
					<div class="row">
					<div class="col-12">
					<form class="form-horizontal form-bordered">
					
						<input name="Id" type="text" value="" hidden />
						<input name="MTime[Created]:number" type="text" value="" hidden />
						
						<div class="form-group">
							<label class="col-sm-1 control-label">公司全称<span class="required">*</span></label>
							<div class="col-sm-3 col-sm-offset-1">
								<input 
									name="Title:string" 
									type="text" 
									class="form-control required" 
									data-msg-required=""
									value=""
								/>
							</div>
							
							<label class="col-sm-1 control-label col-md-offset-1">公司简称<span class="required">*</span></label>
							<div class="col-sm-3 col-sm-offset-1">
								<input 
									name="Name:string" 
									type="text" 
									class="form-control required" 
									data-msg-required=""
									value=""
								/>
							</div>
						</div>
						
						<div class="form-group">
						
							<label class="col-sm-1 control-label">法人代表</label>
							<div class="col-sm-3 col-sm-offset-1">
								<input 
									name="Legal:string" 
									type="text" 
									class="form-control" 
									value=""
								/>
							</div>
							
							<label class="col-sm-1 control-label col-md-offset-1">联系人</label>
							<div class="col-sm-3 col-sm-offset-1">
								<input 
									name="Linkman:string" 
									type="text" 
									class="form-control" 
									data-msg-required=""
									value=""
								/>
							</div>
						</div>
						
						<div class="form-group">
						
							<label class="col-sm-1 control-label">联系电话</label>
							<div class="col-sm-3 col-sm-offset-1">
								<input 
									name="Phone:string" 
									type="text" 
									class="form-control" 
									value=""
								/>
							</div>
							
							<label class="col-sm-1 control-label col-md-offset-1">传真</label>
							<div class="col-sm-3 col-sm-offset-1">
								<input 
									name="Fax:string" 
									type="text" 
									class="form-control" 
									data-msg-required=""
									value=""
								/>
							</div>
						</div>
						
						<div class="form-group">
						
							<label class="col-sm-1 control-label">公司地址</label>
							<div class="col-sm-3 col-sm-offset-1">
								<input 
									name="Address:string" 
									type="text" 
									class="form-control" 
									value=""
								/>
							</div>
							
							<label class="col-sm-1 control-label col-md-offset-1">公司主页<span class="required">*</span></label>
							<div class="col-sm-3 col-sm-offset-1">
								<input 
									name="Homepage:string" 
									type="text" 
									class="form-control url" 
									data-url-required="请填入正确的URL"
									value=""
								/>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">公司介绍</label>
							<div class="col-sm-9 col-sm-offset-1">
								<textarea class='form-control ckeditor' name="Description:string" style='height:200px;'></textarea>
							</div>
						</div>
					</form>
					</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn green" id="button-save">保存</button>
				<button type="button" data-dismiss="modal" class="btn default">关闭</button>
			</div>
		</div>
	</div>
</div>

<!-- END PAGE CONTENT-->

<!-- BEGIN CURRENT CONTEXT -->
<script type="text/javascript">

var PageLogical = function () {

    var handleLinks = function() {

        grid = new Datatable();
        
        grid.init({
        	
            src: $("#datatable"),
            loadingMessage: '加载中...',
            dataTable: { 
                "lengthMenu": [
                    [20, 50, 100, 150],
                    [20, 50, 100, 150] 
                ],
                "pageLength": 20,
                "ajax": {
                    "url": "/manage/real-estate-company/list.json",
                },
                "ordering": false,
                "columns": [
                	{ "name": "","data": "Id","class":"table-checkbox","title":'<input type="checkbox" class="group-checkable">', "targets": 1, "width": 24, "render": function(data){
                		return "<input type='checkbox' value='"+ data +"' />"
                	}},
                	{ "data": "Title", "title":"房产公司名称", "targets": 1 , "width":200},
                	{ "data": "", "title":"公司标志", "targets": 2,"defaultContent": "", "width":160},
                	{ "data": "", "title":"楼盘数", "targets": 3,"defaultContent": "", "width":80},
                	{ "data": "Weight", "title":"排序", "targets": 4,"defaultContent": "", "width":80},
                	{ "data": "MTime.Created", "title":"创建时间", "targets": 5,"defaultContent": "", "width":90, "render": t2d},
                	{ "data": "MTime.Changed", "title":"更新时间", "targets": 6,"defaultContent": "", "width":90, "render": t2d},
                	{ "title":"", "defaultContent": "", "targets": 5},
                	{ "data": "", "title":"操作", "width":90 , "targets": 7, "defaultContent": "<a data-toggle='modal' href='#modal-form' class='btn btn-xs yellow edit'>编辑</a> <button class='delete btn btn-xs red'>删除</button>"},
                ]
            }
        });
        
        $("#button-add").click(function(){
        	
        	$("#modal-form form").first().each(function(){
        		
        		this.reset();
        		$(this).validate().resetForm();
        	})
        });
        
        $("#button-search").click(function(){
        	
        	var title = $("#search-title").val().trim();
            grid.setAjaxParam("title", title);
            grid.getDataTable().ajax.reload();
            grid.clearAjaxParams();
        });
        
        $("#button-save").click(function(){
        	
        	if(!$("#modal-form form").valid()){
        		return;
        	}
        	
        	var obj = $("#modal-form form").serializeJSON();
        	
        	$.ajax({
        		
        		"url": "/manage/real-estate-company/upsert.json",
        		"method": "POST",
        		"dataType":"JSON",
        		"contentType":"application/json",
        		"data": JSON.stringify(obj)
        	}).success(function(){
        		
        		$("#modal-form").modal("hide");
        		grid.getDataTable().ajax.reload();
        		
        		Metronic.alert({
                    type: 'success',
                    icon: 'check',
                    message: '更新成功...',
                    container: grid.getTableWrapper(),
                    place: 'prepend',
                    closeInSeconds: 3
                });
        		
        	}).fail(function(){
        		
        		$("#modal-form").modal("hide");
        		Metronic.alert({
                    type: 'danger',
                    icon: 'danger',
                    message: '更新失败...',
                    container: grid.getTableWrapper(),
                    place: 'prepend'
                });
        	})
        });
        
        grid.getTableWrapper().on('click', '.edit', function(e){
        	
        	$(this).parents("table").first().find(".selected").removeClass("selected");
        	$(this).parents("tr").first().addClass("selected");
        	$("#modal-form").deserializeJSON(grid.getDataTable().row(".selected").data());
        });
        
        grid.getTableWrapper().on('click', '.delete', function(e){
        	
        	var that = this;
        	
        	bootbox.confirm("是否确认删除?", function(ok) {
        		
        		if(!ok) return;
        		
	        	$(that).parents('tr').first().find("input[type=checkbox]").trigger("click")
	        	grid.setAjaxParam("action", "delete");
	            grid.setAjaxParam("id", grid.getSelectedRows());
	            grid.getDataTable().ajax.reload();
	            grid.clearAjaxParams();
            }); 
        })
        
        grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
        	
            e.preventDefault();
            
            var action = $(".table-group-action-input", grid.getTableWrapper());
            if (action.val() != "" && grid.getSelectedRowsCount() > 0) {
            	
            	bootbox.confirm("是否确认删除?", function(ok) {
            		
            		if(!ok) return;
            		
	                grid.setAjaxParam("action", action.val());
	                grid.setAjaxParam("id", grid.getSelectedRows());
	                grid.getDataTable().ajax.reload();
	                grid.clearAjaxParams();
            	});
            } else if (action.val() == "") {
            	
                Metronic.alert({
                    type: 'warning',
                    icon: 'warning',
                    message: '请选择一种操作...',
                    container: grid.getTableWrapper(),
                    place: 'prepend'
                });
            } else if (grid.getSelectedRowsCount() === 0) {
            	
                Metronic.alert({
                    type: 'warning',
                    icon: 'warning',
                    message:'未选中任何数据...',
                    container: grid.getTableWrapper(),
                    place: 'prepend'
                });
            }
        });
    }

    return {
        init: function () {
            handleLinks();
        }
    };
}();
</script>
<!-- END   CURRENT CONTEXT -->