<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-title">
				
				<div class="caption">
					<div class='pull-right'>
						<a href='/manage/news/form.html' class='btn btn-small blue'>
							<i class='fa fa-plus-square'></i> 新建资讯
						</a>
					</div>
					<div class="page-bar">
						<ul class="page-breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								<a href="/manage/index.html">管理首页</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								<a href="/manage/news/index.html">资讯管理</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								<a href="/manage/news/index.html">资讯管理</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="portlet-body">
			
				<div class='row' style='margin-bottom:15px;'>
					<div class='form-group'>
					
						<div class="col-sm-4">
							<input id='search-name' type='text' class='form-control' placeholder='按资讯内容搜索'/>
						</div>
						
						<div class='col-sm-1 '>
							<input id='button-search' type='submit' value='搜索' class='btn btn-info col-sm-offset-1' />
						</div>
						
					</div>
				</div>
				
				<div class="table-container">
					<div class="table-actions-wrapper">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">批量操作</option>
							<option value="delete">批量删除</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit red-stripe">确认</button>
						<button class="btn btn-sm red filter-cancel"><i class="fa fa-refresh"></i></button>
						<div class="btn-group">
							<a title='导出' class="btn btn-sm default yellow-stripe" href="#" data-toggle="dropdown"><i class='fa fa-external-link-square'></i></a>
							<ul class="dropdown-menu pull-right">
								<li>
									<a href="#">导出到<b>EXCEL</b></a>
								</li>
								<li>
									<a href="#">导出到<b>CSV</b></a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">打印页面</a>
								</li>
							</ul>
						</div>
					</div>
					<table class="table table-striped table-bordered table-hover" id="datatable">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END PAGE CONTENT-->

<!-- BEGIN CURRENT CONTEXT -->
<script type="text/javascript">

var PageLogical = function () {

    var handleLinks = function() {

        grid = new Datatable();
        
        grid.init({
        	
            src: $("#datatable"),
            loadingMessage: '加载中...',
            dataTable: { 
                "lengthMenu": [
                    [20, 50, 100, 150],
                    [20, 50, 100, 150] 
                ],
                "pageLength": 20,
                "ajax": {
                    "url": "/manage/news/list.json",
                },
                "ordering": false,
                "columns": [
                	{ "name": "","data": "Id","class":"table-checkbox","title":'<input type="checkbox" class="group-checkable" />', "targets": 1, "width": 24, "render": btn_id},
                	{ "data": "Category", "title":"主类别", "targets": 1 , "width":80,"defaultContent": "", "render": function(data) {
                		if(data && data.length > 0) {
                			return data[0].Name
                		}
                		return ""
                	}},
                	{ "data": "Title", "title":"标题", "targets": 2,"defaultContent": ""},
                	{ "data": "", "title":"封面", "targets": 3,"defaultContent": "", "width":80},
                	{ "data": "Time", "title":"发布日期", "targets": 4,"defaultContent": "", "width":120, "render": t2dt},
                	{ "data": "ST.Comments", "title":"评论", "targets": 5,"defaultContent": "0", "width":60},
                	{ "data": "MTime.Clicked", "title":"点击量", "targets": 7,"defaultContent": "", "width":60},
                	{ "data": "Status.Disabled", "title":"通过", "defaultContent": "", "targets": 8, "width": 32, "render": btn_disable},
                	{ "data": "Status.Recommended","title":"推荐", "defaultContent": "", "targets": 9, "width": 32, "render": btn_recommend},
                	{ "data": "Status.Indexed","title":"首显", "defaultContent": "", "targets": 9, "width": 32, "render": btn_index},
                	{ "data": "", "title":"操作", "width":90 , "targets": 10, "defaultContent": "<button class='edit'>编辑</button> <button class='delete'>删除</button>"}
                ]
            }
        });
        
        gridBindings(grid);
    }

    return {
        init: function () {
            handleLinks();
        }
    };
}();
</script>
<!-- END   CURRENT CONTEXT -->