{{template "lib"}}
{{set . "HTMLComponent" "newhouse" }}
{{set . "HTMLTitle" .Newhouse.Name }}
{{template "head" .}}
<body id='page-newhouse-picture-index' class='page-newhouse'>

	{{template "top" .}}
	
	<div id='hd'>
		{{set . "NewhouseComponent" "layout" }}
		{{template "newhouse-hd" .}}
	</div>
	
	<div>
	
		<div id='bd'>
		
			<div class='section'>
			
				<div class='block block-newhouse-pictures block-boundless'>
					<div class='hd clearfix'>
						<div class='f16 l3'>
							<ul>
									{{range $i, $v := .LayoutStatus}}
										<li class="clickable hoverable {{if equals $.LayoutType .Value}}active{{end}}" >
											<a href='/newhouse/l{{$.Newhouse.Id}}/list-{{.Value}}.html'>{{.Name}}</a>
										</li>
									{{end}}
							</ul>
						</div>
					</div>
					
					{{if gt .LayoutType 0}}
					
						<div class='bd clearfix'>
						
							<ul>
								{{range $ii, $vv := .LayoutPage.Data}}
									<li class='{{if eq (mod $ii 4) 3}}last{{end}}'>
										<p><a href='#'><img src='{{.Image.Palm.Path}}' width=220 height=147 /></a></p>
										<p style='float:right' class='l3 quote'>
											{{.Image.SDate}}
										</p>
										<p class='f13 l3'>
											<a href='#'>{{if .Name}}{{.Name}}{{else}}{{$.LayoutTypeName}}{{end}}</a>
										</p>
									</li>
								{{end}}
							</ul>
						</div>
						<div class='ft'>
							{{.LayoutPage.Page.SetURL .CONTEXT.URL.String}}
							{{template "pager".LayoutPage}}
						</div>
					{{else}}
						<div class='bd clearfix'>
							{{range $i, $v := slice .LayoutStatus 1 100}}
								<dl class='clearfix'>
									<dt class='l3 clearfix line f16'>
										<div class='more quote'>
											<a href='/newhouse/l{{$.Newhouse.Id}}/list-{{.Value}}.html'>更多&gt;</a>
										</div>
										<p class='bold'>{{.Name}} [{{.Count}}]</p>
									</dt>
									<dd>
										<ul>
											{{range $ii, $vv := slice .Heads 0 4 }}
											<li class='{{if eq (mod $ii 4) 3}}last{{end}}'>
												<p><a href='#'><img src='{{.Image.Palm.Path}}' width=220 height=147 /></a></p>
												<p class='f13'><a href='#'>{{if .Name}}{{.Name}}{{else}}{{$v.Name}}{{end}}</a></p>
											</li>
											{{end}}
										</ul>
									</dd>
								</dl>
							{{end}}
						</div>
					{{end}}
				</div>
			</div>
		</div>
	</div>
	
	{{template "ft" .}}
	<script type='text/javascript'>
		$(function(){
			
			var block_index = $(".block-newhouse-index");
			
			block_index.find(".next").click(function(){
				var next = block_index.find(".thumb a.active").next();
				if(next.size() == 0){
					next = block_index.find(".thumb a").first()
				}
				next.click();
			});
			
			block_index.find(".prev").click(function(){
				var prev = block_index.find(".thumb a.active").prev();
				if(prev.size() == 0){
					prev = block_index.find(".thumb a").last()
				}
				prev.click();
			});
			
			block_index.find(".thumb a").click(function(){
				
				block_index.find(".thumb a.active").removeClass("active");
				$(this).addClass("active");
				block_index.find(".pic img").attr("src", $(this).data("big"));
			})
		})
	</script>
</body>
