<!DOCTYPE html>
<html>
{{template "lib"}}
{{set . "HTMLTitle" "新房"}}
{{template "head" .}}
<body>

	{{template "top" .}}
	
	<div id='hd'>

		{{template "brand" .}}

		<div id='nav'>
			<div class='wrap'>
				<ul class='menu'>
					<li class='hoverable clickable active'><a href='/newhouse/'>新房首页</a></li>
					<li class='hoverable clickable'><a href='/newhouse/list.html'>楼盘大全</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div id='page-newhouse-index'>
		<div id='bd'>
		
			<div class='section'>
				{{ template "block-newhouse-quick-search" }}
			</div>
			
			<div class='section'>
				<div class='left-238-12'>
					{{ template "block-newhouse-focus" . }}
				</div>
				<div class='left-238-12'>
					{{ template "block-newhouse-recommends" . }}
				</div>
				<div class='left-238-12'>
					{{template "block-newhouse-deliveries" . }}
				</div>
				<div class='left-238-12 left-238-12-last'>
					{{ template "block-newhouse-opens" . }}
				</div>
			</div>
			
			<div class='section'>
			
				<div class='block-areas block block-boundless'>
					<div class='hd clearfix'>
						<h1>区域楼盘</h1>
						<ul>
							<li class='hoverable clickable active'><a href='#'>全部区域</a></li>
							<li class='hoverable clickable'><a href='#'>中心城区</a></li>
							<li class='hoverable clickable'><a href='#'>南湖新区</a></li>
							<li class='hoverable clickable'><a href='#'>秀洲新区</a></li>
							<li class='hoverable clickable'><a href='#'>城西区</a></li>
							<li class='hoverable clickable'><a href='#'>城北区</a></li>
							<li class='hoverable clickable'><a href='#'>西南区</a></li>
							<li class='hoverable clickable'><a href='#'>国际商务区</a></li>
							<li class='hoverable clickable'><a href='#'>城南区</a></li>
							<li class='hoverable clickable'><a href='#'>湘家荡</a></li>
						</ul>
					</div>
					<div class='bd clearfix'>
					
						<div class='images'>
							<img src='/images/newhouse/sample.jpg' />
						</div>
						
						<div class='row1'>
							<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-start'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>经房·浅水湾</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5888元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>金洋·紫金艺境</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
						</div>
						<div class='row2'>
							<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-start'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>经房·浅水湾</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5888元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>金洋·紫金艺境</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
	  						<dl class='clearfix'>
	  							<dd class='primary'>5200元/㎡ <i class='icon-price-average'></i></dd>
	  							<dt><i class='icon-dot'></i> <a href='#'>徽商大厦</a></dt>
	  						</dl>
						</div>
						
						<a class='more' href='#'><i class='icon-more-vertical'></i></a>
					</div>
				</div>
			</div>
			
			<div class='section'>
				<div class='block-selected block block-boundless'>
					<div class='hd'>
						<div class='more f18'>更多</div>
						<h1>户型精选</h1>
					</div>
					<div class='bd'>
						<div class='item hoverable'>
							<img width='172' height='172' src='/images/newhouse/sample-layout.jpg' />
							<p>万科·海上传奇</p>
							<p>98㎡ 2室2厅1卫</p>
							<p><a href='#'  class='btn btn-small'>我要团购</a></p>
							<p><span class='f16 primary'>400-700-1234</span> 转 <span class='f16 primary'>6486</span></p>
						</div>
						<div class='item hoverable'>
							<img width='172' height='172' src='/images/newhouse/sample-layout.jpg' />
							<p>万科·海上传奇</p>
							<p>98㎡ 2室2厅1卫</p>
							<p><a href='#'  class='btn btn-small'>我要团购</a></p>
							<p><span class='f16 primary'>400-700-1234</span> 转 <span class='f16 primary'>6486</span></p>
						</div>
						<div class='item hoverable'>
							<img width='172' height='172' src='/images/newhouse/sample-layout.jpg' />
							<p>万科·海上传奇</p>
							<p>98㎡ 2室2厅1卫</p>
							<p><a href='#'  class='btn btn-small'>我要团购</a></p>
							<p><span class='f16 primary'>400-700-1234</span> 转 <span class='f16 primary'>6486</span></p>
						</div>
						<div class='item hoverable'>
							<img width='172' height='172' src='/images/newhouse/sample-layout.jpg' />
							<p>万科·海上传奇</p>
							<p>98㎡ 2室2厅1卫</p>
							<p><a href='#'  class='btn btn-small'>我要团购</a></p>
							<p><span class='f16 primary'>400-700-1234</span> 转 <span class='f16 primary'>6486</span></p>
						</div>
						<div class='item hoverable item-last'>
							<img width='172' height='172' src='/images/newhouse/sample-layout.jpg' />
							<p>万科·海上传奇</p>
							<p>98㎡ 2室2厅1卫</p>
							<p><a href='#' class='btn btn-small'>我要团购</a></p>
							<p><span class='f16 primary'>400-700-1234</span> 转 <span class='f16 primary'>6486</span></p>
						</div>
					</div>
				</div>
			</div>
			
			<div class='section'>
				<div id='block-buyer-guide' class='block block-bordered'>
				
					<div class='hd'>
						<h1>置业指南</h1>
					</div>
					
					<div class='bd'>
					
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>前期准备</h2>
							<p><a href='#'>房产词典</a></p>
							<p><a href='#'>明确购房目的</a></p>
							<p><a href='#'>购房要了解什么</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>网上选房</h2>
							<p><a href='#'>楼盘搜索</a></p>
							<p><a href='#'>户型搜索</a></p>
							<p><a href='#'>量身选房</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>实地看房</h2>
							<p><a href='#'>验看五证二书</a></p>
							<p><a href='#'>实地考察</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>楼盘比较</h2>
							<p><a href='#'>地段交通</a></p>
							<p><a href='#'>开发商实力</a></p>
							<p><a href='#'>户型</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>认购</h2>
							<p><a href='#'>交定金</a></p>
							<p><a href='#'>签订认购书</a></p>
							<p><a href='#'>如何退定金</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>合同</h2>
							<p><a href='#'>购房合同范本</a></p>
							<p><a href='#'>补充协议</a></p>
							<p><a href='#'>合同陷阱</a></p>
						</div>
						<div class='hoverable guide guide-last clearfix'>
							<h2 class='primary'>贷款</h2>
							<p><a href='#'>付款方式</a></p>
							<p><a href='#'>购房贷款</a></p>
							<p><a href='#'>贷款计算器</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>收房验房</h2>
							<p><a href='#'>收房流程</a></p>
							<p><a href='#'>如何验收房屋</a></p>
							<p><a href='#'>验房四步走</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>入住装修</h2>
							<p><a href='#'>入住装修</a></p>
							<p><a href='#'>家装公司</a></p>
							<p><a href='#'>设计师推荐</a></p>
							<p><a href='#'>家装大全</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>房产证</h2>
							<p><a href='#'>业主办理房产证</a></p>
							<p><a href='#'>委托他人办理</a></p>
							<p><a href='#'>办理步骤</a></p>
							<p><a href='#'>不登记的弊端</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>物业</h2>
							<p><a href='#'>物业管理内容</a></p>
							<p><a href='#'>成立业主委员会</a></p>
							<p><a href='#'>物业纠纷</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>退房</h2>
							<p><a href='#'>退房条件</a></p>
							<p><a href='#'>退房手续</a></p>
							<p><a href='#'>法律维权</a></p>
						</div>
						<div class='hoverable guide clearfix'>
							<h2 class='primary'>二手房</h2>
							<p><a href='#'>二手房买卖流程</a></p>
							<p><a href='#'>买卖合同</a></p>
							<p><a href='#'>买卖纠纷</a></p>
						</div>
						<div class='hoverable guide guide-last clearfix'>
							<h2 class='primary'>租房</h2>
							<p><a href='#'>房屋租赁合同</a></p>
							<p><a href='#'>房源发布</a></p>
						</div>
					</div>
				</div>
			</div>
			
			<div class='section'>
				{{template "block-links" .}}
			</div>
		</div>
	</div>
	
	{{template "ft" .}}
</body>
</html>
