{{template "lib"}}
{{set . "HTMLComponent" "newhouse" }}
{{set . "HTMLTitle" .Newhouse.Name }}
{{template "head" .}}
<body id='page-newhouse-detail-index'>

	{{template "top" .}}
	
	<div id='hd'>

		{{template "newhouse-brand" .}}

		<div id='nav'>
			<div class='wrap'>
				<ul class='menu'>
					{{with .Newhouse}}
						<li class='hoverable clickable active'><a href='/newhouse/o{{.Id}}.html'>楼盘首页</a></li>
						<li class='hoverable clickable'><a href='/newhouse/i{{.Id}}.html'>简介</a></li>
						<li class='hoverable clickable'><a href='/newhouse/n{{.Id}}.html'>资讯</a></li>
						<li class='hoverable clickable'><a href='/newhouse/a{{.Id}}.html'>户型</a></li>
						<li class='hoverable clickable'><a href='/newhouse/d{{.Id}}.html'>配套</a></li>
						<li class='hoverable clickable'><a href='/newhouse/p{{.Id}}.html'>图库</a></li>
						<li class='hoverable clickable'><a href='/newhouse/r{{.Id}}.html'>点评</a></li>
					{{end}}
				</ul>
			</div>
		</div>
	</div>
	
	<div id='page-newhouse-index'>
		<div id='bd'>
		
			<div class='section'>
				<div class='block block-newhouse-index block-boundless'>
					<div class='bd clearfix'>
						<div class='left-490-10'>
						
							<div class='pic'>
								{{range slice .NewhousePictures 0 1}}
									<a href='/newhouse/p{{$.Newhouse.Id}}.html'><img src="{{.Big.Path}}" width=450 height=300 /></a>
								{{end}}
							</div>
							
							<div class='thumb'>
								{{range $i,$v :=slice .NewhousePictures 0 5 }}
									<a class='{{if eq $i 0}}active{{end}}' href='javascript:void(0)'><img data-big="{{.Big.Path}}" src="{{.Thumbnail.Path}}" width=85 height=57 /></a>
								{{end}}
							</div>
							
							<a href='javascript:void(0)' class='prev'><i class='icon-arrow-left-large'></i></a>
							<a href='javascript:void(0)' class='next'><i class='icon-arrow-right-large'></i></a>
						</div>
						<div class='right-500'>
							<h1>{{if .Newhouse.Adword}}{{.Newhouse.Adword}}{{else}}{{.Newhouse.Name}}{{end}}</h1>
							<div class='f16'>
							
								<dl class='l3 clearfix'>
									<dt><span class='quote'>参考售价</span></dt>
									<dd><span class='featured f18'>{{.Newhouse.Price}}</span> 元/㎡</dd>
								</dl>
								
								{{if .Newhouse.GroupDescription }}
									<div class='f18 featured l4'>
										<i class='icon-arrow-right'></i> {{.Newhouse.GroupDescription}}
									</div>
								{{end}}
								
								<dl class='l3 clearfix'>
									<dt><span class='quote'>楼盘地址</span></dt>
									<dd>{{.Newhouse.Address}}</dd>
								</dl>
								
								<dl class='l3 clearfix'>
									<dt><span class='quote'>开盘时间</span></dt>
									<dd>{{.Newhouse.SOpen}}</dd>
								</dl>
								
								<dl class='l3 clearfix'>
									<dt><span class='quote'>交房时间</span></dt>
									<dd>{{.Newhouse.SDelivery}}</dd>
								</dl>
								
								<dl class='clearfix' style='margin-top: 13px;'>
									<dt><i class='icon-phone-xlarge'></i></dt>
									<dd>
										<h1 class='l15 primary'>{{ template "newhouse-phone" .Newhouse }}</h1>
										<span class=' l15 f13 quote'>售楼处工作时间： {{.Newhouse.WorkTime}}</span>
									</dd>
								</dl>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class='section'>
				<div class='block block-newhouse-intro block-boundless'>
					<div class='hd'>
						<div class='more f16 quote'>
							<a href='#'>车位比</a>
							　|　
							<a href='#'>得房率</a>
							　|　
							<a href='#'>容积率</a>
							　|　
							<a href='#'>绿化率</a>
							　　　
							<a href='/newhouse/i{{.Newhouse.Id}}.html'>楼盘详细资料&gt;</a>
						</div>
						
						<h1>楼盘简介</h1>
					</div>
					
					<div class='bd clearfix'>
					
						<div class='left-490-10'>
							<div class='pic'>
								{{range slice .NewhousePictures 0 1}}
									<img src="{{.Big.Path}}" width=450 height=300 />
								{{end}}
							</div>
						</div>
						
						<div class='right-500'>
							<div class='f16'>
								<dl class='l25 clearfix'>
									<dt><span class='bold'>物业类型</span></dt>
									<dd>
										{{range .CONTEXT.KVs.Usage.Nodes }}
											{{if in $.Newhouse.Usage .Value }}
												{{.Name}}
											{{end}}
										{{end}}
										{{if len .Newhouse.Floor }}
										[
											{{range .CONTEXT.KVs.Floor.Nodes }}
												{{if in $.Newhouse.Floor .Value }}
													<span class='quote'>{{.Name}}</span>
												{{end}}
											{{end}}
										]
										{{end}}
									</dd>
								</dl>
								<dl class='l25 clearfix'>
									<dt><span class='bold'>参数</span></dt>
									<dd>
										{{if .Newhouse.Carbarn }}
										<span class='quote'>车位比</span>
										{{.Newhouse.Carbarn}}
										{{end}}
										　
										{{if .Newhouse.Decoration }}
										<span class='quote'>装修情况</span>
										{{.Newhouse.Decoration}}
										{{end}}
										　
										{{if .Newhouse.PropertyFee }}
										<span class='quote'>物业费</span>
										{{.Newhouse.PropertyFee}}
										{{end}}
										<br/>
										{{if .Newhouse.EffectiveAreaRatio }}
										<span class='quote'>得房率</span>
										{{.Newhouse.EffectiveAreaRatio}}
										{{end}}
										　
										{{if .Newhouse.FloorAreaRatio }}
										<span class='quote'>容积率</span>
										{{.Newhouse.FloorAreaRatio}}
										{{end}}
										　
										{{if .Newhouse.GreenRatio }}
										<span class='quote'>绿化率</span>
										{{.Newhouse.GreenRatio}}
										{{end}}
										
									</dd>
								</dl>
								
								{{if .Newhouse.Enviroment}}
								{{if .Newhouse.Enviroment.Description}}
								<dl class='l25 clearfix'>
									<dt><span class='bold'>环境</span></dt>
									<dd>
										{{.Newhouse.Enviroment.Description}}
									</dd>
								</dl>
								{{end}}
								{{end}}
								<dl class='l25 clearfix'>
									<dt><span class='bold'>特色</span></dt>
									<dd>{{join .Newhouse.Features " "}}</dd>
								</dl>
								
								{{if .Newhouse.Enviroment}}
								{{if .Newhouse.Enviroment.Schools}}
								<dl class='l25 clearfix'>
									<dt><span class='bold'>学区</span></dt>
									<dd>
										{{.Newhouse.Enviroment.Schools}}
									</dd>
								</dl>
								{{end}}
								{{end}}
								
								{{if .Newhouse.Sale}}
								<dl class='l25 clearfix'>
									<dt><span class='bold'>销售信息</span></dt>
									<dd>
										{{.Newhouse.Sale}}
									</dd>
								</dl>
								{{end}}
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class='section'>
				<div class='block block-newhouse-pictures block-boundless'>
					<div class='hd'>
						<div class='more f13 quote'>
							{{range $i, $v := .PictureStatus}}
								{{if gt $i 0 }}　|　{{end}} 
								<a href='{{if gt .Value 0}}/newhouse/p{{$.Newhouse.Id}}/list-{{.Value}}.html{{else}}/newhouse/p{{$.Newhouse.Id}}.html{{end}}'>{{.Name}} [{{.Count}}]</a>
							{{end}}
							
							　|　 <a href='#'>更多&gt;</a>
						</div>
						
						<h1>楼盘图库</h1>
					</div>
					
					<div class='bd'>
					
						<ul class='clearfix'>
							{{range $i, $v := slice .PictureStatus 1 100}}
								<li class='{{if eq (mod $i 3) 2}}break{{end}}'>
									<a href='#'><img src='{{.Cover.Palm.Path}}' width=300 height=200/></a>
									<p class='f13 center'><a href='#'>{{.Name}} [{{.Count}}]</a></p>
								</li>
							{{end}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{{template "ft" .}}
	<script type='text/javascript'>
	
		$(function(){
			
			var block_index = $(".block-newhouse-index");
			
			block_index.find(".next").click(function(){
				var next = block_index.find(".thumb a.active").next();
				if(next.size() == 0){
					next = block_index.find(".thumb a").first()
				}
				next.click();
			});
			
			block_index.find(".prev").click(function(){
				var prev = block_index.find(".thumb a.active").prev();
				if(prev.size() == 0){
					prev = block_index.find(".thumb a").last()
				}
				prev.click();
			});
			
			block_index.find(".thumb a").click(function(){
				
				block_index.find(".thumb a.active").removeClass("active");
				$(this).addClass("active");
				block_index.find(".pic img").attr("src", $(this).data("big"));
			})
		})
	</script>
</body>
