{{template "lib"}}
{{set . "HTMLComponent" "news" }}
{{set . "HTMLTitle" "资讯"}}
{{template "head" .}}
<body id='page-news-detail-index'>

	{{template "top" .}}
	
	<div id='hd'>

		{{template "brand" .}}

		<div id='nav'>
			<div class='wrap'>
				<ul class='menu'>
					<li class='hoverable clickable'><a href='/news/'>资讯首页</a></li>
					<li class='hoverable clickable'><a href='#'>专题报道</a></li>
					<li class='hoverable clickable'><a href='#'>各界声音</a></li>
					<li class='hoverable clickable'><a href='#'>成交数据</a></li>
					<li class='hoverable clickable'><a href='#'>独家探盘</a></li>
					<li class='hoverable clickable'><a href='#'><i class='icon-eye'></i> 慧眼看楼</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div id='bd'>
	
		<div class='section'>
			<div class='left-690-30'>
				{{with .News}}
				<div class='block block-boundless block-news-detail'>
					<div class='bd'>
						<blockquote class='l3'>
							您的位置： 
								<a href='/'>首页</a> 
								&gt; <a href='/news/'>资讯</a> 
								{{range slice .Category 0 1}}
									&gt; <a href='#'>{{.Name}}</a>
								{{end}}
								&gt; 正文
						</blockquote>
						
						<h1 class='f36'>{{.Title}}</h1>
						{{if .Subtitle}}
						<h2 class='primary l2'>{{.Subtitle}}</h2>
						{{end}}
						
						<blockquote class='meta'>
						
							<div data-target="#bd .content" data-sizes="12px 14px 16px 18px 20px"   class='f18 font-fixer' style='float:right'>
								<a class='font-dec' href='javascript:void(0)'>A-</a> 
								&nbsp;&nbsp;
								<a class='font-inc' href='javascript:void(0)'>A+</a>
							</div>
							
							来源：{{.SAuthor}}
							{{.STime}}
							&nbsp;&nbsp;
							<a href='#comments'><i class='icon-comment'></i> {{.NComment}}</a>
							
						</blockquote>
						
						
						{{if .Introduction}}
						<blockquote class='introduction'>
							<span class='normal'>导读</span> {{.Introduction}}
						</blockquote>
						{{end}}
						
						<div class='content'>
						
							{{.Content | safe}}
						</div>
						
						{{if .Tag}}
							<blockquote class='tags l3'>
							标签：
								{{range slice .Tag 0 1000}}
									<a class='tag' href='#'>{{.}}</a>&nbsp;
								{{end}}
							</blockquote>
						{{end}}
						
						<blockquote class='remark'>
							凡注明"来源：嘉兴房产团购网"的所有文字图片等资料，版权均属嘉兴房产团购网所有，转载须注明出处；资讯信息仅供参考，内容不代表嘉兴房产团购网观点。
						</blockquote>
					</div>
				</div>
				{{end}}
			</div>
			<div class='right-280'>
			
				{{ if .NewsSoleSingle }}
				<div class='block block-boundless block-news-sole-single'>
					<div class='bd' style="position:relative;">
					{{ range slice .NewsSoleSingle 0 1}}
						<div class='clickable'>
							{{if .Cover}}
								<img src='{{.Cover.Palm.Path}}' width=280 height=157 />
								<div class='f16 mark'>
									独家探盘
								</div>
							{{end}}
							<p class='f16' ><a href='{{.SURL}}'>{{.STitle}}</a></p>
							<blockquote>
								{{.Brief}}
							</blockquote>
						</div>
					{{ end }}
					</div>
				</div>
				{{ end }}
			
				{{ template "block-news-view" .NewsView }}
				{{ template "block-news-leader" .NewsLeader }}
				{{ template "block-news-special" .NewsSole }}
				{{ template "block-news-data" .NewsData }}
				{{ template "block-news-sole" .NewsSole }}
			</div>
		</div>
	</div>
	
	{{template "ft" .}}
	
	<script type="text/javascript">
	
		$(function(){
			
			$(".font-fixer").each(function(){
				
				var that = this;
				
				var target = $($(that).attr('data-target'));
				var sizes  = $(that).attr("data-sizes").split(/\s+/);
				
				$(that).find(".font-inc").click(function(){
					
					var fs = $(target).css("font-size");
					var include = false;
					
					for(var i=0;i<sizes.length - 1;i++){
						if(sizes[i] == fs){
							$(target).css("font-size", sizes[i+1])
							if(i+1 == sizes.length-1){
								$(this).css("color", "#ddd");
							}
							$(that).find(".font-dec").css("color", "#333");
						}
					}
				})
				
				$(that).find(".font-dec").click(function(){
					
					var fs = $(target).css("font-size");
					for(var i=sizes.length-1;i>0;i--){
						
						if(sizes[i] == fs){
							$(target).css("font-size", sizes[i-1])
							if(i-1 == 0){
								$(this).css("color", "#ddd");
							}
							$(that).find(".font-inc").css("color", "#333");
						}
					}
				})
			});
		});
	</script>
	
</body>
