{{template "lib"}}
{{set . "HTMLTitle" "用户中心"}}
{{template "head" .}}
<body id='page-user-index'>

	{{template "top-static" .}}
	
	<div id='bd'>
		
		<div class='section'>
		
			<div class='left-700'>
			</div>
			
			<div class='right-300'>
			</div>
		</div>
	
	</div>
	
	{{template "ft" .}}
	
	<script type="text/javascript">
	</script>
	
</body>
