body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.slide-transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.slide-enter,
.slide-leave {
  opacity: 0;
}
#app header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #15415c;
}
#app section {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 45px;
  margin-left: 200px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#app section nav {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1000;
}
#app section nav .nav-header {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  transform: translateY(-200px);
  font-size: 18px;
  position: absolute;
  left: 80px;
  color: #fff;
  text-shadow: 1px 0 1px #000;
}
#app section .table th {
  background-color: #f1f1f1;
  font-weight: bold;
}
#app section .table td {
  vertical-align: middle;
}
#app section .c-pager {
  text-align: right;
}
#app section .c-pager .pagination {
  margin-top: 0;
}
#app section .content {
  border-radius: 0;
  border: none;
  box-shadow: none;
}
#app section .content .panel-heading {
  background-color: #f8fafe;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}
#app section .content .panel-heading .nav {
  margin-top: 2px;
  line-height: 35px;
}
#app section .content .panel-heading .nav li a {
  padding: 0 10px;
  color: #141414;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#app section .content .panel-heading .nav li a:hover {
  background-color: #dddddd;
  color: #555555;
}
#app section .content .panel-heading .nav li.active a {
  background-color: transparent;
  color: #21841d;
}
#app section .content .panel-heading .btn {
  color: #036;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#app section .content .panel-heading .btn:hover {
  background-color: #dddddd;
  color: #555555;
}
#app section .content .panel-heading .pull-right.btn {
  margin-top: 2px;
}
#app section .content .panel-heading .pull-right .dropdown-toggle {
  margin-bottom: 5px;
}
#app.hidden-header header {
  left: -200px;
}
#app.hidden-header section {
  margin-left: 0;
}
#app.hidden-header section nav {
  left: 0;
}
#app.hidden-header section nav .nav-header {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.login-page {
  height: 100%;
  width: 100%;
  background-image: url("/order/admin/static/images/bg.jpeg");
  background-size: cover;
  display: table;
}
.login-page section {
  display: table-cell;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.login-page section .panel {
  float: none;
  display: inline-block;
}
.has-warning {
  color: #8a6d3b;
}
.upfile {
  position: relative;
  overflow: hidden;
}
.upfile input[type='file'] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
