.page-car .car-header {
  height: 105px;
  background-color: #fff;
  background-image: url("/static/images/carHeader.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }
.page-car .car-seat {
  width: 100%;
  text-align: center;
  background-color: #fff; }
  .page-car .car-seat td {
    padding: 10px 5px; }
    .page-car .car-seat td a {
      display: block;
      height: 49px;
      text-align: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
    .page-car .car-seat td a.void-seat {
      background-image: url("/static/images/white.png"); }
    .page-car .car-seat td a.order-seat {
      background-image: url("/static/images/red.png");
      color: #fff; }
