<div class="page-history">
    <div class="panel admin-panel">
        <div class="panel-head">
            <strong>
                登陆日志
            </strong>
        </div>

        <table class="table table-hover">
            <tr><th width="200">用户名</th><th width="*">邮箱</th><th width="200">操作</th><th width="200">时间</th></tr>
            <tr v-repeat="v in traces">
                <td>{{v.user.name}}</td>
                <td>{{v.user.email}}</td>
                <td>{{getAction(v.action)}}</td>
                <td>{{getTime(v.created)}}</td>
            </tr>
        </table>

        <c-pager count="{{@ count}}" limit="{{@ limit}}" page="{{@ page}}"></c-pager>

    </div>

</div>