<div class="mui-content p-config">
    <header>


        <img src="/order/admin/static/images/my.jpg" alt="" class="img-circle">
        <h5>个人信息暂未开发</h5>

    </header>

    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a href="" class="mui-navigate-right">
                历史订单
                <span class="mui-badge">开发中</span>
            </a>
        </li>
        <li class="mui-table-view-cell">
            <a href="" class="mui-navigate-right">
                帮助文档
                <span class="mui-badge">制作中</span>
            </a>
        </li>
    </ul>
    <!--<div class="mui-content-padded">-->
        <!--<a href="" class="mui-btn mui-btn-block mui-btn-warning">-->
            <!--<span class="mui-icon mui-icon-close"></span>-->
            <!--解除绑定-->
        <!--</a>-->
    <!--</div>-->

</div>
<c-nav view="config"></c-nav>