.page-busSeat{

  .bus-header{
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
    span{
      padding: 3px 40px;
      background-color: #dd524d;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      text-shadow: 1px 1px 1px #000;
    }

    a{
      height: 15px;
      width: 15px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 5px;
    }
    .void{
      background-color: #00BB9C;
    }
    .order{
      background-color: #33475F;
    }
  }

  .bus-body{
    width: 100%;
    text-align: center;
    background-color: #efeff4;
    td{
      padding: 4px 10px;
    }

    a{
      display: block;
      height: 50px;
      color: #60418c;
      font-size: 16px;
      line-height: 38px;
      font-weight: bold;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    td.icon-seat-void {
      width: inherit;
      a{
        background-image:url("/static/images/seat-void.png");
        width: 100%;
        color: #fff;
      }
    }

    td.icon-seat-order{
      width: inherit;
      a{
        background-image:url("/static/images/seat-order.png");
        width: 100%;
        color: #fff;
      }
    }

    td.icon-seat-select{
      width: inherit;
      a{
        background-image:url("/static/images/seat-select.png") !important;
        color: yellow;
        width: 100%;
      }
    }
  }

}

