<div class="page-companyOrder container-layout">
    <div class="line">
        
        <div class="x12" style="padding-left: 5px;">
            <div class="panel admin-panel">
                <div class="padding border-bottom">
                    <div class="form-inline">
                        <div class="form-group">

                            

							<div class="field">
                                <label>查询日期</label>
                                <!--<select class="input" v-model="selectCalendar" options="calendar" >-->
                                    <!--<option value="">请选择日期</option>-->
                                <!--</select>-->
                                <!--<input type="button" v-on="click:showDatePicker" v-attr="value:date||'请选择时间'" style="height: 40px" >-->
                                <!--<input type="text" style="height: 40px"  v-model="selectCalendar"  name="bdter" id="bdter"readonly="" class="textbox"   value="" />-->
                             <input class="input" id="selectCalendar" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})"/>
                                <!--<option value="">请选择日期</option>-->
                                <!--</select>-->
                                <!--<input type="test" id="selectCalendar" v-on="change:aa()" v-model="selectCalendar"/>-->
                            </div>
							<div class="label">
								&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="field">

                                <select v-on="change:searchTicketStats" class="input" v-model="selectWhither" options="whither">
                                    <option>请选择目的地</option>
                                </select>
                            </div>
                            <div class="label">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="field">
                                <button class="button  bg-green" v-on="click:searchTicketStats" data-target="#user-dialog" data-mask="1" data-width="50%"    >
                                    <span class="icon-search"></span>搜索</button>
                                </button>
                               <!--<input type="button" v-on="click:searchTicketStats" value="查询">-->
                            </div>
                        </div>
                        <span class="badge bg-sub">{{selectCalendar}}</span>
                        <span class="badge bg-sub">{{busname}}</span>
                        <span class="badge bg-sub">{{line}}</span>
                    </div>
                </div>

                <div v-component="{{childView}}" keep-alive ></div>

            </div>

        </div>
    </div>
</div>